<footer id="footer">
  <div class="container">
    <div class="row">

      <!-- LEFT: Logo + Social + Links -->
      <div class="col-lg-9">
        <div class="foot-main">
          <div class="foot-left">
            <img src="assets/images/logo/logo.svg" class="img-fluid logo-img" alt="Logo">

            <p class="mt-3">
              Get the goods! Travel deals, new trips, inspiration and more.
            </p>

            <!-- SOCIAL ICONS -->
            <ul class="social-links">
              <li>
                <a href="#" target="_blank" class="icon-link" aria-label="Facebook">
                  <i class="bi bi-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" class="icon-link" aria-label="Instagram">
                  <i class="bi bi-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" class="icon-link" aria-label="Twitter">
                  <i class="bi bi-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" class="icon-link" aria-label="Pinterest">
                  <i class="bi bi-pinterest"></i>
                </a>
              </li>
            </ul>
          </div>

<!-- RIGHT: Footer Links -->
<div class="foot-right">
  <span class="link-group">
    <h2>Booking</h2>
    <ul>
      <li><a routerLink="my-booking">My Booking</a></li>
      <li><a routerLink="travel-alerts">Travel Alerts</a></li>
      <li><a routerLink="after-your-booking">After your booking</a></li>
      <li><a routerLink="cancellations-and-rebookings">Cancellation policy</a></li>
    </ul>
  </span>

  <span class="link-group">
    <h2>Company</h2>
    <ul>
      <li><a routerLink="privacy-policy">Privacy policy</a></li>
      <li><a routerLink="terms-and-conditions">Terms and Conditions</a></li>
      <li><a routerLink="contact-us">Contact us</a></li>
      <li><a routerLink="FAQ">FAQ</a></li>
    </ul>
  </span>

  <span class="link-group">
    <h2>Travelers</h2>
    <ul>
      <li><a routerLink="about-us">About us</a></li>
      <li><a routerLink="days-to-come">Days to Come Magazine</a></li>
      <li><a routerLink="win-an-adventure">Win an Adventure</a></li>
    </ul>
  </span>
</div>
        </div>
      </div>

      <!-- RIGHT: Banner Image -->
      <div class="col-lg-3 text-end">
        <img src="assets/images/banner-footer.png" class="img-fluid footer-banner" alt="Footer Banner" style="border-radius:10px">
      </div>

    </div>
  </div>
</footer>