<app-search-bar></app-search-bar>


<section class="great-time">
<div class="container">
  <div class="row">
  <div class="col-lg-12">
  <div class="tour-trips">
      <h2>Visit These Gloomy Destinations 
          for a Great Time</h2>
          <p>
            Don't sweat it! Head to Scotland and Ireland for ancient wonders, stunning <br>
          nature, and milder temperatures.
          </p>
  </div>
</div>
</div>
</div>
</section>
<section class="main-drinks">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
           <div class="food">
              <div class="mad-1">
                 <h2>Food & Drink</h2>  
              </div>
              <div class="mad-2">
                <div class="line"></div>
              </div>
           </div>
        </div>
         <div class="col-lg-12">
           <div class="speakeasies">
              <ul>
                <li>
                  <img src="assets/images/win-banner-1.png" class="img-fluid">
                  <p>Europe | Food & Drink</p>
                  <h2>
                    Your Guide to Amsterdam’s Secret <br>
                    Bars and Speakeasies
                  </h2>
                </li>
                <li>
                 <img src="assets/images/win-banner-2.png" class="img-fluid">
                  <p>Food & Drink | Lifestyle</p>
                  <h2>
                    Willy Wonka Style Chocolate Travel <br>
                    Destinations
                  </h2>
                </li>
                <li>
                  <img src="assets/images/win-banner-3.png" class="img-fluid">
                  <p>Europe | Food & Drink</p>
                  <h2>
                   The Best Christmas Markets in <br>
                   France
                  </h2>
                </li>
              </ul>
           </div>
        </div>
       
      </div>
  </div>
</section>
<section class="recent-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
               <h2>Recent Articles</h2>

        </div>
        <div class="col-lg-12">
            <div class="recent-articles">
                 <div class="articles-lft">
                  <h3>Iceland and the (Somewhat Elusive) Northern Lights</h3>
                  <p>Thrilled by the prospect of experiencing Mother Nature’s spectacular light show, I booked a 5-day cruise along the Norwegian coast—unaware of just how many extra expenses awaited me. </p>
                 </div>
                  <div class="articles-rgt">

                   <img src="assets/images/win-banner-4.png" class="img-fluid">

                 </div>
            </div>
             <div class="recent-articles">
                
                  <div class="articles-rgt">

                   <img src="assets/images/win-banner-5.png" class="img-fluid">

                 </div>
                  <div class="articles-lft">
                  <h3>Visit These Gloomy Destinations for a Great 
Time
</h3>
                  <p>Edinburgh, the capital of Scotland, is one of the world’s most remarkable cities, renowned for its majestic landmarks such as the iconic Edinburgh Castle nestled in the city’s heart.</p>
                 </div>
            </div>
             <div class="recent-articles">
                 <div class="articles-lft">
                  <h3>Top Countries You Haven’t Been (Yet!)</h3>
                  <p>This small, lesser-known European gem truly packs a punch! Nestled between the rugged mountains of the southern Balkan Peninsula and the sparkling Adriatic coast, it’s quickly becoming a favorite Mediterranean destination. Offering many of the same charms as its neighbors—Greece, Montenegro, and Croatia—yet often at more affordable prices, it’s an enticing choice for savvy travelers.</p>
                 </div>
                  <div class="articles-rgt">

                   <img src="assets/images/win-banner-6.png" class="img-fluid">

                 </div>
                 
            </div>
             <div class="recent-articles">
               <div class="articles-rgt">

                   <img src="assets/images/win-banner-7.png" class="img-fluid">

                 </div>
                 <div class="articles-lft">
                  <h3>Is Costa Rica Safe to Visit Right Now?</h3>
                  <p>Compared to other Latin American countries, Costa Rica stands out as one of the safest destinations, boasting relatively low crime rates overall. Many tourist areas and national parks are well-protected and widely regarded as safe for visitors.</p>
                 </div>
                 
                 
            </div>
              <div class="recent-articles">
              
                 <div class="articles-lft">
                  <h3>Your 4 Must-Visit Inclusive Destinations</h3>
                  <p>One of my favorite pastimes in Amsterdam is enjoying the food. Thanks to its diverse population, the city offers top-quality restaurants representing cuisines from around the world. A must-try for me is Surinamese cuisine—a unique blend of flavors from India, Indonesia, and West Africa that you won’t find anywhere outside of Suriname itself.</p>
                 </div>
                  <div class="articles-rgt">

                   <img src="assets/images/win-banner-8.png" class="img-fluid">

                 </div>
                 
            </div>
        </div>
        </div>
    </div>

</section>
<section class="dest-day">
     <div class="container">
           <div class="row">
            <div class="col-lg-12">
              <h2>Most Popular Destinations</h2>
              <ul>
                <li>
                  <img src="assets/images/day-banner-1.png" class="img-fluid">
                  <p>Africa</p>
                </li>
                 <li>
                   <img src="assets/images/day-banner-2.png" class="img-fluid">
                  <p>Europe</p>
                </li>
                 <li>
                   <img src="assets/images/day-banner-3.png" class="img-fluid">
                  <p>North America</p>
                </li>
                 <li>
                   <img src="assets/images/day-banner-4.png" class="img-fluid">
                  <p>Latin America</p>
                </li>
              </ul>

           </div>
           </div>
     </div>
</section>