<section>
<div class="container">
<div class="row">
  <div class="col-lg-12">
    <div class="whereto-go">
      <div class="when">
        <ul>
        <li><img src="assets/images/icon-1.png"> <input placeholder="Where To"></li>
          <li class="gray">|</li>
          <li><img src="assets/images/icon-2.png"> <input placeholder="When?"> </li>
          <li class="gray">|</li>
          <li><img src="assets/images/icon-3.png"> <input placeholder="All Adventures"></li>
      </ul>
      </div>
      <div class="when-btn">
        <a href="#"><i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>    
</div>    
</div>    
</section>
<section class="my-booking">
    <div class="container">
      <div class="row">
      <div class="col-lg-12">
      <div class="tour-trips">
          <h2>Direct Bookings</h2>
          <p>
            Unlock your full potential and elevate your multi-day business
          </p>
      </div>
    </div>
    </div>
    </div>
</section>
<section class="improved ">
       <div class="container">
         <div class="row">
          <div class="col-lg-1"></div>
           <div class="col-lg-10">
                   <ul>
                     <li>
                         <span><img src="assets/images/my-icon-1.png"></span>
                         <h3>Why should I enter a contest?</h3>
                         <p>Easily manage your inventory in real time through your all-in-one tossntrips Dashboard. Integrate Booking and Enquiry widgets or links directly into your website to drive more bookings from your customers.</p>
                     </li>
                      <li>
                          <span><img src="assets/images/my-icon-2.png"></span>
                          <h3>Improved Profitability</h3>
                          <p>Payments shouldn’t feel like an adventure. We keep things simple with clear, competitive processing fees you can trust. </p>
                     </li>
                      <li>
                          <span><img src="assets/images/my-icon-3.png"></span>
                          <h3>Increased Customer Satisfaction</h3>
                          <p>Deliver your clients a seamless and enjoyable journey from start to finish. Our booking management tools monitor customer behavior, securely store data, and simplify communications—making the entire process smooth for everyone involved.
                          </p>
                     </li>
                   </ul>
           </div>
           <div class="col-lg-1"></div>
        </div>
       </div>
</section>
<section class="pricing">
   <div class="container">
     <div class="row">
        <div class="col-lg-6">
          <h2>Bring pricing and availability to your website</h2>
          <p>
            Our customizable widgets, iFrames, and links offer plug-and-play simplicity, effortlessly integrating into your existing website without requiring technical expertise. Whether you want to boost your site’s functionality or enhance your customers’ booking experience, our solutions make it easy.
          </p>
       </div>
       <div class="col-lg-6 text-right">
            <img src="assets/images/my-booking-banner-4.png" class="img-fluid">
       </div>
    </div>
   </div>
</section>

<section class="spreadsheets">
    <div class="container">
         <div class="row">
             <div class="col-lg-12">

              <div class="processing">
                 <div class="inquiry">
                        <img src="assets/images/my-booking-banner-5.png">
                        <div class="blue-back-1">
                          <h2>Stay on top of your booking and inquiry </h2>
                          <p>
                           Say goodbye to spreadsheets! Our intuitive dashboard puts all your bookings in one easy-to-access place, giving your whole team instant access whenever they need it.
                           <br><br>
                           Plus, with automated notifications, you’ll never miss an inquiry or booking update — making your workflow smoother and completely spreadsheet-free.
                          </p>

                        </div>
                 </div> 
                  <div class="inquiry">
                     <div class="blue-back-1">
                          <h2>Simplify global payment processing</h2>
                          <p>
                           Collecting payments is simple and hassle-free! Share payment links with your customers to securely collect funds for any activity they book with you.
<br><br>
At tossntrips Payments, we understand your global reach — that’s why our platform supports multiple currencies, including Australian Dollars, Canadian Dollars, US Dollars, Euros, British Pounds, and New Zealand Dollars.
                          </p>

                        </div>
                        <img src="assets/images/my-booking-banner-6.png">
                       
                 </div> 
                 <div class="inquiry">
                        <img src="assets/images/my-booking-banner-7.png">
                        <div class="blue-back-1">
                          <h2>Provide your clients a fully customizable</h2>
                          <p>
                           Our customizable features let you quickly update quotes, generate payment links, and integrate tailored "Contact Us" forms to gather travelers’ essential information. Use the Booking Conversation Page to efficiently manage requests without the need to resend tour details repeatedly.
<br><br>
Our mission is to simplify your booking process, boost operational efficiency, and empower you to deliver exceptional travel experiences.

                          </p>

                        </div>
                 </div> 

              </div>

            </div>
         </div>
    </div>

</section>
<section class="details">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="solution">
                <div class="2">
                  <h2>Want to know more?</h2>
                  <p>Visit our Help Center to learn more about our Direct Booking Solution.</p>
                </div>
                <div class="2">
                      <button>Show more</button>
                </div>
            </div>
           
        </div>
        
      </div>
    </div>
</section>