.whereto-go{
  width: 93%;
  margin: 0 auto 0;
  /* float: left; */
  box-shadow: 0px 3px 4px 0px rgb(12 6 14 / 14%);
  -webkit-box-shadow: 0px 3px 4px 0px rgb(12 6 14 / 14%);
  border: 1px solid #e7e7e7;
  border-radius: 39px;
  display: flex;
  justify-content: space-between;
  padding: 26px 17px;
  align-items: center;
}
.whereto-go .when{
  width: 88%;
  margin-right:5%;
}
.whereto-go ul{
  margin:0;
  padding:0;
  display: flex;
  justify-content: space-between;

  }
.whereto-go ul li{
  display: inline-flex;
  list-style-type: none;
 
}
.whereto-go ul li img{
  height:22px;
  margin-right:10px;
}
.whereto-go ul li input{
  border:0;
  font-size: 16px;
  font-weight: 600;
  width:100%;
}
.whereto-go .when-btn{
  width: 4.6%;
}
.whereto-go .when-btn a{
    background: #00154c;
    width: 47px;
    height: 47px;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    color: #fff;
    border-radius: 50%;
}
.whereto-go .when-btn a i{font-size: 22px;}

@media (max-width:767px) {
.whereto-go {
    width: 100%;
    display: block;
}
.whereto-go ul {
    display: block;
}
.whereto-go .when {
    width: 100%;
    margin-right: 0;
}
.whereto-go ul li.gray{display:none;}
.whereto-go ul li {
    display: inline-flex;
    list-style-type: none;
    padding: 10px 0 10px;
    border-bottom: 1px solid #c2c2;
    width: 100%;
}
.whereto-go .when-btn {
    width: 100%;
    text-align: center;
    margin-top: 18px;
}

.whereto-go ul li input {
    border: 0;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}
.whereto-go{
    padding: 14px 7px;
}

}