    <section>
        <div class="container">
         <div class="row">
           <div class="col-lg-12">
             <div class="whereto-go">
              <div class="when">
                <ul>
                <li><img src="assets/images/icon-1.png"> <input placeholder="Where To"></li>
                  <li class="gray">|</li>
                  <li><img src="assets/images/icon-2.png"> <input placeholder="When?"> </li>
                  <li class="gray">|</li>
                  <li><img src="assets/images/icon-3.png"> <input placeholder="All Adventures"></li>
              </ul>
              </div>
              <div class="when-btn">
                <a href="#"><i class="bi bi-angle-right"></i></a>
              </div>
             </div>
           </div>    
        </div>    
        </div>    
    </section>