<app-search-bar></app-search-bar>

<section class="bring">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="banner">
          <h1>
            Turning Travel Dreams into<br />
            Magical Journeys
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="explore-the-best">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Explore Iconic Places & World’s Best Attractions</h2>
        <h3>Travel the World with the Best Tours and Adventures</h3>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="grid">
          <figure class="effect-steve">
            <img src="assets/images/poplar-banner-1.png" class="img-fluid" />

            <figcaption>
              <h2>Japan</h2>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="grid">
          <figure class="effect-steve">
            <img src="assets/images/poplar-banner-2.png" class="img-fluid" />

            <figcaption>
              <h2>Morocco</h2>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="grid">
          <figure class="effect-steve">
            <img src="assets/images/poplar-banner-3.png" class="img-fluid" />

            <figcaption>
              <h2>Vietnam</h2>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-3">
        <div class="grid">
          <figure class="effect-steve">
            <img src="assets/images/poplar-banner-4.png" class="img-fluid" />

            <figcaption>
              <h2>Peru</h2>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="grid">
          <figure class="effect-steve">
            <img src="assets/images/poplar-banner-5.png" class="img-fluid" />

            <figcaption>
              <h2>Egypt</h2>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="grid">
          <figure class="effect-steve">
            <img src="assets/images/poplar-banner-6.png" class="img-fluid" />

            <figcaption>
              <h2>Italy</h2>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="explore-the-best">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Explore the Best Tours & Most Popular Destinations Worldwide</h2>
        <h3>Top-Rated Adventures and Tours for Every Traveler</h3>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="adventures">
        <ul>
          <li>
            <img src="assets/images/category-icon-7.png" />
            <p>Families</p>
          </li>
          <li>
            <img src="assets/images/category-icon-8.png" />
            <p>Couples</p>
          </li>
          <li>
            <img src="assets/images/category-icon-9.png" />
            <p>Seniors</p>
          </li>
          <li>
            <img src="assets/images/category-icon-10.png" />
            <p>Group Travel</p>
          </li>
          <li>
            <img src="assets/images/category-icon-11.png" />
            <p>Solo</p>
          </li>
          <!-- <li>
                              <img src="assets/images/category-icon-12.png">
                              <p>Solo</p>
                            </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="why-travel">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Experience Travel the TossnTrips Way</h2>
        <p>
          TossnTrips transforms the way you travel — blending comfort,
          adventure, and personalization into every trip. Whether you crave
          relaxation or exploration, we make it simple to see the world your
          way.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="small-group">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li>
            <div class="join-like">
              <h3>
                <img src="assets/images/travel-icon-12.png" /> Your Adventure,
                Your Way
              </h3>
              <p>
                Design your perfect trip with flexible itineraries that cater to
                your interests and pace. Whether it's a serene escape or an
                action-packed adventure, the choice is yours.
              </p>
            </div>
          </li>
          <li>
            <div class="join-like">
              <h3>
                <img src="assets/images/travel-icon-13.png" /> Seamless Booking,
                Stress-Free Travel
              </h3>
              <p>
                Book your dream trip in minutes with TossnTrips’ easy and secure
                booking system. From flexible options to instant confirmations,
                your next adventure is just a few clicks away
              </p>
            </div>
          </li>
          <li>
            <div class="join-like">
              <h3>
                <img src="assets/images/travel-icon-14.png" /> Personalized
                adventures, Tailored journey
              </h3>
              <p>
                Experience worry-free travel with trips that are confirmed and
                expertly crafted. Explore the world’s most breathtaking places
                alongside fellow explorers who share your passion
              </p>
            </div>
          </li>
          <li>
            <div class="join-like">
              <h3>
                <img src="assets/images/travel-icon-15.png" /> Travel That Gives
                Back
              </h3>
              <p>
                Make every journey meaningful. TossnTrips supports sustainable
                travel that protects nature, empowers people, and celebrates
                cultures around the world.
              </p>
            </div>
          </li>
          <li>
            <div class="join-like">
              <h3>
                <img src="assets/images/travel-icon-16.png" /> Travel Smarter,
                Travel Better
              </h3>
              <p>
                Simplify every step of your travel — from planning to packing.
                With TossnTrips, enjoy smarter itineraries, seamless
                coordination, and unforgettable experiences made easy.
              </p>
            </div>
          </li>
          <li>
            <div class="join-like">
              <h3>
                <img src="assets/images/travel-icon-17.png" /> Go Beyond the
                Guidebook
              </h3>
              <p>
                Travel with TossnTrips and discover what most tourists miss. Our
                local guides reveal secret spots, unique traditions, and
                authentic experiences for a truly immersive journey.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section class="new-trips">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
          <mat-tab label="Only Intrepid experiences">
            <div class="trip-all">
              <ul>
                <li>
                  <img
                    src="assets/images/only-Intrepid-18.png"
                    class="img-fluid"
                  />
                  <p>15 days</p>
                  <strong>Premium Morocco in<br />Depth</strong>
                  <span>USD $4,014</span>
                </li>

                <li>
                  <img
                    src="assets/images/only-Intrepid-19.png"
                    class="img-fluid"
                  />
                  <p>10 days</p>
                  <strong
                    >Vietnam Express <br />
                    Southbound</strong
                  >
                  <span>USD $1,118</span>
                </li>
                <li>
                  <img
                    src="assets/images/only-Intrepid-20.png"
                    class="img-fluid"
                  />
                  <p>15 days</p>
                  <strong
                    >Sacred Land of the<br />
                    Incas</strong
                  >
                  <span>USD $2,824</span>
                </li>
                <li>
                  <img
                    src="assets/images/only-Intrepid-21.png"
                    class="img-fluid"
                  />
                  <p>12 days</p>
                  <strong>Premium Japan</strong>
                  <span>USD $6,588</span>
                </li>
                <li>
                  <img
                    src="assets/images/only-Intrepid-22.png"
                    class="img-fluid"
                  />
                  <p>10 days</p>
                  <strong
                    >Greece Sailing <br />
                    Adventure: Cyclades <br />
                    Islands</strong
                  >
                  <span>USD $4,014</span>
                </li>
              </ul>
            </div>
          </mat-tab>

          <mat-tab label="New trips">
            <div class="trip-all">
              <ul>
                <li>
                  <img
                    src="assets/images/only-Intrepid-19.png"
                    class="img-fluid"
                  />
                  <p>10 days</p>
                  <strong>Vietnam Express<br />Southbound</strong>
                  <span>USD $1,118</span>
                </li>

                <li>
                  <img
                    src="assets/images/only-Intrepid-19.png"
                    class="img-fluid"
                  />
                  <p>10 days</p>
                  <strong
                    >Vietnam Express <br />
                    Southbound</strong
                  >
                  <span>USD $1,118</span>
                </li>
                <li>
                  <img
                    src="assets/images/only-Intrepid-20.png"
                    class="img-fluid"
                  />
                  <p>15 days</p>
                  <strong
                    >Sacred Land of the<br />
                    Incas</strong
                  >
                  <span>USD $2,824</span>
                </li>
                <li>
                  <img
                    src="assets/images/only-Intrepid-21.png"
                    class="img-fluid"
                  />
                  <p>12 days</p>
                  <strong>Premium Japan</strong>
                  <span>USD $6,588</span>
                </li>
                <li>
                  <img
                    src="assets/images/only-Intrepid-22.png"
                    class="img-fluid"
                  />
                  <p>10 days</p>
                  <strong
                    >Greece Sailing <br />
                    Adventure: Cyclades <br />
                    Islands</strong
                  >
                  <span>USD $4,014</span>
                </li>
              </ul>
            </div>
          </mat-tab>

          <mat-tab label="Popular trips">
            <div class="trip-all">
              <ul>
                <li>
                  <img
                    src="assets/images/only-Intrepid-20.png"
                    class="img-fluid"
                  />
                  <p>15 days</p>
                  <strong>Sacred Land of the<br />Incas</strong>
                  <span>USD $2,824</span>
                </li>

                <li>
                  <img
                    src="assets/images/only-Intrepid-19.png"
                    class="img-fluid"
                  />
                  <p>10 days</p>
                  <strong
                    >Vietnam Express <br />
                    Southbound</strong
                  >
                  <span>USD $1,118</span>
                </li>
                <li>
                  <img
                    src="assets/images/only-Intrepid-20.png"
                    class="img-fluid"
                  />
                  <p>15 days</p>
                  <strong
                    >Sacred Land of the<br />
                    Incas</strong
                  >
                  <span>USD $2,824</span>
                </li>
                <li>
                  <img
                    src="assets/images/only-Intrepid-21.png"
                    class="img-fluid"
                  />
                  <p>12 days</p>
                  <strong>Premium Japan</strong>
                  <span>USD $6,588</span>
                </li>
                <li>
                  <img
                    src="assets/images/only-Intrepid-22.png"
                    class="img-fluid"
                  />
                  <p>10 days</p>
                  <strong
                    >Greece Sailing <br />
                    Adventure: Cyclades <br />
                    Islands</strong
                  >
                  <span>USD $4,014</span>
                </li>
              </ul>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>

<section class="spotlight">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Spotlight</h2>
        <p>
          Stay updated with TossnTrips—latest travel news, insider tips, and
          exclusive offers all in one place
        </p>
      </div>
      <div class="col-lg-12">
        <ul>
          <li class="happening-1">
            <h3>Deals of the Week</h3>
            <p>
              Top Asian adventures at irresistible prices—book your dream trip
              now
            </p>
          </li>
          <li class="happening-2">
            <h3>Private Adventures</h3>
            <p>Your personalized adventure, ready to explore</p>
          </li>
          <li class="happening-3">
            <h3>Connect, Explore, and Travel Solo</h3>
            <p>
              Step into a solo adventure with TossnTrips and discover the thrill
              of exploring the world on your own terms. Meet fellow travelers,
              share experiences, and create unforgettable memories every step of
              the way.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="insurance">
          <ul>
            <li>
              <div class="dest-1">
                <img src="assets/images/travel-icon-26.png" />
              </div>
              <div class="dest-2">
                <p>Travel Insurance</p>
              </div>
            </li>
            <li>
              <div class="dest-1">
                <img src="assets/images/travel-icon-27.png" />
              </div>
              <div class="dest-2">
                <p>Travel & Earn</p>
              </div>
            </li>
            <li>
              <div class="dest-1">
                <img src="assets/images/travel-icon-28.png" />
              </div>
              <div class="dest-2">
                <p>24/7 Customer Support</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <div class="row">
      <!-- LEFT: Swiper Carousel -->
      <div class="col-lg-6">
        <div class="blog_content">
          <swiper-container
            #swiperRef
            class="my-swiper"
            loop="true"
            slides-per-view="2"
            space-between="20"
            speed="700"
            autoplay-delay="2000"
            autoplay-disable-on-interaction="false"
            autoplay-pause-on-mouse-enter="false"
            pagination="true"
            pagination-clickable="true"
          >
            <swiper-slide>
              <div class="blog_item">
                <div class="blog_image">
                  <img
                    src="assets/images/slide-banner-1.png"
                    class="img-fluid"
                    alt="Back Roads of Japan"
                  />
                </div>
                <div class="blog_details">
                  <span>14 DAY TOUR</span>
                  <h5>Back Roads of Japan</h5>
                  <p><strong>$2,924</strong> / per person</p>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="blog_item">
                <div class="blog_image">
                  <img
                    src="assets/images/slide-banner-2.png"
                    class="img-fluid"
                    alt="Vietnam Tour"
                  />
                </div>
                <div class="blog_details">
                  <span>14 DAY TOUR</span>
                  <h5>Epic Vietnam: Hanoi, Ho Chi Minh City & Handma</h5>
                  <p><strong>$2,924</strong> / per person</p>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="blog_item">
                <div class="blog_image">
                  <img
                    src="assets/images/slide-banner-1.png"
                    class="img-fluid"
                    alt="Japan"
                  />
                </div>
                <div class="blog_details">
                  <span>14 DAY TOUR</span>
                  <h5>Back Roads of Japan</h5>
                  <p><strong>$2,924</strong> / per person</p>
                </div>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>

      <!-- RIGHT: Text -->
      <div class="col-lg-6">
        <h2>Your Journey,<br />Your Discovery</h2>
        <p>
          Explore 60+ trips designed for curious travelers. From iconic
          landmarks to hidden local gems, enjoy experiences that are immersive,
          effortless, and unforgettable...
        </p>
        <button class="btn-explore">Explore Now</button>
      </div>
    </div>
  </div>
</section>

<section class="adventures-selected">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Top Adventures Selected For You</h2>
      </div>
      <div class="col-lg-12">
        <ul>
          <li>
            <h3>Stone Town to Nairobi</h3>
            <p>9 days from <span>$2,455</span> <strong>$2,209</strong></p>
          </li>
          <li>
            <h3>Bali & Beyond</h3>
            <p>18 days from <span>$2,250</span> <strong>$1,350</strong></p>
          </li>
          <li>
            <h3>Highlights of Poland</h3>
            <p>8 days from <span>$1,860</span> <strong>$1,488</strong></p>
          </li>
          <li>
            <h3>Thai Island Hopping</h3>
            <p>14 days from <span>$2,350</span> <strong>$1,880</strong></p>
          </li>
        </ul>
      </div>
      <div class="col-lg-12">
        <ul>
          <li>
            <h3>Romantic Rhine for Wine Lovers</h3>
            <p>8 days from <strong>$3,799</strong></p>
          </li>
          <li>
            <h3>Discover Croatia + Bosnia</h3>
            <p>7 days from <strong>$3,991</strong></p>
          </li>
          <li>
            <h3>6-Day Pearls of Northern Europe</h3>
            <p>6 days from <strong>$2,209</strong></p>
          </li>
          <li>
            <h3>London to Athens with Greek</h3>
            <p>27 days from <span>$7,310</span> <strong>$5,848</strong></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
