.clear-icon { cursor: pointer; }
.clear-icon:hover { color: #d32f2f; }

::ng-deep .mat-ripple-element {
  background-color: rgba(0, 123, 255, 0.15) !important;
}

mat-menu .mat-mdc-menu-item {
  min-height: 56px !important;
}






.btn-new {
  position: relative;
  overflow: hidden;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
} */

.btn-new:hover:not(:disabled) {
  transform: translateY(-3px);
}

.btn-new:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
}

.btn-new .ripple {
  position: absolute;
  /* border-radius: 50%; */
  /* background: rgba(255, 255, 255, 0.6); */
  transform: scale(0);
  animation: ripple-animation 0.65s linear;
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

