<app-search-bar></app-search-bar>

<section class="after-main">
<div class="container">
  <div class="row">
  <div class="col-lg-12">
  <div class="tour-trips">
      <h2>After Your Booking</h2>
      <p>How exciting — you’ve booked your adventure! So, what’s next?<br> We know you’re eager to get going, which is why<br> Toss & Trips makes it simple to arrange all your travel essentials in one <br> convenient spot — from flights and visas to travel insurance.</p>
  </div>
</div>
</div>
</div>
</section>
<section class="tourradar">
   <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <h2>Complete your adventure</h2>
      <p>Find the best flight deals, add comprehensive travel insurance, and apply for your visa — all right here on Toss & Trips.</p>
      
   </div>
   <div class="col-lg-12">
         <div class="insurance-1">
               <div class="case-1">
                    <ul>
                      <li class="circle">
                          <h2>Travel Insurance</h2>
                          <p>Cover yourself in case your plans <br>
                              change.
                          </p>
                          <strong>Explore</strong>
                      </li>
                      <li>
                          <img src="assets/images/little-banner-7.png" class="img-fluid">
                      </li>
                    </ul>
        </div>
        <div class="case-2">
           <img src="assets/images/little-banner-6.png" class="img-fluid">
        </div>
        <div class="case-3">
             <ul>
              
               <li class="circle">
                  <h2>Visas</h2>
                  <p>Check visa requirements and purchase <br>
                      an e-Visa.
                  </p>
                  <strong>Explore</strong>
              </li>
              <li>
                  <img src="assets/images/little-banner-8.png" class="img-fluid">
              </li>
           </ul>
        </div>
         </div>
   </div>
   </div>
   </div>
</section>

<section class="let-us">
  <div class="container">
      <div class="row">
          <div class="add-banner">
          <div class="col-lg-7">
            <h2>Just a little something from us</h2>
            <p>
We’re passionate about adventures — and we celebrate every time someone sets off on one, including you! As a thank you, we reward our travelers with Travel Credits to use on their next journey with us. See below to learn how to redeem and track your credits.
            </p>
            <button>Leave a review</button>
          </div>
               <div class="col-lg-5 text-right">
             <img src="assets/images/little-banner-5.png" class="img-fluid">
          </div>
      </div>
      </div>
  </div>
</section>
<section class="every-taste add">
      <div class="container">
         <div class="row">
           <div class="col-lg-12">
              <h2>Just a little something from us</h2>
             
           </div>
          
         </div>
         <div class="row">
            <div class="col-lg-4">
                 <img src="assets/images/little-banner-1.png" class="img-fluid">
                 <h4>Sustainability: 365 Earth Days</h4>
                 <span>Sofya Muhrer-Muromets</span>
           </div>
           <div class="col-lg-4">
               <img src="assets/images/little-banner-2.png" class="img-fluid">
               <h4>Sustainability Resolutions 2023</h4>
               <span>Sofya Muhrer-Muromets</span>
           </div>
           <div class="col-lg-4">
               <img src="assets/images/little-banner-3.png" class="img-fluid">
               <h4>
                Five Ways To Travel<br>
                Responsibly with Kids
                </h4>
               <span>Sofya Muhrer-Muromets</span>
           </div>           
         </div>
      </div>
</section>
<section class="let-us add">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
             <img src="assets/images/little-banner-4.png" class="img-fluid">
          </div>
          <div class="col-lg-6">
            <h2>Let us know how we did</h2>
            <p>
             At Tossntrips, we’re passionate about sending travelers like you on unforgettable, life-enriching adventures!
             <br><br>
              We take pride in partnering with top-quality operators who deliver world-class experiences. If your guide made your adventure truly outstanding, be sure to let them know — especially if you’re heading home with a collection of treasured memories. And if you think there’s room for improvement, your feedback helps make future adventures even more epic.
            </p>
            <button>Leave a review</button>
          </div>
      </div>
  </div>
</section>
