<app-search-bar></app-search-bar>

<section class="tour-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="food">
          <h2>Taste the World</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="through">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2>Taste the World</h2>
        <p>
          Embark on a flavorful journey around the world! Food is more than
          nourishment — it’s a delicious gateway to a culture’s people,
          heritage, and stories. Join us on a culinary adventure where every
          dish tells a tale and every bite deepens your connection to the heart
          and soul of a place. Savor global flavors, uncover the secrets behind
          each recipe, and celebrate the universal language of food that unites
          us all.
          <br /><br />
          Whether you’re a dedicated foodie or an adventurous traveler, immerse
          yourself in the spice-filled markets of Marrakech, wander the
          sun-kissed vineyards of Tuscany, delight in fiery Thai street food
          along Bangkok’s bustling streets, or experience Michelin-starred
          cuisine beneath the iconic Eiffel Tower in Paris.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="assets/images/culinary-banner-1.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<section class="bike-trip">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What to expect on a Bike Trip</h2>
      </div>
      <div class="col-lg-12">
        <div class="tucking">
          <ul>
            <li>
              <img src="assets/images/expect-banner-1.png" class="img-fluid" />
              <div class="trick">
                <h2>Learn from locals</h2>
                <p>
                  We all cherish the comfort of a hearty homemade meal — and
                  even if it’s not from your grandma’s kitchen, it’s still
                  crafted with love.
                </p>
              </div>
            </li>
            <li>
              <img src="assets/images/expect-banner-2.png" class="img-fluid" />
              <div class="trick">
                <h2>Go from ground to glass</h2>
                <p>
                  From India’s lush tea plantations to the world-renowned wine
                  cellars of Champagne and Scotland’s finest whisky
                  distilleries, explore the journey your favorite beverages take
                  from the earth to your glass — and uncover the secrets behind
                  their unique and unforgettable flavors.
                </p>
              </div>
            </li>
            <li>
              <img src="assets/images/expect-banner-3.png" class="img-fluid" />
              <div class="trick">
                <h2>Spread the love</h2>
                <p>
                  Feasts bring us together to celebrate life’s special moments —
                  from Christmas dinners to birthdays — and travel is no
                  exception. Raise a toast with new friends over delicious
                  street food, or reignite romance amid the vineyards on a
                  couples’ food tour.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="tucking">
          <ul>
            <li>
              <img src="assets/images/expect-banner-4.png" class="img-fluid" />
              <div class="trick">
                <h2>Create lasting impressions</h2>
                <p>
                  Journey from India’s sprawling tea plantations to the renowned
                  wine cellars of Champagne and Scotland’s finest whisky
                  distilleries. Discover how your favorite beverages travel from
                  the earth to your glass, unlocking the rich flavors that make
                  each sip unforgettable.
                </p>
              </div>
            </li>
            <li>
              <img src="assets/images/expect-banner-5.png" class="img-fluid" />
              <div class="trick">
                <h2>Best tours</h2>
                <p>
                  From India’s tea plantations to the prestigious wine cellars
                  of Champagne and Scotland’s finest whisky distilleries,
                  explore the journey your favorite beverages take from the
                  earth to your glass—and uncover the secrets behind their
                  exceptional flavors.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="trekking">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Over 250 Food tours with over 900 reviews</h2>
      </div>
      <!--
      <div class="col-lg-12">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="toptours-tab"
              data-toggle="pill"
              href="#toptours"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >Best tours</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-1-tab"
              data-toggle="pill"
              href="#toptours-1"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >What to expect</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-2-tab"
              data-toggle="pill"
              href="#toptours-2"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best routes</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-3-tab"
              data-toggle="pill"
              href="#toptours-3"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-4-tab"
              data-toggle="pill"
              href="#toptours-4"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best companies</a
            >
          </li>
        </ul>
        <div class="tab-assets" id="pills-tabassets">
          <div
            class="tab-pane fade show active"
            id="toptours"
            role="tabpanel"
            aria-labelledby="toptours-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/food-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Vietnam Foodie's Paradise In 10<br />
                    Days
                  </p>
                  <span>From $3,150</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    Small-Group Cooking Class with <br />
                    Market Visit
                  </p>
                  <span>From $1,960, $1,568</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi Egg & Coconut Coffee<br />
                    Tasting & Making with Untold Stories
                  </p>
                  <span>From $2,230 $1,864</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Flavors Of Vietnam In 12 Days - <br />
                    Culinary Tour
                  </p>
                  <span>From $2,260 $1,808</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi Street<br />
                    Food Tour
                  </p>
                  <span>From $1,890</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-1"
            role="tabpanel"
            aria-labelledby="toptours-1-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/food-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Vietnam Foodie's Paradise In 10<br />
                    Days
                  </p>
                  <span>From $3,150</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    Small-Group Cooking Class with <br />
                    Market Visit
                  </p>
                  <span>From $1,960, $1,568</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi Egg & Coconut Coffee<br />
                    Tasting & Making with Untold Stories
                  </p>
                  <span>From $2,230 $1,864</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Flavors Of Vietnam In 12 Days - <br />
                    Culinary Tour
                  </p>
                  <span>From $2,260 $1,808</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi Street<br />
                    Food Tour
                  </p>
                  <span>From $1,890</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-2"
            role="tabpanel"
            aria-labelledby="toptours-2-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/food-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Vietnam Foodie's Paradise In 10<br />
                    Days
                  </p>
                  <span>From $3,150</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    Small-Group Cooking Class with <br />
                    Market Visit
                  </p>
                  <span>From $1,960, $1,568</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi Egg & Coconut Coffee<br />
                    Tasting & Making with Untold Stories
                  </p>
                  <span>From $2,230 $1,864</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Flavors Of Vietnam In 12 Days - <br />
                    Culinary Tour
                  </p>
                  <span>From $2,260 $1,808</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi Street<br />
                    Food Tour
                  </p>
                  <span>From $1,890</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-3"
            role="tabpanel"
            aria-labelledby="toptours-3-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/food-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Vietnam Foodie's Paradise In 10<br />
                    Days
                  </p>
                  <span>From $3,150</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    Small-Group Cooking Class with <br />
                    Market Visit
                  </p>
                  <span>From $1,960, $1,568</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi Egg & Coconut Coffee<br />
                    Tasting & Making with Untold Stories
                  </p>
                  <span>From $2,230 $1,864</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Flavors Of Vietnam In 12 Days - <br />
                    Culinary Tour
                  </p>
                  <span>From $2,260 $1,808</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi Street<br />
                    Food Tour
                  </p>
                  <span>From $1,890</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-4"
            role="tabpanel"
            aria-labelledby="toptours-4-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/food-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Vietnam Foodie's Paradise In 10<br />
                    Days
                  </p>
                  <span>From $3,150</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    Small-Group Cooking Class with <br />
                    Market Visit
                  </p>
                  <span>From $1,960, $1,568</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi Egg & Coconut Coffee<br />
                    Tasting & Making with Untold Stories
                  </p>
                  <span>From $2,230 $1,864</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Flavors Of Vietnam In 12 Days - <br />
                    Culinary Tour
                  </p>
                  <span>From $2,260 $1,808</span>
                </li>
                <li>
                  <img
                    src="assets/images/food-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi Street<br />
                    Food Tour
                  </p>
                  <span>From $1,890</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      -->

      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Best tours">
          <div class="fastival">
            <ul>
              <li>
                <img src="assets/images/food-banner-1.png" class="img-fluid" />
                <p>
                  Vietnam Foodie's Paradise In 10<br />
                  Days
                </p>
                <span>From $3,150</span>
              </li>
              <li>
                <img src="assets/images/food-banner-2.png" class="img-fluid" />
                <p>
                  Small-Group Cooking Class with <br />
                  Market Visit
                </p>
                <span>From $1,960, $1,568</span>
              </li>
              <li>
                <img src="assets/images/food-banner-3.png" class="img-fluid" />
                <p>
                  Hanoi Egg & Coconut Coffee<br />
                  Tasting & Making with Untold Stories
                </p>
                <span>From $2,230 $1,864</span>
              </li>
              <li>
                <img src="assets/images/food-banner-4.png" class="img-fluid" />
                <p>
                  Flavors Of Vietnam In 12 Days - <br />
                  Culinary Tour
                </p>
                <span>From $2,260 $1,808</span>
              </li>
              <li>
                <img src="assets/images/food-banner-5.png" class="img-fluid" />
                <p>
                  Hanoi Street<br />
                  Food Tour
                </p>
                <span>From $1,890</span>
              </li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="What to expect">
          <div class="fastival">
            <ul>
              <li>
                <img src="assets/images/food-banner-1.png" class="img-fluid" />
                <p>
                  Vietnam Foodie's Paradise In 10<br />
                  Days
                </p>
                <span>From $3,150</span>
              </li>
              <li>
                <img src="assets/images/food-banner-2.png" class="img-fluid" />
                <p>
                  Small-Group Cooking Class with <br />
                  Market Visit
                </p>
                <span>From $1,960, $1,568</span>
              </li>
              <li>
                <img src="assets/images/food-banner-3.png" class="img-fluid" />
                <p>
                  Hanoi Egg & Coconut Coffee<br />
                  Tasting & Making with Untold Stories
                </p>
                <span>From $2,230 $1,864</span>
              </li>
              <li>
                <img src="assets/images/food-banner-4.png" class="img-fluid" />
                <p>
                  Flavors Of Vietnam In 12 Days - <br />
                  Culinary Tour
                </p>
                <span>From $2,260 $1,808</span>
              </li>
              <li>
                <img src="assets/images/food-banner-5.png" class="img-fluid" />
                <p>
                  Hanoi Street<br />
                  Food Tour
                </p>
                <span>From $1,890</span>
              </li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="Best routes">
          <div class="fastival">
            <ul>
              <li>
                <img src="assets/images/food-banner-1.png" class="img-fluid" />
                <p>
                  Vietnam Foodie's Paradise In 10<br />
                  Days
                </p>
                <span>From $3,150</span>
              </li>
              <li>
                <img src="assets/images/food-banner-2.png" class="img-fluid" />
                <p>
                  Small-Group Cooking Class with <br />
                  Market Visit
                </p>
                <span>From $1,960, $1,568</span>
              </li>
              <li>
                <img src="assets/images/food-banner-3.png" class="img-fluid" />
                <p>
                  Hanoi Egg & Coconut Coffee<br />
                  Tasting & Making with Untold Stories
                </p>
                <span>From $2,230 $1,864</span>
              </li>
              <li>
                <img src="assets/images/food-banner-4.png" class="img-fluid" />
                <p>
                  Flavors Of Vietnam In 12 Days - <br />
                  Culinary Tour
                </p>
                <span>From $2,260 $1,808</span>
              </li>
              <li>
                <img src="assets/images/food-banner-5.png" class="img-fluid" />
                <p>
                  Hanoi Street<br />
                  Food Tour
                </p>
                <span>From $1,890</span>
              </li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="FAQ">
          <div class="fastival">
            <ul>
              <li>
                <img src="assets/images/food-banner-1.png" class="img-fluid" />
                <p>
                  Vietnam Foodie's Paradise In 10<br />
                  Days
                </p>
                <span>From $3,150</span>
              </li>
              <li>
                <img src="assets/images/food-banner-2.png" class="img-fluid" />
                <p>
                  Small-Group Cooking Class with <br />
                  Market Visit
                </p>
                <span>From $1,960, $1,568</span>
              </li>
              <li>
                <img src="assets/images/food-banner-3.png" class="img-fluid" />
                <p>
                  Hanoi Egg & Coconut Coffee<br />
                  Tasting & Making with Untold Stories
                </p>
                <span>From $2,230 $1,864</span>
              </li>
              <li>
                <img src="assets/images/food-banner-4.png" class="img-fluid" />
                <p>
                  Flavors Of Vietnam In 12 Days - <br />
                  Culinary Tour
                </p>
                <span>From $2,260 $1,808</span>
              </li>
              <li>
                <img src="assets/images/food-banner-5.png" class="img-fluid" />
                <p>
                  Hanoi Street<br />
                  Food Tour
                </p>
                <span>From $1,890</span>
              </li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="Best companies">
          <div class="fastival">
            <ul>
              <li>
                <img src="assets/images/food-banner-1.png" class="img-fluid" />
                <p>
                  Vietnam Foodie's Paradise In 10<br />
                  Days
                </p>
                <span>From $3,150</span>
              </li>
              <li>
                <img src="assets/images/food-banner-2.png" class="img-fluid" />
                <p>
                  Small-Group Cooking Class with <br />
                  Market Visit
                </p>
                <span>From $1,960, $1,568</span>
              </li>
              <li>
                <img src="assets/images/food-banner-3.png" class="img-fluid" />
                <p>
                  Hanoi Egg & Coconut Coffee<br />
                  Tasting & Making with Untold Stories
                </p>
                <span>From $2,230 $1,864</span>
              </li>
              <li>
                <img src="assets/images/food-banner-4.png" class="img-fluid" />
                <p>
                  Flavors Of Vietnam In 12 Days - <br />
                  Culinary Tour
                </p>
                <span>From $2,260 $1,808</span>
              </li>
              <li>
                <img src="assets/images/food-banner-5.png" class="img-fluid" />
                <p>
                  Hanoi Street<br />
                  Food Tour
                </p>
                <span>From $1,890</span>
              </li>
            </ul>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
<section class="reputation">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2>Get a taste of Thai Food tours</h2>
        <p>
          Thai cuisine is beloved worldwide, but there’s so much more to explore
          beyond Pad Thai and green curry. Make sure to include a culinary tour
          in your Thailand adventure to taste the country’s most authentic and
          flavorful dishes! Whether you’re slurping noodles alongside locals at
          Chiang Mai’s vibrant night bazaar or wandering the lively streets of
          Bangkok on a street food tour, the flavors will leave a lasting
          impression.
          <br />
          <br />
          Eating, shopping, and haggling at markets are integral parts of Thai
          culture. Dive into authentic experiences at unique destinations like
          Maeklong Railway Market and Tha Kha Floating Market, or roll up your
          sleeves and learn to prepare classics like Massaman curry and mango
          sticky rice in a hands-on Thai cooking class.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="assets/images/taste-banner.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="crol">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Carol on her Food tour of Italy</h2>
        <p>
          “The blend of culture, food, and authentic Italian lifestyle was
          perfect! We enjoyed olive picking, truffle hunting, cheese making,
          pizza and pasta making — all without feeling rushed. Everything flowed
          effortlessly and felt wonderfully relaxed. Would we go back?
          Absolutely, in a heartbeat!”
        </p>
      </div>
    </div>
  </div>
</section>
<section class="europe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Most popular biking destinations</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/dest-banner-1.png" class="img-fluid" />
            <h2>Italy</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Italy’s food culture truly shines through hands-on experiences and
              connecting with local producers. Our Sicily tours keep groups
              intimate (maximum 8 people), blending market visits and cooking
              classes in Taormina with wine tastings on the slopes of Mount
              Etna. Meanwhile, Bologna offers an ideal base for mastering the
              art of pasta making...
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/dest-banner-2.png" class="img-fluid" />
            <h2>France</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Southern France’s food tours truly highlight the richness of
              regional cuisine. In the Bordeaux area, explore bustling markets,
              savor fresh oysters in Arcachon, and discover the art of
              winemaking in Saint-Emilion. Venture to the Dordogne region for
              truffle hunting with trained dogs near Sarlat, while elsewhere...
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/dest-banner-3.png" class="img-fluid" />
            <h2>Spain</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Northern Spain’s food tours dive straight into the heart of
              Spanish cuisine. In Barcelona, join local chefs to explore La
              Boqueria Market before mastering the art of perfect paella. In La
              Rioja, experience the region’s renowned wines, including a visit
              to the fascinating underground wine caves in Laguardia...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/dest-banner-4.png" class="img-fluid" />
            <h2>Portugal</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Indulge in buttery egg custards at one of Lisbon’s charming cafés,
              delight your palate with port wine at enchanting quintas, or savor
              the national bacalhau dish in a seaside town along the Atlantic
              Coast. From distinctive culinary traditions to the lush vineyards
              of the Douro Valley, Portugal...
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/dest-banner-5.png" class="img-fluid" />
            <h2>Peru</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Lima is the ideal starting point for exploring Peru’s vibrant food
              scene. Our food tours guide you through local gems like San Blas
              Market and unique museums where you’ll discover the secrets of
              chocolate, coffee, and pisco production. Travelers especially
              enjoy comparing the different varieties...
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/dest-banner-6.png" class="img-fluid" />
            <h2>India</h2>
          </div>
          <div class="rgt-nav">
            <p>
              A culinary tour through India offers a feast for the senses.
              Picture sipping chai by the roadside while dipping freshly fried
              pakoras in mint chutney during a monsoon shower, or roasting
              succulent meats in a traditional tandoor oven. Exploring India
              through its food is truly an unforgettable adventure!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="best-experiences">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Best experiences on Culinary tours</h2>
      </div>
      <div class="col-lg-12">
        <swiper-container
          #swiperRef
          class="my-swiper"
          loop="true"
          space-between="10"
          speed="700"
          autoplay-delay="2000"
          autoplay-disable-on-interaction="false"
          autoplay-pause-on-mouse-enter="false"
          pagination="true"
          pagination-clickable="true"
          breakpoints='{
                "0": { "slidesPerView": 1 },
                "768": { "slidesPerView": 1 },
                "1024": { "slidesPerView": 3 }
            }'
        >
          <swiper-slide>
            <div class="item">
              <img src="assets/images/experiences-banner-1.png" />
              <p>
                Taste a slice of la dolce vita in Naples,<br />
                the birthplace of pizza
              </p>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="item">
              <img src="assets/images/experiences-banner-2.png" />
              <p>
                Visit the floating markets in Bangkok,<br />
                where attraction and tradition meet
              </p>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="item">
              <img src="assets/images/experiences-banner-3.png" />
              <p>
                Brewery hop amongst the Smokies,<br />
                while listening to Dolly Parton songs
              </p>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="item">
              <img src="assets/images/experiences-banner-4.png" />
              <p>
                Blend your own bottle in Bordeaux for a<br />
                sublime experience that lasts decades.
              </p>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="item">
              <img src="assets/images/experiences-banner-1.png" />
              <p>
                Taste a slice of la dolce vita in Naples,<br />
                the birthplace of pizza
              </p>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tours-all">
          <ul>
            <li>
              <img src="assets/images/days-banner-1.png" class="img-fluid" />
              <h2>2 Weeks</h2>
              <p>97 Tours</p>
            </li>
            <li>
              <img src="assets/images/days-banner-2.png" class="img-fluid" />
              <h2>10 Days</h2>
              <p>439 Tours</p>
            </li>
            <li>
              <img src="assets/images/days-banner-3.png" class="img-fluid" />
              <h2>1 Week</h2>
              <p>398 Tours</p>
            </li>
            <li>
              <img src="assets/images/days-banner-4.png" class="img-fluid" />
              <h2>3 Day Getaway</h2>
              <p>106 Tours</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="answered add">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center add">
          Your food & culinary questions, answered
        </h2>
        <ul>
          <li>
            <h3>How do I know a Food & Culinary tour is right for me?</h3>
            <p>
              If sampling diverse cuisines, connecting with people from around
              the globe, and immersing yourself in vibrant cultures are your
              favorite parts of travel, then a Food & Culinary adventure is
              perfect for you. Packed with delicious dishes, hands-on cooking
              classes, and authentic flavors, our foodie tours are sure to
              delight your senses!
            </p>
          </li>
          <li>
            <h3>How do I book Taste the World on tossntrips ?</h3>
            <p>
              Discover your next Food & Culinary adventure by exploring our
              tours until you find the perfect fit. Simply select your dates,
              enter your details, and secure your spot on an unforgettable
              organized journey. If you have any questions, our Travel Experts
              are available 24/7 to help you every step of the way!
            </p>
          </li>
          <li>
            <h3>Are there wine tasting tours available?</h3>
            <p>
              Yes, we offer the perfect selection of wine-tasting tours from
              around the globe — from France to South Africa! Many of our Taste
              the World already include wine tastings, so be sure to check your
              itinerary for details. If not, you can easily add a wine-tasting
              experience to delight your palate!
            </p>
          </li>
          <li>
            <h3>Can I book a foodie tour even with dietary restrictions?</h3>
            <p>
              Absolutely! Most of our tour providers are happy to accommodate
              dietary restrictions upon request. Just send your dietary needs to
              our Travel Experts, and we’ll make sure your foodie tour is
              enjoyable and worry-free.
            </p>
          </li>
          <li>
            <h3>Are meals included on a Food & Culinary tour?</h3>
            <p>
              Typically, most meals and tastings are included in the cost of a
              Food & Culinary adventure. Be sure to check your tour details or
              reach out to our Travel Experts for confirmation!
            </p>
          </li>
          <li>
            <h3>Can I combine Adventure styles?</h3>
            <p>
              Absolutely! Your adventure is what you make it—so why not enhance
              it with a river cruise in France, island hopping in the Greek
              Islands, or an exhilarating safari in Kenya?
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
