<app-search-bar></app-search-bar>

<section class="tour-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="wellness">
          <h2>Wellness Retreats</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="through">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2>Wellness Retreats</h2>
        <p>
          Organized adventures aren’t always about adrenaline and
          excitement—sometimes, what we truly need is to disconnect, find
          balance, and nurture our inner calm. Wellness and spa tours offer the
          perfect escape to do just that.
          <br /><br />
          Soak in Iceland’s stunning hot springs, deepen your yoga practice in
          serene Bali, experience the timeless charm of Budapest’s historic
          thermal baths, or unwind with expert massages in Thailand.
          <br /><br />
          Let “recharge, relax, renew” become your mantra as you explore our
          diverse collection of wellness and spa journeys around the globe.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="assets/images/wellness-banner-1.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<section class="trekking">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Over 250 Wellness Retreats with over 120 reviews</h2>
      </div>

      <!--
      <div class="col-lg-12">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="toptours-tab"
              data-toggle="pill"
              href="#toptours"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >Best tours</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-1-tab"
              data-toggle="pill"
              href="#toptours-1"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >What to expect</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-2-tab"
              data-toggle="pill"
              href="#toptours-2"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best routes</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-3-tab"
              data-toggle="pill"
              href="#toptours-3"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-4-tab"
              data-toggle="pill"
              href="#toptours-4"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best companies</a
            >
          </li>
        </ul>
        <div class="tab-assets" id="pills-tabassets">
          <div
            class="tab-pane fade show active"
            id="toptours"
            role="tabpanel"
            aria-labelledby="toptours-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/wellness-banner-2.png"
                    class="img-fluid"
                  />
                  <p>oga, Ganga & Tajmahal - Golden Triangle</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Ayurveda Sri Lanka - 7 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Luxury Golden Triangle & Goa</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Wellness Bali</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Tunisia, All-inclusive Beach Stay!</p>
                  <span>From $1,049</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-1"
            role="tabpanel"
            aria-labelledby="toptours-1-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/wellness-banner-2.png"
                    class="img-fluid"
                  />
                  <p>oga, Ganga & Tajmahal - Golden Triangle</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Ayurveda Sri Lanka - 7 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Luxury Golden Triangle & Goa</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Wellness Bali</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Tunisia, All-inclusive Beach Stay!</p>
                  <span>From $1,049</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-2"
            role="tabpanel"
            aria-labelledby="toptours-2-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/wellness-banner-2.png"
                    class="img-fluid"
                  />
                  <p>oga, Ganga & Tajmahal - Golden Triangle</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Ayurveda Sri Lanka - 7 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Luxury Golden Triangle & Goa</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Wellness Bali</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Tunisia, All-inclusive Beach Stay!</p>
                  <span>From $1,049</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-3"
            role="tabpanel"
            aria-labelledby="toptours-3-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/wellness-banner-2.png"
                    class="img-fluid"
                  />
                  <p>oga, Ganga & Tajmahal - Golden Triangle</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Ayurveda Sri Lanka - 7 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Luxury Golden Triangle & Goa</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Wellness Bali</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Tunisia, All-inclusive Beach Stay!</p>
                  <span>From $1,049</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-4"
            role="tabpanel"
            aria-labelledby="toptours-4-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/wellness-banner-2.png"
                    class="img-fluid"
                  />
                  <p>oga, Ganga & Tajmahal - Golden Triangle</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Ayurveda Sri Lanka - 7 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Luxury Golden Triangle & Goa</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Wellness Bali</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Tunisia, All-inclusive Beach Stay!</p>
                  <span>From $1,049</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      -->



            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Best tours">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/wellness-banner-2.png"
                    class="img-fluid"
                  />
                  <p>oga, Ganga & Tajmahal - Golden Triangle</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Ayurveda Sri Lanka - 7 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Luxury Golden Triangle & Goa</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Wellness Bali</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Tunisia, All-inclusive Beach Stay!</p>
                  <span>From $1,049</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="What to expect">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/wellness-banner-2.png"
                    class="img-fluid"
                  />
                  <p>oga, Ganga & Tajmahal - Golden Triangle</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Ayurveda Sri Lanka - 7 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Luxury Golden Triangle & Goa</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Wellness Bali</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Tunisia, All-inclusive Beach Stay!</p>
                  <span>From $1,049</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="Best routes">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/wellness-banner-2.png"
                    class="img-fluid"
                  />
                  <p>oga, Ganga & Tajmahal - Golden Triangle</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Ayurveda Sri Lanka - 7 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Luxury Golden Triangle & Goa</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Wellness Bali</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Tunisia, All-inclusive Beach Stay!</p>
                  <span>From $1,049</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="FAQ">
          <div class="fastival">
            <ul>
              <li>
                <img
                  src="assets/images/sailing-bannner-3.png"
                  class="img-fluid"
                />
                <p>All Included Halong Bay 2 Days 1 Night On 3-Star Cruise</p>
                <span>From $134</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-4.png"
                  class="img-fluid"
                />
                <p>Greece Sailing Adventure: Cyclades Islands</p>
                <span>From $2,502</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-5.png"
                  class="img-fluid"
                />
                <p>Dalmatian Highlights Split & Dubrovnik Region Cruise</p>
                <span>From $1,568</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-6.png"
                  class="img-fluid"
                />
                <p>All Included Lan Ha Bay 5- star Cruise - 2 Days 1 Night</p>
                <span>From $224</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-7.png"
                  class="img-fluid"
                />
                <p>Hanoi - Halong Bay - Lan Ha Bay 2 days 1 night on Cruise</p>
                <span>From $198</span>
              </li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="Best companies">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/wellness-banner-2.png"
                    class="img-fluid"
                  />
                  <p>oga, Ganga & Tajmahal - Golden Triangle</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Ayurveda Sri Lanka - 7 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Luxury Golden Triangle & Goa</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Wellness Bali</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/wellness-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Tunisia, All-inclusive Beach Stay!</p>
                  <span>From $1,049</span>
                </li>
              </ul>
            </div>
        </mat-tab>
      </mat-tab-group>


    </div>
  </div>
</section>
<section class="expert-on">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>What to expect on a Wellness adventure</h2>
        <p>
          Explorer trips offer a “mix-and-match” experience, perfect for
          adventurers craving a little bit of everything. Want to tour iconic
          European cities? Check. Enjoy a sushi masterclass? Check. Cycle
          through charming towns? Check. Hike to catch a volcano sunrise? Check!
        </p>
        <ul>
          <li>
            <img src="assets/images/wellness-banner-7.png" class="img-fluid" />
            <h3>Nourish your body</h3>
            <p>
              Whether you’re relaxing at a seaside resort or attending a yoga
              retreat high in the mountains, our Wellness adventures offer true
              peace of mind. They provide the perfect opportunity to nurture
              your body, embrace holistic healing, and take a well-deserved
              break from life’s hectic pace.
            </p>
          </li>
          <li>
            <img src="assets/images/wellness-banner-8.png" class="img-fluid" />
            <h3>Rejuvenate your soul</h3>
            <p>
              Make your Eat, Pray, Love dream a reality. Practice yoga at a
              serene monastery in Nepal, immerse yourself in the art of
              meditation in India, or unwind on a private tropical island in
              Thailand—wherever you choose to recharge, one thing is certain:
              it’s your time to focus on yourself.
            </p>
          </li>
          <li>
            <img src="assets/images/wellness-banner-9.png" class="img-fluid" />
            <h3>Embrace ancient traditions</h3>
            <p>
              For thousands of years, cultures around the globe have developed
              unique wellness traditions. Traveling offers the perfect
              opportunity to experience these authentic practices up
              close—whether it’s sipping Chinese herbal teas, enjoying
              traditional Indian Ayurvedic massages, or participating in South
              American cacao ceremonies.
            </p>
          </li>
          <li>
            <img src="assets/images/wellness-banner-10.png" class="img-fluid" />
            <h3>Savour connections</h3>
            <p>
              When we ground ourselves, we become our best selves with a
              clearer, calmer mind. Unwind and share your experience on a group
              wellness tour—whether it’s in the serene shadows of the Himalayas,
              beneath the shimmering Northern Lights, or after catching waves in
              Cancún.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="come-along">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Join us on a Wellness tour in Thailand!</h2>
        <p>
          Welcome to the “Land of Smiles”—Thailand, renowned for its warm
          hospitality, breathtaking beaches, crystal-clear emerald waters, and
          endless adventures. But did you know it’s also a top destination for
          wellness and relaxation?
          <br /><br />
          Soothe your muscles with a traditional Thai massage, refresh your mind
          with scuba diving in Koh Tao, or relax while discovering the stunning
          sights of Phuket. Ultimately, wellness is a personal journey. Dive
          into a world of wellness tours across Southeast Asia and find your
          perfect balance!
        </p>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/wellness-banner-11.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="brice">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Brice on her Thailand wellness adventure</h2>
        <p>
          “I really enjoyed the tour! The yoga sessions were fantastic, with
          top-notch instructors. The fitness workouts felt a bit easy for me,
          but perfect for most people. The SAS training was excellent, and the
          ladies absolutely loved it! The food was delicious, nutritious, and
          sourced from local market vendors. I’d love to come back for a longer
          trip and bring some friends along next time so we can really push
          ourselves on the hikes!”
        </p>
      </div>
    </div>
  </div>
</section>
<section class="europe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Top destinations for Wellness Retreats</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/exploar-banner-14.png" class="img-fluid" />
            <h2>Portugal</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Step away from your daily routine and recharge with a health and
              wellness retreat in Portugal. Discover the ideal treatments to
              help you unwind and refresh, tailored to suit your perfect retreat
              experience.
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/exploar-banner-15.png" class="img-fluid" />
            <h2>Costa Rica</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Escape your daily routine and rejuvenate on a health and wellness
              retreat in Costa Rica. With flexible holiday packages ranging from
              a few days to longer stays, you’re sure to find the perfect
              treatments to help you unwind on a retreat tailored just for you.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/exploar-banner-17.png" class="img-fluid" />
            <h2>Bali</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Step away from your daily routine and recharge with a health and
              wellness retreat in Indonesia. Offering holiday packages from 3 to
              13 days, you’ll find the perfect treatments to help you unwind on
              a retreat tailored just for you.
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/exploar-banner-18.png" class="img-fluid" />
            <h2>Sri Lanka</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Escape your daily routine and refresh your mind and body on a
              health and wellness retreat in Sri Lanka. With holiday packages
              ranging from 3 to 15 days, you’re sure to discover the perfect
              treatments to help you unwind on a retreat crafted just for you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="dervishes add">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Best experiences on Wellness Retreats</h2>

        <ul>
          <li>
            <img
              src="assets/images/wellness-banner-12.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>Relax to smooth Himalayan tones</h3>
          </li>
          <li>
            <img
              src="assets/images/wellness-banner-13.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>Get in tune with nature in the European woods</h3>
          </li>
          <li>
            <img
              src="assets/images/wellness-banner-14.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>Nourish your body and soul across Asia</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tours-all">
          <ul>
            <li>
              <img
                src="assets/images/wellness-banner-15.png"
                class="img-fluid"
              />
              <h2>2 Weeks</h2>
              <p>50 Tours</p>
            </li>
            <li>
              <img
                src="assets/images/wellness-banner-16.png"
                class="img-fluid"
              />
              <h2>Active</h2>
              <p>75 Tours</p>
            </li>
            <li>
              <img
                src="assets/images/wellness-banner-17.png"
                class="img-fluid"
              />
              <h2>1 Week</h2>
              <p>57 Tours</p>
            </li>
            <li>
              <img
                src="assets/images/wellness-banner-18.png"
                class="img-fluid"
              />
              <h2>3 Day Getaway</h2>
              <p>8 Tours</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="answered add">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center add">
          Your Wellness & Spa tour questions, answered
        </h2>
        <ul>
          <li>
            <h3>How do I know a Wellness tour is right for me?</h3>
            <p>
              If you’re seeking a break from everyday life and want to truly
              relax while experiencing different cultures and their unique
              self-care traditions, a Wellness & Spa tour is the perfect choice
              for you.
            </p>
          </li>
          <li>
            <h3>How do I book Wellness Retreats on Tossntrip?</h3>
            <p>
              It’s fast and easy—we promise! Just pick the Wellness or Spa
              adventure that suits you, choose your travel dates, enter your
              details, and book. Ready, set, relax and enjoy!
            </p>
          </li>
          <li>
            <h3>Do I need to be in good shape to do a Wellness tour?</h3>
            <p>
              No worries—Tossntrip offers a wide variety of wellness tours
              catering to all fitness levels. You can find detailed information
              about each tour and read reviews from other travelers to help you
              choose the perfect experience.
            </p>
          </li>
          <li>
            <h3>I can’t decide, are there any tailor-made tours?</h3>
            <p>
              If you don’t find exactly what you’re looking for among our wide
              selection, our Travel Experts are ready to help you create a
              Tailor-Made tour. Reach out to us, and we’ll assist you in
              customizing the number of nights, accommodation standards, adding
              specific activities, and much more!
            </p>
          </li>
          <li>
            <h3>I’m looking for a Fitness tour. Do you have any?</h3>
            <p>
              Absolutely! We’ve designed Adventure Styles to fit every
              preference. If you enjoy relaxing and soaking in the moment, a
              Wellness tour is perfect for you. But if you’re craving more
              excitement, why not try our Active adventures—packed with
              activities like ziplining through the jungle and refreshing dives
              to cool off?
            </p>
          </li>
          <li>
            <h3>Can I combine Adventure styles?</h3>
            <p>
              Absolutely! You can effortlessly pair your wellness and spa
              journey with a wine tasting in France, island hopping in Greece,
              or even a cultural exploration in India.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
