<app-search-bar></app-search-bar>

<section class="adventure-tours">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tour-new">
          <div class="tour-1">
            <img src="assets/images/advanchar-banner-1.png" />
          </div>
          <div class="tour-2">
            <h2>Get Movings</h2>
            <p>
              Don’t just travel—immerse yourself. Step into the vibrant cultures
              of remote hill tribes, conquer rugged alpine trails on foot or by
              bike, paddle through hidden island coves unreachable by land, or
              soar beneath jungle canopies on a thrilling zipline ride. From the
              pulse-pounding adventures of New Zealand to the sweeping
              sandscapes of Africa’s deserts, the world’s most unforgettable
              active tours don’t just challenge your limits—they awaken your
              spirit of exploration.
            </p>

            <div id="news-slider6" class="owl-carousel owl-theme">
              <swiper-container
                #swiperRef
                class="my-swiper"
                loop="true"
                space-between="10"
                speed="700"
                autoplay-delay="2000"
                autoplay-disable-on-interaction="false"
                autoplay-pause-on-mouse-enter="false"
                pagination="false"
                pagination-clickable="false"
                breakpoints='{
                "0": { "slidesPerView": 2 },
                "768": { "slidesPerView": 3 },
                "1024": { "slidesPerView": 5 }
            }'
              >
                <swiper-slide>
                  <div class="item">
                    <img src="assets/images/advanchar-banner-2.png" />
                  </div>
                </swiper-slide>

                <swiper-slide>
                  <div class="item">
                    <img src="assets/images/advanchar-banner-3.png" />
                  </div>
                </swiper-slide>

                <swiper-slide>
                  <div class="item">
                    <img src="assets/images/advanchar-banner-4.png" />
                  </div>
                </swiper-slide>

                <swiper-slide>
                  <div class="item">
                    <img src="assets/images/advanchar-banner-5.png" />
                  </div>
                </swiper-slide>

                <swiper-slide>
                  <div class="item">
                    <img src="assets/images/advanchar-banner-2.png" />
                  </div>
                </swiper-slide>

                <swiper-slide>
                  <div class="item">
                    <img src="assets/images/advanchar-banner-3.png" />
                  </div>
                </swiper-slide>
              </swiper-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="best-operators">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-detinations">
            <!--
          <div class="destnav1">
            
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="toptours-tab"
                  data-toggle="pill"
                  href="#toptours"
                  role="tab"
                  aria-controls="pills-home"
                  aria-selected="true"
                  >Top tours</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="toptours-1-tab"
                  data-toggle="pill"
                  href="#toptours-1"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"
                  >What to expect</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="toptours-2-tab"
                  data-toggle="pill"
                  href="#toptours-2"
                  role="tab"
                  aria-controls="pills-contact"
                  aria-selected="false"
                  >Top destinations</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="toptours-3-tab"
                  data-toggle="pill"
                  href="#toptours-3"
                  role="tab"
                  aria-controls="pills-contact"
                  aria-selected="false"
                  >Things to do</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="toptours-4-tab"
                  data-toggle="pill"
                  href="#toptours-4"
                  role="tab"
                  aria-controls="pills-contact"
                  aria-selected="false"
                  >Faq</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="toptours-5-tab"
                  data-toggle="pill"
                  href="#toptours-5"
                  role="tab"
                  aria-controls="pills-contact"
                  aria-selected="false"
                  >Best operators</a
                >
              </li>
            </ul>
            </div>
            -->
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
              <mat-tab label="Top tours">
                <swiper-container
                  #swiperRef
                  class="my-swiper"
                  loop="true"
                  space-between="10"
                  speed="700"
                  autoplay-delay="2000"
                  autoplay-disable-on-interaction="false"
                  autoplay-pause-on-mouse-enter="false"
                  pagination="true"
                  pagination-clickable="true"
                  breakpoints='{
                "0": { "slidesPerView": 1 },
                "768": { "slidesPerView": 1 },
                "1024": { "slidesPerView": 3 }
            }'
                >
                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-6.png" />
                      <p>
                        The Magic of Morocco Tour 9 Days <br />
                        From Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-8.png" />
                      <p>
                        Experience the Essence of Sri Lanka: <br />
                        Nature, Culture, and Wildlife<br />
                        Adventure
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-9.png" />
                      <p>
                        8 Days Pyramids and Nile Cruise Aswan<br />
                        - Abu simbel - Luxor - Hurghada
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>
                </swiper-container>
              </mat-tab>


              <mat-tab label="What to Expect">
                <swiper-container
                  #swiperRef
                  class="my-swiper"
                  loop="true"
                  space-between="10"
                  speed="700"
                  autoplay-delay="2000"
                  autoplay-disable-on-interaction="false"
                  autoplay-pause-on-mouse-enter="false"
                  pagination="true"
                  pagination-clickable="true"
                  breakpoints='{
                "0": { "slidesPerView": 1 },
                "768": { "slidesPerView": 1 },
                "1024": { "slidesPerView": 3 }
            }'
                >
                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-6.png" />
                      <p>
                        The Magic of Morocco Tour 9 Days <br />
                        From Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-8.png" />
                      <p>
                        Experience the Essence of Sri Lanka: <br />
                        Nature, Culture, and Wildlife<br />
                        Adventure
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-9.png" />
                      <p>
                        8 Days Pyramids and Nile Cruise Aswan<br />
                        - Abu simbel - Luxor - Hurghada
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>
                </swiper-container>
              </mat-tab>


              <mat-tab label="Top Destinations">
                <swiper-container
                  #swiperRef
                  class="my-swiper"
                  loop="true"
                  space-between="10"
                  speed="700"
                  autoplay-delay="2000"
                  autoplay-disable-on-interaction="false"
                  autoplay-pause-on-mouse-enter="false"
                  pagination="true"
                  pagination-clickable="true"
                  breakpoints='{
                "0": { "slidesPerView": 1 },
                "768": { "slidesPerView": 1 },
                "1024": { "slidesPerView": 3 }
            }'
                >
                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-6.png" />
                      <p>
                        The Magic of Morocco Tour 9 Days <br />
                        From Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-8.png" />
                      <p>
                        Experience the Essence of Sri Lanka: <br />
                        Nature, Culture, and Wildlife<br />
                        Adventure
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-9.png" />
                      <p>
                        8 Days Pyramids and Nile Cruise Aswan<br />
                        - Abu simbel - Luxor - Hurghada
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>
                </swiper-container>
              </mat-tab>


              <mat-tab label="Things To Do">
                <swiper-container
                  #swiperRef
                  class="my-swiper"
                  loop="true"
                  space-between="10"
                  speed="700"
                  autoplay-delay="2000"
                  autoplay-disable-on-interaction="false"
                  autoplay-pause-on-mouse-enter="false"
                  pagination="true"
                  pagination-clickable="true"
                  breakpoints='{
                "0": { "slidesPerView": 1 },
                "768": { "slidesPerView": 1 },
                "1024": { "slidesPerView": 3 }
            }'
                >
                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-6.png" />
                      <p>
                        The Magic of Morocco Tour 9 Days <br />
                        From Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-8.png" />
                      <p>
                        Experience the Essence of Sri Lanka: <br />
                        Nature, Culture, and Wildlife<br />
                        Adventure
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-9.png" />
                      <p>
                        8 Days Pyramids and Nile Cruise Aswan<br />
                        - Abu simbel - Luxor - Hurghada
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>
                </swiper-container>
              </mat-tab>


              <mat-tab label="FAQ">
                <swiper-container
                  #swiperRef
                  class="my-swiper"
                  loop="true"
                  space-between="10"
                  speed="700"
                  autoplay-delay="2000"
                  autoplay-disable-on-interaction="false"
                  autoplay-pause-on-mouse-enter="false"
                  pagination="true"
                  pagination-clickable="true"
                  breakpoints='{
                "0": { "slidesPerView": 1 },
                "768": { "slidesPerView": 1 },
                "1024": { "slidesPerView": 3 }
            }'
                >
                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-6.png" />
                      <p>
                        The Magic of Morocco Tour 9 Days <br />
                        From Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-8.png" />
                      <p>
                        Experience the Essence of Sri Lanka: <br />
                        Nature, Culture, and Wildlife<br />
                        Adventure
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-9.png" />
                      <p>
                        8 Days Pyramids and Nile Cruise Aswan<br />
                        - Abu simbel - Luxor - Hurghada
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>
                </swiper-container>
              </mat-tab>


              <mat-tab label="Best Operators">
                <swiper-container
                  #swiperRef
                  class="my-swiper"
                  loop="true"
                  space-between="10"
                  speed="700"
                  autoplay-delay="2000"
                  autoplay-disable-on-interaction="false"
                  autoplay-pause-on-mouse-enter="false"
                  pagination="true"
                  pagination-clickable="true"
                  breakpoints='{
                "0": { "slidesPerView": 1 },
                "768": { "slidesPerView": 1 },
                "1024": { "slidesPerView": 3 }
            }'
                >
                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-6.png" />
                      <p>
                        The Magic of Morocco Tour 9 Days <br />
                        From Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-8.png" />
                      <p>
                        Experience the Essence of Sri Lanka: <br />
                        Nature, Culture, and Wildlife<br />
                        Adventure
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-9.png" />
                      <p>
                        8 Days Pyramids and Nile Cruise Aswan<br />
                        - Abu simbel - Luxor - Hurghada
                      </p>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="item">
                      <img src="assets/images/advanchar-banner-7.png" />
                      <p>
                        Morocco Tours 6 Days From <br />
                        Casablanca
                      </p>
                    </div>
                  </swiper-slide>
                </swiper-container>
              </mat-tab>
            </mat-tab-group>
          
        </div>
      </div>
      <!--
      <div class="col-lg-12">
        <div class="tab-assets newadd" id="pills-tabassets">
          <div
            class="tab-pane fade show active"
            id="toptours"
            role="tabpanel"
            aria-labelledby="toptours-tab"
          >
            <div id="news-slider7" class="owl-carousel owl-theme">
              <div class="item">
                <img src="assets/images/advanchar-banner-6.png" />
                <p>
                  The Magic of Morocco Tour 9 Days <br />
                  From Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-8.png" />
                <p>
                  Experience the Essence of Sri Lanka: <br />
                  Nature, Culture, and Wildlife<br />
                  Adventure
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-9.png" />
                <p>
                  8 Days Pyramids and Nile Cruise Aswan<br />
                  - Abu simbel - Luxor - Hurghada
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-1"
            role="tabpanel"
            aria-labelledby="toptours-1-tab"
          >
            <div id="news-slider8" class="owl-carousel owl-theme">
              <div class="item">
                <img src="assets/images/advanchar-banner-6.png" />
                <p>
                  The Magic of Morocco Tour 9 Days <br />
                  From Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-8.png" />
                <p>
                  Experience the Essence of Sri Lanka: <br />
                  Nature, Culture, and Wildlife<br />
                  Adventure
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-9.png" />
                <p>
                  8 Days Pyramids and Nile Cruise Aswan<br />
                  - Abu simbel - Luxor - Hurghada
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-2"
            role="tabpanel"
            aria-labelledby="toptours-2-tab"
          >
            <div id="news-slider9" class="owl-carousel owl-theme">
              <div class="item">
                <img src="assets/images/advanchar-banner-6.png" />
                <p>
                  The Magic of Morocco Tour 9 Days <br />
                  From Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-8.png" />
                <p>
                  Experience the Essence of Sri Lanka: <br />
                  Nature, Culture, and Wildlife<br />
                  Adventure
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-9.png" />
                <p>
                  8 Days Pyramids and Nile Cruise Aswan<br />
                  - Abu simbel - Luxor - Hurghada
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-3"
            role="tabpanel"
            aria-labelledby="toptours-3-tab"
          >
            <div id="news-slider10" class="owl-carousel owl-theme">
              <div class="item">
                <img src="assets/images/advanchar-banner-6.png" />
                <p>
                  The Magic of Morocco Tour 9 Days <br />
                  From Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-8.png" />
                <p>
                  Experience the Essence of Sri Lanka: <br />
                  Nature, Culture, and Wildlife<br />
                  Adventure
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-9.png" />
                <p>
                  8 Days Pyramids and Nile Cruise Aswan<br />
                  - Abu simbel - Luxor - Hurghada
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-4"
            role="tabpanel"
            aria-labelledby="toptours-4-tab"
          >
            <div id="news-slider11" class="owl-carousel owl-theme">
              <div class="item">
                <img src="assets/images/advanchar-banner-6.png" />
                <p>
                  The Magic of Morocco Tour 9 Days <br />
                  From Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-8.png" />
                <p>
                  Experience the Essence of Sri Lanka: <br />
                  Nature, Culture, and Wildlife<br />
                  Adventure
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-9.png" />
                <p>
                  8 Days Pyramids and Nile Cruise Aswan<br />
                  - Abu simbel - Luxor - Hurghada
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-5"
            role="tabpanel"
            aria-labelledby="toptours-5-tab"
          >
            <div id="news-slider12" class="owl-carousel owl-theme">
              <div class="item">
                <img src="assets/images/advanchar-banner-6.png" />
                <p>
                  The Magic of Morocco Tour 9 Days <br />
                  From Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-8.png" />
                <p>
                  Experience the Essence of Sri Lanka: <br />
                  Nature, Culture, and Wildlife<br />
                  Adventure
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-9.png" />
                <p>
                  8 Days Pyramids and Nile Cruise Aswan<br />
                  - Abu simbel - Luxor - Hurghada
                </p>
              </div>
              <div class="item">
                <img src="assets/images/advanchar-banner-7.png" />
                <p>
                  Morocco Tours 6 Days From <br />
                  Casablanca
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</section>
<section class="current-deals">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Current deals on Get Movings</h2>
        <ul>
          <li>
            <img src="assets/images/advanchar-banner-10.png" />
            <p>Morocco Tours 10 Days Tour From Casablanca</p>
          </li>
          <li>
            <img src="assets/images/advanchar-banner-11.png" />
            <p>Inca Trail, Titicaca & Nazca</p>
          </li>
          <li>
            <img src="assets/images/advanchar-banner-12.png" />
            <p>Historical Rajasthan</p>
          </li>
          <li>
            <img src="assets/images/advanchar-banner-13.png" />
            <p>Essential Costa Rica - Package with Guanacaste</p>
          </li>
          <li>
            <img src="assets/images/advanchar-banner-14.png" />
            <p>Essential Costa Rica - Package with Guanacaste</p>
          </li>
          <li>
            <img src="assets/images/advanchar-banner-15.png" />
            <p>Xin Chao Vietnam In 11 Days</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="expect">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>What to expect on an Get Moving</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="border-all">
          <img src="assets/images/expect-banner-16.png" />
          <p>An activity, or two, or three!</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="border-all">
          <img src="assets/images/expect-banner-17.png" />
          <p>Good old rest'n' relaxation</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="border-all">
          <img src="assets/images/expect-banner-18.png" />
          <p>Share your adventure</p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-6">
        <div class="border-all">
          <img src="assets/images/expect-banner-20.png" />
          <p>Set off on a hot air balloon safari</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="border-all">
          <img src="assets/images/expect-banner-19.png" />
          <p>Chase the thrill</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="border-all">
          <img src="assets/images/expect-banner-21.png" />
          <p>Wake up surrounded by nature</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="everyone">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Active trips for everyone</h2>
      </div>
      <div class="col-lg-12">
        <ul>
          <li>
            <img src="assets/images/expect-banner-22.png" />
            <h3>Easy</h3>
            <p>
              Staying active doesn’t have to involve scaling mountains or
              rushing through rapids. Many adventure tours offer gentle
              experiences like easy hikes, calm kayaking or rafting, and brief
              zip line rides over vibrant forests. Adventure tours aren’t just
              for adrenaline junkies—they’re perfect for anyone looking to enjoy
              nature at a comfortable pace!
            </p>
          </li>
          <li>
            <img src="assets/images/expect-banner-23.png" />
            <h3>Moderate</h3>
            <p>
              Designed for those with a moderate level of fitness, moderately
              active tours offer a variety of activities. You might enjoy
              kayaking trips, snorkeling to explore underwater wildlife, or wild
              overland adventures across the African savannah. To make the most
              of your moderately active journey, it’s important to be healthy,
              reasonably fit, and maintain a regular exercise routine!
            </p>
          </li>
          <li>
            <img src="assets/images/expect-banner-24.png" />
            <h3>Serious</h3>
            <p>
              Now things get truly thrilling! If conquering towering peaks and
              racing down wild rapids sounds like your kind of adventure, this
              is the perfect fit. You’ll be crossing rugged mountain ranges,
              tackling challenging conditions, and soaking in some of the
              world’s most stunning natural landscapes. These active pursuits
              demand a strong level of fitness to fully enjoy the experience!
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="popular-destinations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Top destinations for Get Moving</h2>
      </div>
      <div class="col-lg-12">
        <div class="advan-all">
          <div class="padu1">
            <div class="navlft">
              <img src="assets/images/destinations-banner-25.png" />
            </div>
            <div class="navrgt">
              <h3>Peru</h3>
              <p>
                Peru’s active tours offer a unique blend of culture and physical
                adventure. Our multi-day itineraries combine hiking with
                nighttime excursions to spot caimans and track howler monkeys in
                the Amazon, all while local guides share their expertise on
                medicinal plants.
              </p>
              <a href="#">Book Now</a>
            </div>
          </div>
          <div class="padu1">
            <div class="navlft">
              <img src="assets/images/destinations-banner-26.png" />
            </div>
            <div class="navrgt">
              <h3>Australia</h3>
              <p>
                Catch waves at Bondi Beach, trek through the stunning Blue
                Mountains, dive in a cage with sharks at Port Lincoln, and
                discover the vibrant marine life of the Great Barrier Reef. This
                land of diverse landscapes promises an unforgettable adventure
                at every turn.
              </p>
              <a href="#">Book Now</a>
            </div>
          </div>
          <div class="padu1">
            <div class="navlft">
              <img src="assets/images/destinations-banner-27.png" />
            </div>
            <div class="navrgt">
              <h3>Costa Rica</h3>
              <p>
                Our active tours in Costa Rica shine by offering a variety of
                experiences each day. From white-water rafting in the Caribbean
                lowlands to zip-lining over the Monteverde cloud forest, these
                are some of our most popular adventures. Many guests especially
                love their...
              </p>
              <a href="#">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-2">
        <div class="advan-all">
          <div class="padu1">
            <div class="navlft">
              <img src="assets/images/destinations-banner-28.png" />
            </div>
            <div class="navrgt">
              <h3>USA</h3>
              <p>
                If you thrive on nonstop adventure, America has plenty to offer.
                Feel your adrenaline surge while rafting down Colorado’s
                Arkansas River, framed by the towering Rocky Mountains. On the
                East Coast, challenge yourself with rock climbing in New...
              </p>
              <a href="#">Book Now</a>
            </div>
          </div>
          <div class="padu1">
            <div class="navlft">
              <img src="assets/images/destinations-banner-29.png" />
            </div>
            <div class="navrgt">
              <h3>Vietnam</h3>
              <p>
                Experience the vibrant floating markets of the Mekong Delta,
                wander through the colorful streets of Hoi An, or venture to
                Sapa to see the lush rice terraces. From cruising the stunning
                Halong Bay and tasting local delicacies in lively Hanoi to
                exploring caves by boat in Ninh Binh,...
              </p>
              <a href="#">Book Now</a>
            </div>
          </div>
          <div class="padu1">
            <div class="navlft">
              <img src="assets/images/destinations-banner-30.png" />
            </div>
            <div class="navrgt">
              <h3>Iceland</h3>
              <p>
                If you want active days but still prefer a comfortable bed each
                night, our Ring Road adventures are the perfect balance. This
                popular 6-day tour combines glacier hiking in Vatnajökull
                National Park with whale watching from Dalvík—and yes, you’ll...
              </p>
              <a href="#">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section class="every-taste">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Other Adventure Styles You Might Enjoy</h2>
        <p>
          Changing your mind? We offer a wide range of Adventure Styles to match
          every preference—from the most discerning traveler<br />
          to the hopeless romantic.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <img src="assets/images/destinations-banner-31.png" class="img-fluid" />
        <h4>Hikking</h4>
        <span
          >Take a deep breath and escape to trails where birds sing, fresh air
          revitalizes, and endless blue skies captivate. Whether you're seeking
          an adrenaline rush on a Machu Picchu trek or looking to connect with
          the...</span
        >
      </div>
      <div class="col-lg-3">
        <img src="assets/images/destinations-banner-32.png" class="img-fluid" />
        <h4>Bicycle</h4>
        <span
          >Experience travel like a local with a bicycle adventure. Pedal
          through the hidden trails of Northern Thailand, coast past the
          fragrant fields of Provence, or immerse yourself in the scents of
          Tuscany as you ride through its charming countryside.</span
        >
      </div>
      <div class="col-lg-3">
        <img src="assets/images/destinations-banner-33.png" class="img-fluid" />
        <h4>Sailing</h4>
        <span
          >Breathe deeply and escape to a trail where birdsong fills the air,
          fresh breezes refresh your spirit, and endless blue skies captivate
          your senses. Whether you’re seeking an adrenaline boost on a Machu
          Picchu trek or finding a deeper connection with the...</span
        >
      </div>
      <div class="col-lg-3">
        <img src="assets/images/destinations-banner-34.png" class="img-fluid" />
        <h4>Embark</h4>
        <span
          >Take a deep breath and retreat to a trail where birdsong welcomes
          you, fresh air revitalizes your soul, and vast blue skies captivate
          your gaze. Whether you’re pursuing the thrill of a Machu Picchu trek
          or seeking a deeper connection with the...</span
        >
      </div>
    </div>
  </div>
</section>
-->

<section class="every-taste">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Other Adventure Styles You Might Enjoy</h2>
        <p>
          Changing your mind? We offer a wide range of Adventure Styles to match
          every preference—from the most discerning traveler<br />
          to the hopeless romantic.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="image-overlay-card">
          <img src="assets/images/destinations-banner-31.png" class="img-fluid card-img" alt="Hiking Adventure" />
          <div class="card-overlay"></div>
          <div class="card-text">
            <h4>Hiking</h4>
            <span>
              Take a deep breath and escape to trails where birds sing, fresh air
              revitalizes, and endless blue skies captivate. Whether you're seeking
              an adrenaline rush on a Machu Picchu trek or looking to connect with the...
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="image-overlay-card">
          <img src="assets/images/destinations-banner-32.png" class="img-fluid card-img" alt="Bicycle Adventure" />
          <div class="card-overlay"></div>
          <div class="card-text">
            <h4>Bicycle</h4>
            <span>
              Experience travel like a local with a bicycle adventure. Pedal
              through the hidden trails of Northern Thailand, coast past the
              fragrant fields of Provence, or immerse yourself in the scents of
              Tuscany as you ride through its charming countryside.
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="image-overlay-card">
          <img src="assets/images/destinations-banner-33.png" class="img-fluid card-img" alt="Sailing Adventure" />
          <div class="card-overlay"></div>
          <div class="card-text">
            <h4>Sailing</h4>
            <span>
              Breathe deeply and escape to a trail where birdsong fills the air,
              fresh breezes refresh your spirit, and endless blue skies captivate
              your senses. Whether you’re seeking an adrenaline boost on a Machu
              Picchu trek or finding a deeper connection with the...
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="image-overlay-card">
          <img src="assets/images/destinations-banner-34.png" class="img-fluid card-img" alt="Embark Adventure" />
          <div class="card-overlay"></div>
          <div class="card-text">
            <h4>Embark</h4>
            <span>
              Take a deep breath and retreat to a trail where birdsong welcomes
              you, fresh air revitalizes your soul, and vast blue skies captivate
              your gaze. Whether you’re pursuing the thrill of a Machu Picchu trek
              or seeking a deeper connection with the...
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>
<section class="considering">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Michael’s adventure tour in Spain</h2>
        <p>
          If you’re thinking about this tour, I’d say it’s absolutely
          phenomenal! Experiencing Spain on your own just can’t compare. Earth
          Travellers has crafted a fun-filled itinerary that keeps you engaged
          while letting you relax and forget about travel hassles. I highly
          recommend this tour. My favorite moments were zip-lining through Beyos
          Gorge and the cable car ride followed by a hike to Horcados Rojos!
        </p>
      </div>
    </div>
  </div>
</section>
<section class="answered">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Your Adventure Tour Questions—Answered</h2>
        <ul>
          <li>
            <h3>
              How can I tell if an adventure tour is the right fit for me?
            </h3>
            <p>
              If you love traveling to exciting new places, trying something
              different each day, and diving into experiences that truly connect
              you with your destination, then an adventure tour is a great
              choice for you. Keep in mind, adventure tours come in varying
              levels of difficulty—so whether you’re just starting out or
              already an experienced explorer, there’s a perfect option waiting
              for you!
            </p>
          </li>
          <li>
            <h3>Are activities part of the tour package?</h3>
            <p>
              Adventure tours are all about the experiences, so most activities
              are typically included in the overall cost. Many operators also
              offer optional extras for those who want to take things up a notch
              and make the most of every moment. To see the full list of
              optional activities available on your trip, just send an
              inquiry—your tour operator will happily share all the details.
            </p>
          </li>
          <li>
            <h3>Do I need to train for an Active tour?</h3>
            <p>
              Only if you want to! One of the best parts about booking your
              adventure tour with tossntripsis the flexibility to choose your
              own level of challenge—from easygoing walks to high-energy
              thrills. Just use our filters to find a tour that suits your
              style. Not sure where to start? Reach out to us—we’re here to help
              you find the adventure that’s just right for you.
            </p>
          </li>
          <li>
            <h3>
              What’s the difference between an Active tour and an Explorer tour?
            </h3>
            <p>
              Our adventure styles are designed to suit all types of travelers,
              making it easy to find your perfect fit. If you enjoy a mix of
              experiences while exploring a new destination—like sightseeing,
              cultural visits, and local food—an Explorer tour is a great
              choice. Prefer a bit more action? Active tours include more
              physically engaging activities, such as ziplining through the
              jungle or diving in for a snorkel to cool off.
            </p>
          </li>
          <li>
            <h3>What about travel insurance?</h3>
            <p>
              Travel insurance is required for most tours booked through
              tossntrips and must be arranged before your journey begins. It
              provides essential coverage for things like trip cancellations,
              medical emergencies, and lost or stolen baggage. This is
              especially important for adventure tours, where unexpected
              situations can arise. In many cases, you can conveniently add
              travel insurance from Cover Genius directly when making your
              tossntrips booking.
            </p>
          </li>
          <li>
            <h3>How can I book an adventure tour on TossnTrips?</h3>
            <p>
              Discover your next adventure by browsing our tours until you find
              one that sparks your travel spirit. Use filters like destination,
              dates, key sights, and difficulty level to narrow down your
              options. Once you’ve made your choice, enter your details to book
              your trip. If you have any questions, just send an inquiry—the
              tour operator will get back to you with all the answers you need.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
