<app-search-bar></app-search-bar>

<section class="tour-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cultural">
          <h2>Explorer Trips</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="through">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2>Explorer Trips</h2>
        <p>
          Hello, adventurer! Why choose between a sunrise hike, kayaking on a
          pristine lake, or a leisurely stroll through vineyards?
          <br /><br />
          With an Explorer tour, you can experience them all. Crafted to awaken
          your spirit of adventure, inspire new experiences, and deepen your
          connection with diverse cultures, an Explorer adventure is the
          ultimate journey for every traveler.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="assets/images/explore-banner-2.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<section class="trekking">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Over 250 explorer vacation packages with 80,000+ reviews</h2>
      </div>
      <!--
      <div class="col-lg-12">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="toptours-tab"
              data-toggle="pill"
              href="#toptours"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >Best tours</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-1-tab"
              data-toggle="pill"
              href="#toptours-1"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >What to expect</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-2-tab"
              data-toggle="pill"
              href="#toptours-2"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best routes</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-3-tab"
              data-toggle="pill"
              href="#toptours-3"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-4-tab"
              data-toggle="pill"
              href="#toptours-4"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best companies</a
            >
          </li>
        </ul>
        <div class="tab-assets" id="pills-tabassets">
          <div
            class="tab-pane fade show active"
            id="toptours"
            role="tabpanel"
            aria-labelledby="toptours-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/explore-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Thai Experience</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Best Of Vietnam In 14 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Nile Adventure - Felucca cruise</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Experience Egypt & Jordan – 5* Cruise</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Thai Intro 18 Day</p>
                  <span>From $1,949</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-1"
            role="tabpanel"
            aria-labelledby="toptours-1-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/explore-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Thai Experience</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Best Of Vietnam In 14 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Nile Adventure - Felucca cruise</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Experience Egypt & Jordan – 5* Cruise</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Thai Intro 18 Day</p>
                  <span>From $1,949</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-2"
            role="tabpanel"
            aria-labelledby="toptours-2-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/explore-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Thai Experience</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Best Of Vietnam In 14 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Nile Adventure - Felucca cruise</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Experience Egypt & Jordan – 5* Cruise</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Thai Intro 18 Day</p>
                  <span>From $1,949</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-3"
            role="tabpanel"
            aria-labelledby="toptours-3-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/explore-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Thai Experience</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Best Of Vietnam In 14 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Nile Adventure - Felucca cruise</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Experience Egypt & Jordan – 5* Cruise</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Thai Intro 18 Day</p>
                  <span>From $1,949</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-4"
            role="tabpanel"
            aria-labelledby="toptours-4-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/explore-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Thai Experience</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Best Of Vietnam In 14 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Nile Adventure - Felucca cruise</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Experience Egypt & Jordan – 5* Cruise</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Thai Intro 18 Day</p>
                  <span>From $1,949</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      -->





            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Best tours">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/explore-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Thai Experience</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Best Of Vietnam In 14 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Nile Adventure - Felucca cruise</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Experience Egypt & Jordan – 5* Cruise</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Thai Intro 18 Day</p>
                  <span>From $1,949</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="What to expect">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/explore-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Thai Experience</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Best Of Vietnam In 14 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Nile Adventure - Felucca cruise</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Experience Egypt & Jordan – 5* Cruise</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Thai Intro 18 Day</p>
                  <span>From $1,949</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="Best routes">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/explore-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Thai Experience</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Best Of Vietnam In 14 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Nile Adventure - Felucca cruise</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Experience Egypt & Jordan – 5* Cruise</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Thai Intro 18 Day</p>
                  <span>From $1,949</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="FAQ">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/explore-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Thai Experience</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Best Of Vietnam In 14 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Nile Adventure - Felucca cruise</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Experience Egypt & Jordan – 5* Cruise</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Thai Intro 18 Day</p>
                  <span>From $1,949</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="Best companies">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/explore-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Thai Experience</p>
                  <span>From $1,774</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-4.png"
                    class="img-fluid"
                  />
                  <p>Best Of Vietnam In 14 Days</p>
                  <span>From $1,998, $899</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Nile Adventure - Felucca cruise</p>
                  <span>From $1,241 $621</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Experience Egypt & Jordan – 5* Cruise</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/explore-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Thai Intro 18 Day</p>
                  <span>From $1,949</span>
                </li>
              </ul>
            </div>
        </mat-tab>
      </mat-tab-group>


    </div>
  </div>
</section>
<section class="expert-on">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>What to expect on an Explorer adventure</h2>
        <p>
          Explorer trips offer a “mix-and-match” experience, perfect for
          adventurers who crave a little bit of everything. Touring iconic
          European cities? Check. Enjoying a sushi masterclass? Check. Cycling
          through charming villages? Check. Hiking up a volcano to catch the
          sunrise? Check!
        </p>
        <ul>
          <li>
            <img src="assets/images/explore-banner-8.png" class="img-fluid" />
            <h3>Max. adventure, min. time</h3>
            <p>
              We all love to travel, but sometimes time or vacation days just
              don’t stretch far enough. Explorer tours pack the most adventure
              into the shortest time, letting you experience new cultures, taste
              exciting foods, and get your adrenaline pumping—all in one
              unforgettable trip!
            </p>
          </li>
          <li>
            <img src="assets/images/explore-banner-9.png" class="img-fluid" />
            <h3>Good times, guaranteed</h3>
            <p>
              Filled with a wide range of activities—from tracing the paths of
              ancient gladiators to camel rides across the Sahara—Explorer tours
              offer fun for the entire family. Whether you’re traveling solo,
              enjoying a romantic honeymoon, or celebrating an early retirement,
              an Explorer adventure is perfect for everyone!
            </p>
          </li>
          <li>
            <img src="assets/images/explore-banner-10.png" class="img-fluid" />
            <h3>A little bit of everything</h3>
            <p>
              With so many incredible experiences waiting around the globe, why
              choose just one? On an Explorer tour, you don’t have to! Imagine
              sailing the Greek Islands, immersing yourself in ancient myths,
              and savoring fresh Mediterranean cuisine—all in one unforgettable
              adventure!
            </p>
          </li>
          <li>
            <img src="assets/images/explore-banner-11.png" class="img-fluid" />
            <h3>No regrets!s</h3>
            <p>
              No other Adventure Style combines rich cultural experiences, bold
              new flavors, legendary stories, and secret spots even locals
              rarely discover. With a dash of active excursions to fully embrace
              the wonders of each destination, your Explorer tour will leave you
              craving your next adventure!
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="come-along">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Come along on a youth Explorer tour</h2>
        <p>
          From marveling at soaring cathedrals and world-famous artworks to
          tasting authentic local dishes and falling for charming languages,
          it’s no surprise that Europe tops so many bucket lists. The continent
          often feels like the perfect escape during a busy morning commute: “If
          only I could get away to Europe for a while!” Why not make that dream
          a reality? Get ready for the adventure of a lifetime, exploring Europe
          alongside a group of fellow travelers just as eager as you are!
          <br /><br />
          Our Explorer tours for young adults are designed with vibrant
          itineraries packed full of fast-paced activities, delicious food, and
          great company ready to keep the energy high. Whether you’re sailing
          along Croatia’s breathtaking coastline or raising a toast in Germany’s
          historic beer halls, this adventure promises unforgettable memories.
          Plus, with transportation, meals, and accommodation all taken care of,
          all you have to do is show up and enjoy the ride!
        </p>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/explore-banner-12.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="enough">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Nancy on her Explorer tour of the USA</h2>
        <p>
          “I can’t recommend this tour enough! Mount Rushmore exceeded all my
          expectations, the Badlands were absolutely breathtaking, and our
          guide’s expertise was incredible. From exploring Deadwood City and its
          fascinating museums to visiting Minute Man, it felt like stepping back
          into American history brought vividly to life. Truly an unforgettable
          experience—I loved every moment of this amazing tour!”
        </p>
      </div>
    </div>
  </div>
</section>
<section class="europe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Most popular destinations for an Explorer tour</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/exploar-banner-14.png" class="img-fluid" />
            <h2>Germany</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Germany’s spirit shines in our Explorer tours, featuring a
              flagship itinerary that spans 24 diverse destinations across the
              country. From the cultural treasures of Berlin’s Museum Island and
              the Holocaust Memorial to the charming medieval streets of
              Rothenburg, you’ll experience both iconic landmarks and hidden
              gems that capture the true essence of Germany.
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/exploar-banner-15.png" class="img-fluid" />
            <h2>USA</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Our Southwest Explorer tours span 7 to 9 days across Utah and
              Arizona, with small groups of 14 or fewer to ensure an intimate
              experience. Whether you're hiking through Zion’s Narrows or
              wandering among the towering rock formations of Bryce Canyon, each
              day offers a fresh adventure—from morning treks along ancient
              trails to exploring breathtaking landscapes.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/exploar-banner-17.png" class="img-fluid" />
            <h2>India</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Our Explorer tours perfectly combine the cultural highlights of
              the Golden Triangle with thrilling wildlife experiences at
              Ranthambore National Park. Many travelers rave about spotting
              tigers during early morning game drives—an unforgettable glimpse
              of these majestic cats in their natural habitat. These 5 to 7-day
              adventures offer the ideal blend of heritage and nature.
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/exploar-banner-18.png" class="img-fluid" />
            <h2>Australia</h2>
          </div>
          <div class="rgt-nav">
            <p>
              For those eager to explore Australia, our top tours begin with
              immersive experiences in Sydney before journeying along the
              stunning east coast. Start your adventure learning to surf with
              expert local instructors in Byron Bay, where dolphin sightings
              during morning sessions are common. What truly makes these tours
              stand out is...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="dervishes">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Explorer itineraries for everyone</h2>

        <ul>
          <li>
            <img
              src="assets/images/exploar-banner-19.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>Easy</h3>
            <p>
              Ideal for all ages, our easy Explorer adventures offer plenty of
              sightseeing with minimal exertion! Enjoy guided walks through
              iconic cities, leisurely bike rides in charming towns, and
              activities designed for all fitness levels. We handle all the
              details, so you can relax and fully enjoy your stress-free
              adventure.
            </p>
          </li>
          <li>
            <img
              src="assets/images/exploar-banner-20.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>Moderate</h3>
            <p>
              Dive into the full Explorer experience with a moderate-level
              adventure! Expect activities like sunrise hikes, thrilling 4WD
              off-road excursions, and other experiences that call for a fair
              level of fitness. These trips gently push your limits, inviting
              you to step outside your comfort zone just enough to make every
              moment unforgettable.
            </p>
          </li>
          <li>
            <img
              src="assets/images/exploar-banner-21.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>Serious</h3>
            <p>
              This is where the thrill truly begins! A serious Explorer trip is
              tailored for those with strong fitness, as most activities demand
              physical endurance to fully appreciate. Expect challenging hikes
              with steep climbs, extended cycling journeys, and visits to
              breathtaking sights where the adventure lies as much in the
              journey as the destination!
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tours-all">
          <ul>
            <li>
              <img
                src="assets/images/exploar-banner-22.png"
                class="img-fluid"
              />
              <h2>2 Weeks</h2>
              <p>3,795 Tours</p>
            </li>
            <li>
              <img
                src="assets/images/exploar-banner-23.png"
                class="img-fluid"
              />
              <h2>10 Days</h2>
              <p>3,795 Tours</p>
            </li>
            <li>
              <img
                src="assets/images/exploar-banner-24.png"
                class="img-fluid"
              />
              <h2>1 Week</h2>
              <p>5,334 Tours</p>
            </li>
            <li>
              <img
                src="assets/images/exploar-banner-25.png"
                class="img-fluid"
              />
              <h2>3 Day Getaway</h2>
              <p>1,922 Tours</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="answered add">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center add">Your Explorer trip questions, answered</h2>
        <ul>
          <li>
            <h3>How do I know an Explorer tour is right for me?</h3>
            <p>
              If you’re the kind of traveler who loves a little bit of
              everything on vacation, an Explorer tour is just right for you!
              Crafted to maximize your experience without breaking the bank,
              Explorer adventures are budget-friendly and the most popular
              Adventure Style on Tossntrip — and that says a lot!
            </p>
          </li>
          <li>
            <h3>Are Explorer tours fast-paced?</h3>
            <p>
              Explorer tours tend to be more fast-paced compared to our other
              Adventure Styles, packing a variety of activities into a shorter
              timeframe. That said, you’ll still have plenty of free time to
              soak in your surroundings. If you prefer a slower, more immersive
              experience, our Travel Experts can connect you with operators who
              offer just that.
            </p>
          </li>
          <li>
            <h3>What’s the difference between a Cultural and Explorer tour?</h3>
            <p>
              We’ve crafted Adventure Styles to match every traveler’s
              preference. If immersing yourself in diverse cultures—or even
              rediscovering your own—is what you seek, a Cultural tour is
              perfect for you! For those who crave a mix of experiences, our
              Explorer tours offer the best of both worlds—imagine exploring
              Andean hill tribes in Peru alongside a hike to Machu Picchu and
              encounters with llamas!
            </p>
          </li>
          <li>
            <h3>What if I don’t want to do an activity on tour?</h3>
            <p>
              No worries—most activities on our tours are optional. Just reach
              out to our Travel Experts or let your guide know if you prefer to
              skip something. Often, your guide can suggest equally enjoyable
              alternatives, like sampling local dishes at charming cafes or
              taking some free time to explore at your own pace!
            </p>
          </li>
          <li>
            <h3>Can I combine Adventure Styles?</h3>
            <p>
              Absolutely! Your adventure is yours to create—why not enhance it
              with wine tasting in France, island hopping through the Greek
              Islands, or an exhilarating safari in Kenya?
            </p>
          </li>
          <li>
            <h3>How do I book an Explorer tour on Tossntrip?</h3>
            <p>
              Discover your next Explorer adventure by browsing our tours until
              you find the perfect fit. Just select your dates, complete your
              details, and lock in your trip. If you need any help, our Travel
              Experts are available around the clock to assist you!
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
