<app-search-bar></app-search-bar>
<section class="tour-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sailing">
          <h2>Sailing Tours</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="through">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2>Sailing Tours</h2>
        <p>
          Raise your sails—it’s time for an unforgettable adventure on the open
          sea! Live out your pirate dreams island-hopping across the Caribbean
          or enjoy a dreamy escape in Greece.
          <br />
          <br />
          Whether you’re cruising aboard a private yacht in the Mediterranean or
          joining a group expedition through the wildlife-filled Galapagos
          Islands, a sailing adventure offers endless possibilities—the world is
          truly your oyster!
        </p>
      </div>
      <div class="col-lg-5 text-right">
        <img src="assets/images/sailing-bannner-2.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<section class="trekking">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Over 250 Sailing tours with over 4,000 reviews</h2>
      </div>

      <!--
      <div class="col-lg-12">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="toptours-tab"
              data-toggle="pill"
              href="#toptours"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >Best tours</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-1-tab"
              data-toggle="pill"
              href="#toptours-1"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >What to expect</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-2-tab"
              data-toggle="pill"
              href="#toptours-2"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best routes</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-3-tab"
              data-toggle="pill"
              href="#toptours-3"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-4-tab"
              data-toggle="pill"
              href="#toptours-4"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best companies</a
            >
          </li>
        </ul>
        <div class="tab-assets" id="pills-tabassets">
          <div
            class="tab-pane fade show active"
            id="toptours"
            role="tabpanel"
            aria-labelledby="toptours-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/sailing-bannner-3.png"
                    class="img-fluid"
                  />
                  <p>All Included Halong Bay 2 Days 1 Night On 3-Star Cruise</p>
                  <span>From $134</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-4.png"
                    class="img-fluid"
                  />
                  <p>Greece Sailing Adventure: Cyclades Islands</p>
                  <span>From $2,502</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-5.png"
                    class="img-fluid"
                  />
                  <p>Dalmatian Highlights Split & Dubrovnik Region Cruise</p>
                  <span>From $1,568</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-6.png"
                    class="img-fluid"
                  />
                  <p>All Included Lan Ha Bay 5- star Cruise - 2 Days 1 Night</p>
                  <span>From $224</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi - Halong Bay - Lan Ha Bay 2 days 1 night on Cruise
                  </p>
                  <span>From $198</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-1"
            role="tabpanel"
            aria-labelledby="toptours-1-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/sailing-bannner-3.png"
                    class="img-fluid"
                  />
                  <p>All Included Halong Bay 2 Days 1 Night On 3-Star Cruise</p>
                  <span>From $134</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-4.png"
                    class="img-fluid"
                  />
                  <p>Greece Sailing Adventure: Cyclades Islands</p>
                  <span>From $2,502</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-5.png"
                    class="img-fluid"
                  />
                  <p>Dalmatian Highlights Split & Dubrovnik Region Cruise</p>
                  <span>From $1,568</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-6.png"
                    class="img-fluid"
                  />
                  <p>All Included Lan Ha Bay 5- star Cruise - 2 Days 1 Night</p>
                  <span>From $224</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi - Halong Bay - Lan Ha Bay 2 days 1 night on Cruise
                  </p>
                  <span>From $198</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-2"
            role="tabpanel"
            aria-labelledby="toptours-2-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/sailing-bannner-3.png"
                    class="img-fluid"
                  />
                  <p>All Included Halong Bay 2 Days 1 Night On 3-Star Cruise</p>
                  <span>From $134</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-4.png"
                    class="img-fluid"
                  />
                  <p>Greece Sailing Adventure: Cyclades Islands</p>
                  <span>From $2,502</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-5.png"
                    class="img-fluid"
                  />
                  <p>Dalmatian Highlights Split & Dubrovnik Region Cruise</p>
                  <span>From $1,568</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-6.png"
                    class="img-fluid"
                  />
                  <p>All Included Lan Ha Bay 5- star Cruise - 2 Days 1 Night</p>
                  <span>From $224</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi - Halong Bay - Lan Ha Bay 2 days 1 night on Cruise
                  </p>
                  <span>From $198</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-3"
            role="tabpanel"
            aria-labelledby="toptours-3-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/sailing-bannner-3.png"
                    class="img-fluid"
                  />
                  <p>All Included Halong Bay 2 Days 1 Night On 3-Star Cruise</p>
                  <span>From $134</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-4.png"
                    class="img-fluid"
                  />
                  <p>Greece Sailing Adventure: Cyclades Islands</p>
                  <span>From $2,502</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-5.png"
                    class="img-fluid"
                  />
                  <p>Dalmatian Highlights Split & Dubrovnik Region Cruise</p>
                  <span>From $1,568</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-6.png"
                    class="img-fluid"
                  />
                  <p>All Included Lan Ha Bay 5- star Cruise - 2 Days 1 Night</p>
                  <span>From $224</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi - Halong Bay - Lan Ha Bay 2 days 1 night on Cruise
                  </p>
                  <span>From $198</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-4"
            role="tabpanel"
            aria-labelledby="toptours-4-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/sailing-bannner-3.png"
                    class="img-fluid"
                  />
                  <p>All Included Halong Bay 2 Days 1 Night On 3-Star Cruise</p>
                  <span>From $134</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-4.png"
                    class="img-fluid"
                  />
                  <p>Greece Sailing Adventure: Cyclades Islands</p>
                  <span>From $2,502</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-5.png"
                    class="img-fluid"
                  />
                  <p>Dalmatian Highlights Split & Dubrovnik Region Cruise</p>
                  <span>From $1,568</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-6.png"
                    class="img-fluid"
                  />
                  <p>All Included Lan Ha Bay 5- star Cruise - 2 Days 1 Night</p>
                  <span>From $224</span>
                </li>
                <li>
                  <img
                    src="assets/images/sailing-bannner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Hanoi - Halong Bay - Lan Ha Bay 2 days 1 night on Cruise
                  </p>
                  <span>From $198</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      -->

      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Best tours">
          <div class="fastival">
            <ul>
              <li>
                <img
                  src="assets/images/sailing-bannner-3.png"
                  class="img-fluid"
                />
                <p>All Included Halong Bay 2 Days 1 Night On 3-Star Cruise</p>
                <span>From $134</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-4.png"
                  class="img-fluid"
                />
                <p>Greece Sailing Adventure: Cyclades Islands</p>
                <span>From $2,502</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-5.png"
                  class="img-fluid"
                />
                <p>Dalmatian Highlights Split & Dubrovnik Region Cruise</p>
                <span>From $1,568</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-6.png"
                  class="img-fluid"
                />
                <p>All Included Lan Ha Bay 5- star Cruise - 2 Days 1 Night</p>
                <span>From $224</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-7.png"
                  class="img-fluid"
                />
                <p>Hanoi - Halong Bay - Lan Ha Bay 2 days 1 night on Cruise</p>
                <span>From $198</span>
              </li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="What to expect">
          <div class="fastival">
            <ul>
              <li>
                <img
                  src="assets/images/sailing-bannner-3.png"
                  class="img-fluid"
                />
                <p>All Included Halong Bay 2 Days 1 Night On 3-Star Cruise</p>
                <span>From $134</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-4.png"
                  class="img-fluid"
                />
                <p>Greece Sailing Adventure: Cyclades Islands</p>
                <span>From $2,502</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-5.png"
                  class="img-fluid"
                />
                <p>Dalmatian Highlights Split & Dubrovnik Region Cruise</p>
                <span>From $1,568</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-6.png"
                  class="img-fluid"
                />
                <p>All Included Lan Ha Bay 5- star Cruise - 2 Days 1 Night</p>
                <span>From $224</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-7.png"
                  class="img-fluid"
                />
                <p>Hanoi - Halong Bay - Lan Ha Bay 2 days 1 night on Cruise</p>
                <span>From $198</span>
              </li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="Best routes">
          <div class="fastival">
            <ul>
              <li>
                <img
                  src="assets/images/sailing-bannner-3.png"
                  class="img-fluid"
                />
                <p>All Included Halong Bay 2 Days 1 Night On 3-Star Cruise</p>
                <span>From $134</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-4.png"
                  class="img-fluid"
                />
                <p>Greece Sailing Adventure: Cyclades Islands</p>
                <span>From $2,502</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-5.png"
                  class="img-fluid"
                />
                <p>Dalmatian Highlights Split & Dubrovnik Region Cruise</p>
                <span>From $1,568</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-6.png"
                  class="img-fluid"
                />
                <p>All Included Lan Ha Bay 5- star Cruise - 2 Days 1 Night</p>
                <span>From $224</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-7.png"
                  class="img-fluid"
                />
                <p>Hanoi - Halong Bay - Lan Ha Bay 2 days 1 night on Cruise</p>
                <span>From $198</span>
              </li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="FAQ">
          <div class="fastival">
            <ul>
              <li>
                <img
                  src="assets/images/sailing-bannner-3.png"
                  class="img-fluid"
                />
                <p>All Included Halong Bay 2 Days 1 Night On 3-Star Cruise</p>
                <span>From $134</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-4.png"
                  class="img-fluid"
                />
                <p>Greece Sailing Adventure: Cyclades Islands</p>
                <span>From $2,502</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-5.png"
                  class="img-fluid"
                />
                <p>Dalmatian Highlights Split & Dubrovnik Region Cruise</p>
                <span>From $1,568</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-6.png"
                  class="img-fluid"
                />
                <p>All Included Lan Ha Bay 5- star Cruise - 2 Days 1 Night</p>
                <span>From $224</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-7.png"
                  class="img-fluid"
                />
                <p>Hanoi - Halong Bay - Lan Ha Bay 2 days 1 night on Cruise</p>
                <span>From $198</span>
              </li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="Best companies">
          <div class="fastival">
            <ul>
              <li>
                <img
                  src="assets/images/sailing-bannner-3.png"
                  class="img-fluid"
                />
                <p>All Included Halong Bay 2 Days 1 Night On 3-Star Cruise</p>
                <span>From $134</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-4.png"
                  class="img-fluid"
                />
                <p>Greece Sailing Adventure: Cyclades Islands</p>
                <span>From $2,502</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-5.png"
                  class="img-fluid"
                />
                <p>Dalmatian Highlights Split & Dubrovnik Region Cruise</p>
                <span>From $1,568</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-6.png"
                  class="img-fluid"
                />
                <p>All Included Lan Ha Bay 5- star Cruise - 2 Days 1 Night</p>
                <span>From $224</span>
              </li>
              <li>
                <img
                  src="assets/images/sailing-bannner-7.png"
                  class="img-fluid"
                />
                <p>Hanoi - Halong Bay - Lan Ha Bay 2 days 1 night on Cruise</p>
                <span>From $198</span>
              </li>
            </ul>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
<section class="expert-on">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">What to expect on a Sailing adventure</h2>

        <ul>
          <li>
            <img src="assets/images/sailing-bannner-8.png" class="img-fluid" />
            <h3>A VIP experience</h3>
            <p>
              Experience the luxury of sailing the Mediterranean on your own
              private yacht, discovering hidden gems accessible only by sea.
              Picture yourself unwinding on the deck of a secluded island cove,
              cruising to a private white-sand beach, and diving into warm ocean
              waters with no one else around—pure bliss!
            </p>
          </li>
          <li>
            <img src="assets/images/sailing-bannner-9.png" class="img-fluid" />
            <h3>All-in-one adventure</h3>
            <p>
              Torn between a cultural adventure and an island-hopping escape?
              With a sailing tour, you don’t have to pick. The best itineraries
              blend rich cultural experiences, local flavors, exciting
              activities, and even wildlife encounters—like meeting the gentle
              giants of the Galápagos Islands.
            </p>
          </li>
          <li>
            <img src="assets/images/sailing-bannner-10.png" class="img-fluid" />
            <h3>New day, new destination</h3>
            <p>
              Explore some of the world’s most pristine destinations, from
              Australia’s Great Barrier Reef to the Seychelles archipelago in
              Africa. With tens of thousands of islands framed by untouched
              golden beaches, there’s no better reason to embark on a sailing
              adventure. Just imagine stepping onto a new beach every single
              day!
            </p>
          </li>
          <li>
            <img src="assets/images/sailing-bannner-11.png" class="img-fluid" />
            <h3>Just escape</h3>
            <p>
              Dreaming of a getaway but unsure where to go? A sailing holiday is
              the perfect escape from everyday life, where blue skies and
              refreshing waters create a tranquil home away from home. Let the
              gentle rhythm of the waves carry you to the island paradise you’ve
              always imagined.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="come-along">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Sail the Croatian Islands with us!</h2>
        <p>
          Escape to the sparkling Adriatic Coast in the Mediterranean, where
          you’ll stroll through Dubrovnik’s medieval streets, savor local wines
          in Korčula, and much more! With its breathtaking nature, breezy
          islands, and stunning seascapes, Croatia offers the perfect backdrop
          for an unforgettable Adriatic getaway.
          <br />
          <br />
          Whether you want to relax on beautiful beaches, dine at top-notch
          restaurants, or dance the night away—or all three—Croatia has it all.
          This sailing adventure covers a mix of popular hotspots and hidden
          gems, from Split and Makarska to Mljet and Hvar. If you want to
          experience the best of Croatia while soaking up plenty of sunshine, a
          sailing trip is the ultimate choice!
        </p>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/sailing-bannner-12.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="elizabeth">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Elizabeth on her Galápagos Sailing adventure</h2>
        <p>
          "I loved every moment of the G Adventures Galápagos Island Hopping
          trip! Snorkeling in the crystal-clear waters, exploring vibrant fish
          and natural underwater tunnels was incredible. Each day was perfectly
          planned with great optional activities. The group size of 14 was
          ideal—whether dining together or on your own—and our group leader kept
          things organized and fun throughout. Highly recommend this adventure!"
        </p>
      </div>
    </div>
  </div>
</section>
<section class="europe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Most popular destinations for a sailing holiday</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/sailing-bannner-14.png" class="img-fluid" />
            <h2>Mediterranean</h2>
          </div>
          <div class="rgt-nav">
            <p>
              With its picturesque historic ports and beautiful sandy
              coastlines, the Mediterranean ranks among the world’s top sailing
              destinations. Whether you’re island hopping through Greece’s
              charming whitewashed villages or sailing along the stunning shores
              of Dubrovnik, this region offers unforgettable experiences at
              every turn.
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/sailing-bannner-15.png" class="img-fluid" />
            <h2>Oceania</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Discover the highlights of Oceania on a sailing adventure through
              the Lands Down Under. Sail around Australia’s Whitsunday Islands,
              diving daily into the vibrant Great Barrier Reef, or immerse
              yourself in New Zealand’s rich Maori culture and breathtaking
              landscapes at...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/sailing-bannner-16.png" class="img-fluid" />
            <h2>Latin America</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Our Caribbean sailing routes truly stand out between Guadeloupe
              and Sint Maarten, offering the perfect blend of UNESCO-listed
              Saintes Bay and Anguilla’s renowned culinary delights. Another
              fantastic itinerary takes you through St. Lucia and St. Vincent,
              where you can anchor and explore...
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/sailing-bannner-17.png" class="img-fluid" />
            <h2>Asia</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Whether you choose Thailand, Indonesia, or Vietnam, a sailing
              vacation in Asia offers captivating cultural experiences,
              delicious cuisine, and exotic destinations. From longtail boat
              rides exploring Phuket’s stunning reefs to tropical escapes filled
              with vibrant local life, your journey will be unforgettable.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="dervishes add-new">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Best sailing experiences</h2>
        <p>
          With countless sailing adventures around the globe waiting to be
          discovered, choosing the perfect one can be overwhelming. Our Travel
          Experts are here to guide you toward unique sailing experiences that
          our customers love—ensuring your journey will be one for the ship’s
          log!
        </p>
        <ul>
          <li>
            <img
              src="assets/images/sailing-bannner-21.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>Spoil yourself with a private sail</h3>
            <p>
              If you’re ready to indulge, few experiences compare to having your
              own private vessel to sail the seas—whether it’s a romantic
              escape, a family celebration, or that bucket-list adventure you’ve
              been dreaming of.
            </p>
          </li>
          <li>
            <img
              src="assets/images/sailing-bannner-22.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>Dive to discover colorful corals</h3>
            <p>
              Few travel styles complement each other as perfectly as diving and
              sailing! Explore vibrant reefs up close with an exhilarating dive,
              then unwind on deck with a refreshing drink as you soak in the
              surroundings.
            </p>
          </li>
          <li>
            <img
              src="assets/images/sailing-bannner-23.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>Sail the Egyptian way on a felucca</h3>
            <p>
              Experience the mysteries of the Nile aboard a traditional wooden
              sailing boat. Enjoy delicious Middle Eastern cuisine and luxurious
              comfort as your journey transports you back to the era of the
              pharaohs.
            </p>
          </li>
          <li>
            <img
              src="assets/images/sailing-bannner-24.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>Sail the Egyptian way on a felucca</h3>
            <p>
              Discover the secrets of the Nile aboard a traditional wooden
              sailing boat. Savor authentic Middle Eastern cuisine and enjoy
              unparalleled comfort as your journey brings the ancient world of
              the pharaohs to life.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tours-all add-all">
          <h3>Other Adventure styles you might like</h3>
          <ul>
            <li>
              <img
                src="assets/images/sailing-bannner-18.png"
                class="img-fluid"
              />
              <h2>Explorer</h2>
              <p>24,463 Tours</p>
            </li>
            <li>
              <img
                src="assets/images/sailing-bannner-19.png"
                class="img-fluid"
              />
              <h2>River Cruise</h2>
              <p>3,177 Tours</p>
            </li>
            <li>
              <img
                src="assets/images/sailing-bannner-20.png"
                class="img-fluid"
              />
              <h2>Active</h2>
              <p>24,461 Tours</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="answered add">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center add">Your Sailing trip questions, answered</h2>
        <ul>
          <li>
            <h3>Do I need to know how to sail?</h3>
            <p>
              On most of our sailing adventures, a skipper or crew members will
              be on board to guide you, so no prior sailing experience is
              needed. If you’re interested in taking the helm yourself, some
              private sailing trips offer the chance to captain your own
              boat—just be sure to check with your operator to see if this
              option is available.
            </p>
          </li>
          <li>
            <h3>Am I required to help out on the boat?</h3>
            <p>
              Sailing adventure operators come with a fully skilled crew, so you
              can relax without needing to pitch in—unless you’re eager to
              sharpen your sailing skills, of course!
            </p>
          </li>
          <li>
            <h3>What are the cabins like?</h3>
            <p>
              Cabin sizes vary depending on the vessel, but they’re generally
              compact. Couples usually have their own cabin, while solo
              travelers may share with another passenger of the same gender or
              pay a single supplement for a private room. Most cabins feature
              ensuite bathrooms, though some boats may have shared facilities.
              If you’re unsure, your operator can provide all the details.
            </p>
          </li>
          <li>
            <h3>How much time is spent off the boat?</h3>
            <p>
              Sailing tours perfectly balance life on and off the water. A
              typical day might start with waking up on board, taking a
              refreshing morning swim, then docking at a historic port to
              explore charming streets, sample local cuisine, and enjoy some
              free time before returning to your boat for the evening. Each
              sailing itinerary is unique, but most include guided excursions
              and a variety of land-based activities along the way.
            </p>
          </li>
          <li>
            <h3>Do I need travel insurance for a Sailing trip?</h3>
            <p>
              Most Overland trips include setting up tents, helping with meal
              prep, spending long hours on the road, and navigating bumpy
              terrain, so a moderate level of fitness is recommended to make the
              most of your adventure. If you’re unsure about the activity level,
              our Travel Experts are happy to advise you. And if you’re craving
              something more active, consider adventures that include thrilling
              experiences like ziplining through the jungle or cooling off with
              a refreshing dive!
            </p>
          </li>
          <li>
            <h3>How do I book a Sailing adventure on Tossntrip?</h3>
            <p>
              Find your next sailing adventure by browsing our tours—choose your
              preferred dates and destination, and use our easy filters for
              must-see cities or budget to discover the trip that’s calling your
              name. Once you’ve found it, just enter your details to secure your
              spot. And if you have any questions, our Travel Experts are
              available 24/7 to help!
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
