<section class="privacy-policy">
<div class="policy">
    <h2>Travel Alerts</h2>
</div>    
</section>
<section class="about-policy">
 <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <h3>Travel Alerts</h3>
      <p>
        G Adventures prides itself on the extensive network of ground operations, tour leaders and local contacts worldwide, which keep us informed and up-to-date on all local situations in which we operate. Our passengers' safety is of the utmost priority and we rely on these networks to allow us to make the operational decisions necessary to keep our trips running safely. We often know of situations on the ground before the media and we are in constant contact with our local offices, tour leaders, local operators, and colleagues in order to closely monitor and inform you of the most current information affecting any regions where we operate.
      </p>
      <h3>Madagascar Protests</h3>
      <p>
          Posted: 27 Sep, 2025 | Updated: 27 Sep, 2025
          <br>
          <br>
          Protests and disorder have taken place in Antananarivo with some incidents of violence, including looting. Roads to Antananarivo airport have sometimes been blocked by protests and some internal and international flights have been cancelled. Further protests are expected and may spread to other parts of Madagascar. The government has imposed an overnight curfew in Antananarivo.
          <br>
          <br>
          Tours departing up to and including 30 September are being impacted. Our teams are reaching out to impacted travellers.
          <br>
          <br>
          Our local teams are on hand to provide support to travellers who are currently in Madagascar.
          <br>
          <br>
          We will continue to monitor the situation and we will provide updates as necessary.
      </p>
       <h3>Bali Indonesia - A ferry carrying 65 people sinks off Indonesia’s Bali</h3>
       <p>
          Posted: 04 Jul, 2025 | Updated: 24 Jul, 2025
          <br>
          <br>
          A ferry carrying 65 people has sunk off Indonesia’s Bali  <br>
          At least 4 people have died and 38 people are missing after a ferry carrying 65 people sank on its way to the Indonesian resort island of Bali, according to local police. The vessel sank before midnight on 2 July in the Bali Strait between Ketapang, Banyuwangi and Gilimanuk, Bali.  <br>
          23 survivors have been rescued, the agency says, as the search continues. Authorities are investigating the cause of the sinking.  <br>
          No G Adventures travellers or Staff were affected.  <br>
          We will continue to monitor the situation closely.  <br>
       </p>
       <h3>Thailand / Cambodia Border Disputes</h3>
       <p>
          Posted: 24 Jul, 2025 | Updated: 03 Sep, 2025
          <br>
          <br>
          Troops from Thailand and Cambodia have clashed at a disputed portion of their border early on Thursday.
          <br>
          <br>
Escalations remain restricted to the border area, which is approximately 250 KM away from Siem Reap and 400 KM from Bangkok.<br>
All land border checkpoints remain closed. Whilst we continue to closely monitor the situation, all of our trips crossing the Thailand - Cambodia border are currently running as scheduled with no interruptions. We continue to secure flights for all our travellers in place of the usual land border crossings.
       </p>
       <h3>Portugal - Lisbon Funicular Accident</h3>
       <p>
        Posted: 03 Sep, 2025 | Updated: 08 Sep, 2025
         <br>
          <br>
          Wedrnesday September 3, 2025 - Lisbon - Portugal
           <br>
          <br>
          Local authorities have reported that Lisbon’s historic Gloria funicular derailed today, resulting in muoltiple fatalities and injuries. We can confirm that no G Adventures travellers or staff were involved in the incident.
          <br>
          <br>
          All G Adventures travellers are safe and accounted for.
        </p>
        
       <h3>Attempted Bombing - Thailand</h3>
       <p>
        Posted: 30 Jun, 2025 | Updated: 24 Jul, 2025
          <br>
          <br>
          A series of disturbances occurred in Phuket and Krabi provinces following the discovery of suspicious devices resembling bombs since Thursday, 26 June. Explosive Ordnance Disposal (EOD) officers quickly responded, safely neutralising the threats. So far, two suspects involved in the incident have been arrested.
          The incidents can be summarised as follows:<br>
          Timed Explosive Device Near Krabi Police Station<br>
          A timed explosive device was found at a sculpture park on Uthakit Road in Mueang Krabi district, just 30 metres from the police station. EOD officers safely dismantled the device.<br>
          Suspicious Object Near Nopparat Thara National Park<br>
          A suspicious object was discovered in front of the sign for Hat Noppharat Thara–Mu Ko Phi Phi National Park in Ao Nang Subdistrict, Mueang Krabi district. The authorities later detonated the device safely.<br>
          Suspect Motorcycle at Krabi Central Mosque<br>
          A suspicious motorcycle was found abandoned at the central mosque in Krabi. Authorities are currently investigating whether the vehicle contains explosives.
          Confession by Two Suspects<br>
          Two male suspects have confessed to planting bombs at four locations in Phuket. These include:<br>
          Phuket Airport car park
       </p>
       <h3>Kenya- Demonstrations</h3>
       <p>
        Posted: 25 Jun, 2025 | Updated: 24 Jul, 2025
       </p>
       <p>
        There have been country wide demonstrations occurring across Kenya on Wednesday 25 June 25. The demonstrations were scheduled for 25 June only and are supposed to be peaceful, although there have been reports of some rioting and looting in certain areas. There is heavy police presence in affected areas.
        No current departures are affected and trips are expected to run as scheduled, but we would like to reassure travellers that we will be avoiding any areas where protests are taking place.
       </p>
      
       <h3>Thailand /Cambodia Border Disputes</h3>
       <p>
         Posted: 25 Jun, 2025 | Updated: 24 Jul, 2025
          <br>
          <br>
          Thai military shuts Thai-Cambodian border allowing only humanitarian crossings.  <br>
          The Thai military on Monday ordered the closure of permanent and temporary border checkpoints along the Thai-Cambodian frontier, until further notice, with exceptions granted solely for humanitarian purposes.  <br>
          According to a directive issued by the 1st Army Region, the decision comes amid escalating tensions following reports of Cambodian military incursions into Thai territory.  <br>
          These include unauthorised patrols, the reinforcement of military outposts, and terrain modifications, as well as symbolic actions by Cambodian civilians in areas under the 2nd Army Region’s jurisdiction. These activities have reportedly jeopardised border security and contributed to rising tensions along the frontier.  <br>
          In light of these developments, and in its role as the unit responsible for border security in Sa Kaeo province, the 1st Army Region announced the following immediate measures in the interest of national security and the safety of Thai citizens:  <br>
          All cross-border vehicle movement is suspended.  <br>
          All pedestrian border crossings by the public, including tourists—both Thai and foreign— are suspended.  <br>
          G Adventures does have groups on the ground that are due to cross the Thai / Cambodian border.  <br>
          For now, clients are travelling between Thailand and Cambodia by air.  <br>
          We will continue to assess the situation and provide updates as necessary.
       </p>

       <h3>Iceland Volcano</h3>
        <p>
          Posted: 01 Apr, 2025 | Updated: 24 Jul, 2025
          <br>
          <br>
          1st April 2025 - Reykjavik - Iceland Volcano Eruption <br>
          A volcano has erupted on Iceland's Reykjanes Peninsula after the evacuation of Grindavík and the Blue Lagoon. <br>
          The eruption began around 09:45 local time, following earlier earthquakes in the Sundhnúk crater area. Within an hour, a 700m crack had opened. Roads to the town are closed, but flights remain unaffected. <br>
          No G Adventures tours are currently impacted, but we will post updates as necessary. <br>
        </p>       
       <h3>Türkiye Protests</h3>
       <p>
        Posted: 21 Mar, 2025 | Updated: 24 Jul, 2025
          <br>
          <br>
        Türkiye is currently experiencing on going protests across the country following the arrest of a prominent political figure. There are reports of police barricades and there is currently a ban on public gatherings. Arrests have been made as a result of social media posts. Taksim Square in Istanbul, is currently closed to all traffic.
Protests are mostly occurring in remote neighbourhoods and at night. No G Adventures trips have been affected so far. <br>
G Adventures CEOs are advising all guests to stay alert and to avoid large gatherings or areas where protests are taking place. We are also advising guests to monitor their government travel advisories,
       </p>
      
   
    </div>
    </div>
</div>
</section>