<app-search-bar></app-search-bar>

<section class="tour-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tour-trips">
          <h2>Walk the Trails</h2>
        </div>
        <div class="clearfix"></div>
        <div class="deep-breath">
          <div class="escape">
            <h2>Walk the Trails</h2>
            <p>
              Breathe in deeply and set out on a trail where the melody of birds
              surrounds you, the crisp fresh air refreshes your spirit, and vast
              blue skies draw you in. Whether you’re chasing the thrill of a
              Machu Picchu trek or enjoying a peaceful panoramic stroll, a
              hiking adventure is the perfect way to break free from life’s
              hectic pace. Explore ancient tombs along Turkey’s Lycian Way,
              follow the clouds across Yosemite, or take on the challenge of the
              mighty Himalayas!
            </p>
          </div>
          <div class="world">
            <ul>
              <li>
                <img src="assets/images/best-tours-6.png" />
                <h3>Discover a hidden world</h3>
                <p>
                  Wander through lush forests and alongside crystal-clear lakes
                  to discover breathtaking views that few have witnessed. Your
                  hard work will be rewarded with stunning vistas that make
                  every step of your challenging hike truly worthwhile!
                </p>
              </li>
              <li>
                <img src="assets/images/best-tours-7.png" />
                <h3>Rest and relaxation</h3>
                <p>
                  Whether you’re rocking out at a concert, celebrating your
                  colors at a Pride parade, or deepening your spiritual journey,
                  planning your trip around a special event can foster
                  meaningful connections and bring together like-minded
                  individuals.
                </p>
              </li>
              <li>
                <img src="assets/images/best-tours-8.png" />
                <h3>Share your passion</h3>
                <p>
                  Amazing experiences unfold when you challenge yourself, and
                  fellow travelers who share your love for adventure will be
                  right there with you. Bond on a group hiking journey or swap
                  stories around a campfire after a mountain trek.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="trekking">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Over 250 hiking & trekking packages with 19,000+ reviews</h2>
      </div>
      <!--
      <div class="col-lg-12">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="toptours-tab"
              data-toggle="pill"
              href="#toptours"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >Best tours</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-1-tab"
              data-toggle="pill"
              href="#toptours-1"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >What to expect</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-2-tab"
              data-toggle="pill"
              href="#toptours-2"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best routes</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-3-tab"
              data-toggle="pill"
              href="#toptours-3"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-4-tab"
              data-toggle="pill"
              href="#toptours-4"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best companies</a
            >
          </li>
        </ul>
        <div class="tab-assets" id="pills-tabassets">
          <div
            class="tab-pane fade show active"
            id="toptours"
            role="tabpanel"
            aria-labelledby="toptours-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/best-tours-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Cusco & Salkantay Trekking<br />
                    to Machu Picchu
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-2.png"
                    class="img-fluid"
                  />
                  <p>
                    The Beaten Track To Northest <br />
                    Vietnam: Ba Be Lake - Ban <br />
                    Gioc Waterfall Trekking
                  </p>
                  <span>From $982</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Classic Salkantay Trek to <br />
                    Machu Picchu - 4 Days
                  </p>
                  <span>From $610</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Short Inca Trail to Machu <br />
                    Picchu<br />
                    2 Days with Camping
                  </p>
                  <span>From $710</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Private Inca Trail to Machu<br />
                    Picchu - 4 Days
                  </p>
                  <span>From $1,650</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-1"
            role="tabpanel"
            aria-labelledby="toptours-1-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/best-tours-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Cusco & Salkantay Trekking<br />
                    to Machu Picchu
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-2.png"
                    class="img-fluid"
                  />
                  <p>
                    The Beaten Track To Northest <br />
                    Vietnam: Ba Be Lake - Ban <br />
                    Gioc Waterfall Trekking
                  </p>
                  <span>From $982</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Classic Salkantay Trek to <br />
                    Machu Picchu - 4 Days
                  </p>
                  <span>From $610</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Short Inca Trail to Machu <br />
                    Picchu<br />
                    2 Days with Camping
                  </p>
                  <span>From $710</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Private Inca Trail to Machu<br />
                    Picchu - 4 Days
                  </p>
                  <span>From $1,650</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-2"
            role="tabpanel"
            aria-labelledby="toptours-2-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/best-tours-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Cusco & Salkantay Trekking<br />
                    to Machu Picchu
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-2.png"
                    class="img-fluid"
                  />
                  <p>
                    The Beaten Track To Northest <br />
                    Vietnam: Ba Be Lake - Ban <br />
                    Gioc Waterfall Trekking
                  </p>
                  <span>From $982</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Classic Salkantay Trek to <br />
                    Machu Picchu - 4 Days
                  </p>
                  <span>From $610</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Short Inca Trail to Machu <br />
                    Picchu<br />
                    2 Days with Camping
                  </p>
                  <span>From $710</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Private Inca Trail to Machu<br />
                    Picchu - 4 Days
                  </p>
                  <span>From $1,650</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-3"
            role="tabpanel"
            aria-labelledby="toptours-3-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/best-tours-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Cusco & Salkantay Trekking<br />
                    to Machu Picchu
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-2.png"
                    class="img-fluid"
                  />
                  <p>
                    The Beaten Track To Northest <br />
                    Vietnam: Ba Be Lake - Ban <br />
                    Gioc Waterfall Trekking
                  </p>
                  <span>From $982</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Classic Salkantay Trek to <br />
                    Machu Picchu - 4 Days
                  </p>
                  <span>From $610</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Short Inca Trail to Machu <br />
                    Picchu<br />
                    2 Days with Camping
                  </p>
                  <span>From $710</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Private Inca Trail to Machu<br />
                    Picchu - 4 Days
                  </p>
                  <span>From $1,650</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-4"
            role="tabpanel"
            aria-labelledby="toptours-4-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/best-tours-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Cusco & Salkantay Trekking<br />
                    to Machu Picchu
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-2.png"
                    class="img-fluid"
                  />
                  <p>
                    The Beaten Track To Northest <br />
                    Vietnam: Ba Be Lake - Ban <br />
                    Gioc Waterfall Trekking
                  </p>
                  <span>From $982</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Classic Salkantay Trek to <br />
                    Machu Picchu - 4 Days
                  </p>
                  <span>From $610</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Short Inca Trail to Machu <br />
                    Picchu<br />
                    2 Days with Camping
                  </p>
                  <span>From $710</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Private Inca Trail to Machu<br />
                    Picchu - 4 Days
                  </p>
                  <span>From $1,650</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      -->


            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Best tours">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/best-tours-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Cusco & Salkantay Trekking<br />
                    to Machu Picchu
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-2.png"
                    class="img-fluid"
                  />
                  <p>
                    The Beaten Track To Northest <br />
                    Vietnam: Ba Be Lake - Ban <br />
                    Gioc Waterfall Trekking
                  </p>
                  <span>From $982</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Classic Salkantay Trek to <br />
                    Machu Picchu - 4 Days
                  </p>
                  <span>From $610</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Short Inca Trail to Machu <br />
                    Picchu<br />
                    2 Days with Camping
                  </p>
                  <span>From $710</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Private Inca Trail to Machu<br />
                    Picchu - 4 Days
                  </p>
                  <span>From $1,650</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="What to expect">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/best-tours-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Cusco & Salkantay Trekking<br />
                    to Machu Picchu
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-2.png"
                    class="img-fluid"
                  />
                  <p>
                    The Beaten Track To Northest <br />
                    Vietnam: Ba Be Lake - Ban <br />
                    Gioc Waterfall Trekking
                  </p>
                  <span>From $982</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Classic Salkantay Trek to <br />
                    Machu Picchu - 4 Days
                  </p>
                  <span>From $610</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Short Inca Trail to Machu <br />
                    Picchu<br />
                    2 Days with Camping
                  </p>
                  <span>From $710</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Private Inca Trail to Machu<br />
                    Picchu - 4 Days
                  </p>
                  <span>From $1,650</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="Best routes">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/best-tours-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Cusco & Salkantay Trekking<br />
                    to Machu Picchu
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-2.png"
                    class="img-fluid"
                  />
                  <p>
                    The Beaten Track To Northest <br />
                    Vietnam: Ba Be Lake - Ban <br />
                    Gioc Waterfall Trekking
                  </p>
                  <span>From $982</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Classic Salkantay Trek to <br />
                    Machu Picchu - 4 Days
                  </p>
                  <span>From $610</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Short Inca Trail to Machu <br />
                    Picchu<br />
                    2 Days with Camping
                  </p>
                  <span>From $710</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Private Inca Trail to Machu<br />
                    Picchu - 4 Days
                  </p>
                  <span>From $1,650</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="FAQ">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/best-tours-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Cusco & Salkantay Trekking<br />
                    to Machu Picchu
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-2.png"
                    class="img-fluid"
                  />
                  <p>
                    The Beaten Track To Northest <br />
                    Vietnam: Ba Be Lake - Ban <br />
                    Gioc Waterfall Trekking
                  </p>
                  <span>From $982</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Classic Salkantay Trek to <br />
                    Machu Picchu - 4 Days
                  </p>
                  <span>From $610</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Short Inca Trail to Machu <br />
                    Picchu<br />
                    2 Days with Camping
                  </p>
                  <span>From $710</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Private Inca Trail to Machu<br />
                    Picchu - 4 Days
                  </p>
                  <span>From $1,650</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="Best companies">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/best-tours-1.png"
                    class="img-fluid"
                  />
                  <p>
                    Cusco & Salkantay Trekking<br />
                    to Machu Picchu
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-2.png"
                    class="img-fluid"
                  />
                  <p>
                    The Beaten Track To Northest <br />
                    Vietnam: Ba Be Lake - Ban <br />
                    Gioc Waterfall Trekking
                  </p>
                  <span>From $982</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Classic Salkantay Trek to <br />
                    Machu Picchu - 4 Days
                  </p>
                  <span>From $610</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Short Inca Trail to Machu <br />
                    Picchu<br />
                    2 Days with Camping
                  </p>
                  <span>From $710</span>
                </li>
                <li>
                  <img
                    src="assets/images/best-tours-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Private Inca Trail to Machu<br />
                    Picchu - 4 Days
                  </p>
                  <span>From $1,650</span>
                </li>
              </ul>
            </div>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</section>
<section class="routes">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Most popular hiking routes</h2>
      </div>
      <div class="col-lg-12">
        <div class="santiago">
          <ul>
            <li>
              <img src="assets/images/best-tours-9.png" />
            </li>
            <li class="bacground-1">
              <h2>El Camino de Santiago</h2>
              <p>
                As the world’s most popular walking trail (there are nine
                routes), this pilgrimage through France and Spain is a
                soul-searching experience for anyone.
              </p>
            </li>
            <li>
              <img src="assets/images/best-tours-10.png" />
            </li>
          </ul>
        </div>
        <div class="santiago">
          <ul>
            <li class="bacground-1">
              <h2>Machu Picchu</h2>
              <p>
                Perched high in the Andes Mountains, this ancient citadel is
                considered one of the most rewarding hiking destinations in the
                world!
              </p>
            </li>

            <li>
              <img src="assets/images/best-tours-11.png" />
            </li>
            <li class="bacground-1">
              <h2>The Himalayas</h2>
              <p>
                Venture into the world’s tallest mountain range with a trek to
                Everest Base Camp, or unwind in tranquil Pokhara as you embark
                on an Annapurna adventure.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="adventure">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Steff on her Peru Hiking adventure</h2>
        <p>
          “One of the best treks I’ve ever experienced! TossnTrips responded
          quickly and provided all the essential information needed for this
          incredible journey. The trip was perfectly organized, and our amazing
          guide, clearly proud of his Peruvian heritage, knew exactly how to
          keep us motivated. Thanks to him, we all completed the trek without
          any issues! Our talented chef prepared fantastic meals throughout the
          trip—I still can’t believe how he managed to do that in such a remote
          location! This adventure was truly unforgettable and taught me that
          with self-belief, nothing is impossible. I can’t wait to come back!”
        </p>
      </div>
    </div>
  </div>
</section>
<section class="mountains">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Trek the Atlas Mountains with us</h2>
        <p>
          The Atlas Mountains stretch across Morocco, Algeria, and Tunisia,
          offering hiking and trekking experiences suited for all skill levels.
          Whether you’re scaling steep cliffs or strolling alongside tranquil
          streams and rivers, this region promises unforgettable adventures. For
          those eager to push further, climbing the highest peak, Toubkal, is an
          incredible challenge.
          <br /><br />
          You can choose to climb with help from local porters, join a guided
          group tour, or explore the Atlas Mountains independently. The thrill
          of reaching the summit rivals the breathtaking views awaiting you
          there. Pair your mountain adventure with a Sahara desert
          experience—explore on foot or embark on a traditional camel ride. This
          is a must-visit destination for anyone dreaming of discovering the
          magic of North Africa!
        </p>
        <a href="#">View Morocco Hiking trips</a>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/tips-banner-2.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<section class="hidden-world">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>What to expect on a Hiking tour</h2>
      </div>
      <div class="col-lg-12">
        <ul>
          <li>
            <img src="assets/images/best-tours-12.png" />
            <div class="blue-back-1">
              <h2>Discover a hidden world</h2>
              <p>
                Wander through lush green forests and alongside crystal-clear
                lakes to uncover breathtaking views few have ever witnessed.
                Your hard work will be richly rewarded with stunning vistas that
                make every step of your challenging hike truly worthwhile!
              </p>
            </div>
          </li>
          <li>
            <img src="assets/images/best-tours-13.png" />
            <div class="blue-back-1">
              <h2>Rest and relaxation</h2>
              <p>
                After a day full of adventure, there’s nothing better than
                relaxing sore muscles with a rejuvenating spa treatment. That’s
                the advantage of a well-organized hiking trip—everything is
                handled for you, from satisfying meals to luxurious hotel spas
                ready to spoil you.
              </p>
            </div>
          </li>
          <li>
            <img src="assets/images/best-tours-14.png" />
            <div class="blue-back-1">
              <h2>Share your passion</h2>
              <p>
                Amazing experiences unfold when you challenge yourself, and
                fellow adventure lovers will be right there alongside you. Bond
                with like-minded travelers on a group hike or share stories
                around a campfire during a mountain trek.
              </p>
            </div>
          </li>
          <li>
            <img src="assets/images/best-tours-15.png" />
            <div class="blue-back-1">
              <h2>Escape to nature</h2>
              <p>
                Whether you're craving quiet solitude on a self-guided walk or
                aiming to reach a lifelong goal with a loved one on a private
                hike, a journey into the wild offers the perfect chance to step
                away from daily routines and reconnect with the natural world.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="moderate">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Trekking routes for everyone</h2>
      </div>
      <div class="col-lg-12">
        <div class="easy-main">
          <div class="apdma-1">
            <img src="assets/images/everyone-banner-1.png" />
            <h2>Easy</h2>
            <p>
              Our easy trekking tours are designed for all fitness levels,
              featuring short walking distances and low-altitude climbs. Many of
              these tours are family-friendly, welcoming children and travelers
              of all ages. No prior hiking experience is needed—if you’re
              comfortable walking long, flat distances, an easy hiking tour
              could be the perfect fit for you.
            </p>
          </div>
          <div class="apdma-2">
            <div class="sdp-banner-main">
              <div class="skd-1">
                <img src="assets/images/everyone-banner-2.png" />
              </div>
              <div class="skd-2">
                <h2>Moderate</h2>
                <p>
                  Moderate hikes are ideal for those with a reasonable level of
                  fitness, featuring longer walking days, steeper inclines, or
                  slightly higher altitudes. While they don’t require intense
                  preparation, you should be in good health, stay active, and
                  exercise regularly to make the most of your hiking adventure.
                </p>
              </div>
            </div>
            <div class="sdp-banner-main add">
              <div class="skd-1">
                <img src="assets/images/everyone-banner-3.png" />
              </div>
              <div class="skd-2">
                <h2>Serious</h2>
                <p>
                  A challenging trek demands strong physical and mental
                  endurance, so thorough preparation is essential. These
                  adventures often take you through remote, uninhabited regions
                  where access to supplies is limited or unavailable. Serious
                  hiking tours are best suited for experienced trekkers who are
                  ready for a demanding and rewarding journey.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="styles">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Other Adventure styles you might like</h2>
      </div>
      <div class="col-lg-12">
        <div class="bicycle">
          <ul>
            <li>
              <span>
                <img src="assets/images/explore-new-banner-1.png" />
                <h2>Explorer</h2>
              </span>
              <p>
                Calling all adventurers! Can’t decide between hiking Mount Fuji
                to catch a breathtaking sunrise, kayaking across the
                crystal-clear waters of Lake Louise, or wandering through the
                vineyard-filled valleys of the countryside?<br />
                <a href="#">See More</a>
              </p>
            </li>
            <li>
              <span>
                <img src="assets/images/explore-new-banner-2.png" />
                <h2>Active</h2>
              </span>
              <p>
                Don’t just observe the world—immerse yourself in it. Trek
                through remote villages and connect with local hill tribe
                traditions, cycle across rugged yet stunning alpine landscapes,
                or paddle your way to hidden island coves only reachable by
                water…<br />
                <a href="#">See More</a>
              </p>
            </li>
            <li>
              <span>
                <img src="assets/images/explore-new-banner-3.png" />
                <h2>Bicycle</h2>
              </span>
              <p>
                Explore the world on two wheels, just like the locals. Cycle off
                the beaten path through Northern Thailand’s rolling hills, coast
                past the fragrant fields of Provence, or follow the scent of
                fresh herbs and vineyards through the heart of Tuscany.<br />

                <br />
                <a href="#">See More</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="answered add">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">
          Everything You Need to Know About Our Hiking Trips
        </h2>
        <ul>
          <li>
            <h3>How do I know a Hiking tour is right for me?</h3>
            <p>
              If you’re passionate about discovering thrilling new destinations,
              preparing for the ultimate adventure, or reaching breathtaking
              mountain summits, a hiking trip is perfect for you. With
              accommodations, meals, and supplies all taken care of, a guided
              hiking adventure removes the hassle—so you can focus entirely on
              enjoying every moment of your journey.
            </p>
          </li>
          <li>
            <h3>Is there camping on a Hiking trip?</h3>
            <p>
              In general, if you’re heading off to a remote location (like a
              mountain trek), sometimes you have no choice but to camp or sleep
              in mountain huts. Depending on your location, your tour operator
              may have alternate accommodation options available. If you prefer
              more comfortable accommodation, consider luxury hikes with stays
              in resorts or hotels.
            </p>
          </li>
          <li>
            <h3>Do I need to train for a Hiking tour?</h3>
            <p>
              Not unless you want to! The great thing about booking your hiking
              adventure with TossnTrips is that you choose the level that suits
              you—whether it’s a gentle stroll or an adrenaline-fueled
              challenge. Just use our filters to find the perfect hike that
              meets all your preferences. And if you have any questions, our
              Travel Experts are always here to help.
            </p>
          </li>
          <li>
            <h3>Where is the packing list for my hike?</h3>
            <p>
              After booking your hiking adventure, our Travel Experts will send
              you all your travel documents, including a handy packing list.
              Having the right hiking gear is essential to make the most of your
              trip and enjoy every step of the journey.
            </p>
          </li>
          <li>
            <h3>Can I combine Adventure Styles?</h3>
            <p>
              Yes, definitely! But have you thought about trying an Active
              adventure or an Explorer tour instead? These styles blend hiking
              with a variety of activities and cultural experiences to create
              the ultimate all-around adventure. If you’re after a trip that
              offers a bit of everything, these are definitely worth exploring!
            </p>
          </li>
          <li>
            <h3>How do I book a Hiking adventure on TossnTrips?</h3>
            <p>
              Discover your next hiking adventure by browsing our tours until
              you find the perfect fit. Just select your dates and complete your
              details to book your trip. And if you need any help, our Travel
              Experts are available 24/7 to assist you every step of the way!
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
