<app-search-bar></app-search-bar>

<section class="tour-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="river-trips">
          <h2>River Cruises</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="trekking">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Over 250 River Cruise adventures with 5,000+ reviews</h2>
      </div>

      <!--
      <div class="col-lg-12">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="toptours-tab"
              data-toggle="pill"
              href="#toptours"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >Best tours</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-1-tab"
              data-toggle="pill"
              href="#toptours-1"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >What to expect</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-2-tab"
              data-toggle="pill"
              href="#toptours-2"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best routes</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-3-tab"
              data-toggle="pill"
              href="#toptours-3"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-4-tab"
              data-toggle="pill"
              href="#toptours-4"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best companies</a
            >
          </li>
        </ul>
        <div class="tab-assets" id="pills-tabassets">
          <div
            class="tab-pane fade show active"
            id="toptours"
            role="tabpanel"
            aria-labelledby="toptours-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    7 Days Of Wonder In Egypt<br />
                    (Domestic Flight Included)
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    5 Days 4 Nights Cruise from <br />
                    Luxor to Aswan
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Nile Cruises Trips from Aswan <br />
                    to Luxor for 4 Days 3 Nights
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Deluxe Vietnam Aqua Life In <br />
                    10 Days - 4 Stars and 5 Stars <br />
                    Option - Private Tour
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Luxurious 4-Night Nile Cruise <br />
                    (Luxor-Aswan)
                  </p>
                  <span>From $1,279</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-1"
            role="tabpanel"
            aria-labelledby="toptours-1-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    7 Days Of Wonder In Egypt<br />
                    (Domestic Flight Included)
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    5 Days 4 Nights Cruise from <br />
                    Luxor to Aswan
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Nile Cruises Trips from Aswan <br />
                    to Luxor for 4 Days 3 Nights
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Deluxe Vietnam Aqua Life In <br />
                    10 Days - 4 Stars and 5 Stars <br />
                    Option - Private Tour
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Luxurious 4-Night Nile Cruise <br />
                    (Luxor-Aswan)
                  </p>
                  <span>From $1,279</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-2"
            role="tabpanel"
            aria-labelledby="toptours-2-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    7 Days Of Wonder In Egypt<br />
                    (Domestic Flight Included)
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    5 Days 4 Nights Cruise from <br />
                    Luxor to Aswan
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Nile Cruises Trips from Aswan <br />
                    to Luxor for 4 Days 3 Nights
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Deluxe Vietnam Aqua Life In <br />
                    10 Days - 4 Stars and 5 Stars <br />
                    Option - Private Tour
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Luxurious 4-Night Nile Cruise <br />
                    (Luxor-Aswan)
                  </p>
                  <span>From $1,279</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-3"
            role="tabpanel"
            aria-labelledby="toptours-3-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    7 Days Of Wonder In Egypt<br />
                    (Domestic Flight Included)
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    5 Days 4 Nights Cruise from <br />
                    Luxor to Aswan
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Nile Cruises Trips from Aswan <br />
                    to Luxor for 4 Days 3 Nights
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Deluxe Vietnam Aqua Life In <br />
                    10 Days - 4 Stars and 5 Stars <br />
                    Option - Private Tour
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Luxurious 4-Night Nile Cruise <br />
                    (Luxor-Aswan)
                  </p>
                  <span>From $1,279</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-4"
            role="tabpanel"
            aria-labelledby="toptours-4-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    7 Days Of Wonder In Egypt<br />
                    (Domestic Flight Included)
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    5 Days 4 Nights Cruise from <br />
                    Luxor to Aswan
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Nile Cruises Trips from Aswan <br />
                    to Luxor for 4 Days 3 Nights
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Deluxe Vietnam Aqua Life In <br />
                    10 Days - 4 Stars and 5 Stars <br />
                    Option - Private Tour
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Luxurious 4-Night Nile Cruise <br />
                    (Luxor-Aswan)
                  </p>
                  <span>From $1,279</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      -->



            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Best tours">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    7 Days Of Wonder In Egypt<br />
                    (Domestic Flight Included)
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    5 Days 4 Nights Cruise from <br />
                    Luxor to Aswan
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Nile Cruises Trips from Aswan <br />
                    to Luxor for 4 Days 3 Nights
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Deluxe Vietnam Aqua Life In <br />
                    10 Days - 4 Stars and 5 Stars <br />
                    Option - Private Tour
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Luxurious 4-Night Nile Cruise <br />
                    (Luxor-Aswan)
                  </p>
                  <span>From $1,279</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="What to expect">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    7 Days Of Wonder In Egypt<br />
                    (Domestic Flight Included)
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    5 Days 4 Nights Cruise from <br />
                    Luxor to Aswan
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Nile Cruises Trips from Aswan <br />
                    to Luxor for 4 Days 3 Nights
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Deluxe Vietnam Aqua Life In <br />
                    10 Days - 4 Stars and 5 Stars <br />
                    Option - Private Tour
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Luxurious 4-Night Nile Cruise <br />
                    (Luxor-Aswan)
                  </p>
                  <span>From $1,279</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="Best routes">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    7 Days Of Wonder In Egypt<br />
                    (Domestic Flight Included)
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    5 Days 4 Nights Cruise from <br />
                    Luxor to Aswan
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Nile Cruises Trips from Aswan <br />
                    to Luxor for 4 Days 3 Nights
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Deluxe Vietnam Aqua Life In <br />
                    10 Days - 4 Stars and 5 Stars <br />
                    Option - Private Tour
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Luxurious 4-Night Nile Cruise <br />
                    (Luxor-Aswan)
                  </p>
                  <span>From $1,279</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="FAQ">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    7 Days Of Wonder In Egypt<br />
                    (Domestic Flight Included)
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    5 Days 4 Nights Cruise from <br />
                    Luxor to Aswan
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Nile Cruises Trips from Aswan <br />
                    to Luxor for 4 Days 3 Nights
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Deluxe Vietnam Aqua Life In <br />
                    10 Days - 4 Stars and 5 Stars <br />
                    Option - Private Tour
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Luxurious 4-Night Nile Cruise <br />
                    (Luxor-Aswan)
                  </p>
                  <span>From $1,279</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="Best companies">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    7 Days Of Wonder In Egypt<br />
                    (Domestic Flight Included)
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    5 Days 4 Nights Cruise from <br />
                    Luxor to Aswan
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    Nile Cruises Trips from Aswan <br />
                    to Luxor for 4 Days 3 Nights
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Deluxe Vietnam Aqua Life In <br />
                    10 Days - 4 Stars and 5 Stars <br />
                    Option - Private Tour
                  </p>
                  <span>From $1,279</span>
                </li>
                <li>
                  <img
                    src="assets/images/river-cruise-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    Luxurious 4-Night Nile Cruise <br />
                    (Luxor-Aswan)
                  </p>
                  <span>From $1,279</span>
                </li>
              </ul>
            </div>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</section>
<section class="best-ways">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Best ways to cruise</h2>
        <p>
          From family-friendly ocean liners to intimate small-ship expeditions
          and romantic river cruises, organized<br />
          water adventures offer the perfect vacation experience.
        </p>
      </div>
      <div class="col-lg-4">
        <img src="assets/images/cruise-banner-1.png" class="img-fluid" />
        <h3>River Cruises</h3>
        <span
          >Swap the paved roads for the natural beauty of winding waterways on a
          river cruise. Explore multiple destinations in one seamless journey—no
          need to haul your suitcase from port to port. Treat yourself to a
          luxurious wine-tasting cruise or opt for a budget-friendly trip packed
          with delightful onshore excursions.</span
        >
      </div>
      <div class="col-lg-4">
        <img src="assets/images/cruise-banner-2.png" class="img-fluid" />

        <h3>Polar Cruises</h3>
        <span
          >These bucket-list cruises offer the perfect way to unwind after a day
          spent exploring some of the planet’s coldest frontiers. From the
          Arctic to the Antarctic, polar expedition cruises provide an
          all-inclusive journey to remote, icy landscapes—complete with expert
          lectures, extraordinary wildlife encounters, and breathtaking
          excursions that will leave you speechless.</span
        >
      </div>
      <div class="col-lg-4">
        <img src="assets/images/cruise-banner-3.png" class="img-fluid" />
        <h3>Ocean Cruises</h3>
        <span
          >Sail in style with a luxurious presidential suite or keep it simple
          and affordable in a cozy porthole cabin—ocean cruises offer
          accommodations for every budget. With a wealth of amenities, gourmet
          restaurants, relaxing spas and pools, plus daily entertainment, it’s
          no wonder these ships are often called floating hotels.</span
        >
      </div>
    </div>
  </div>
</section>




<section class="excursions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="expert">
          <h2>What to expect on a River Cruise</h2>
          <div class="1">
            <swiper-container
              #swiperRef
              class="my-swiper"
              loop="true"
              space-between="10"
              speed="700"
              autoplay-delay="2000"
              autoplay-disable-on-interaction="false"
              autoplay-pause-on-mouse-enter="false"
              pagination="true"
              pagination-clickable="true"
              breakpoints='{
                "0": { "slidesPerView": 1 },
                "768": { "slidesPerView": 1 },
                "1024": { "slidesPerView": 3 }
              }'
            >

              <swiper-slide>
                <div class="item" style="position: relative; height: 400px; overflow: hidden; border-radius: 8px;">
                  <img
                    src="assets/images/hassle-banner-2.png"
                    class="img-fluid"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
                    alt="Entertainment and enrichment"
                  />
                  <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);"></div>
                  <div class="celebrations" style="position: absolute; bottom: 20px; left: 20px; right: 20px; color: #fff; z-index: 2;">
                    <h3>Entertainment and enrichment</h3>
                    <p>
                      Enjoy endless opportunities for entertainment and learning
                      aboard your cruise. Catch captivating theatrical
                      performances or attend insightful lectures that deepen your
                      understanding of the destinations you’ll explore.
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="item" style="position: relative; height: 400px; overflow: hidden; border-radius: 8px;">
                  <img
                    src="assets/images/hassle-banner-3.png"
                    class="img-fluid"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
                    alt="Exclusive can’t miss events"
                  />
                  <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);"></div>
                  <div class="celebrations" style="position: absolute; bottom: 20px; left: 20px; right: 20px; color: #fff; z-index: 2;">
                    <h3>Exclusive can’t miss events</h3>
                    <p>
                      Luxury cruises offer exclusive access to unforgettable
                      cultural experiences—from authentic Austrian Heurigen wine
                      taverns and front-row opera seats to seasonal delights like
                      the enchanting Christmas Markets.
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="item" style="position: relative; height: 400px; overflow: hidden; border-radius: 8px;">
                  <img
                    src="assets/images/hassle-banner-1.png"
                    class="img-fluid"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
                    alt="Hassle-free shore excursions"
                  />
                  <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);"></div>
                  <div class="celebrations" style="position: absolute; bottom: 20px; left: 20px; right: 20px; color: #fff; z-index: 2;">
                    <h3>Hassle-free shore excursions</h3>
                    <p>
                      Tailored to a wide range of interests, shore excursions
                      include everything from hiking and taking in breathtaking
                      views from the Rock of Lorelei to enjoying a meal at a
                      Parisian restaurant overlooking the Eiffel Tower.
                    </p>
                  </div>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="clearfix"></div>
<section class="cruise-line">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Thomas on his Europe River Cruise</h2>
        <p>
          "This cruise was first-rate! I can’t imagine using any other cruise
          line. We had a balcony suite and it is was very comfortable with an
          adjustable bed covered in the lushest bedding. The staff were
          friendly, helpful and professional and yet we felt like they were our
          friends. The food was delicious and plentiful - as were the drinks! We
          met lots of wonderful travellers and the excursions were just perfect!
          When they say the price you pay covers everything, it is true. I can’t
          wait to sail with Scenic again!"
        </p>
      </div>
    </div>
  </div>
</section>
<section class="europe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Best River Cruises in Europe</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img
              src="assets/images/best-river-banner-1.png"
              class="img-fluid"
            />
            <h2>Rhine</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Rhine River cruises really shine during the warm months of May
              through September when the weather works in your favor. The Rhine
              Gorge steals the show as a UNESCO-protected stretch where
              castle-topped cliffs meet terraced vineyards along the water's
              edge. Many of our travelers tell us they love...
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img
              src="assets/images/best-river-banner-2.png"
              class="img-fluid"
            />
            <h2>Douro</h2>
          </div>
          <div class="rgt-nav">
            <p>
              The Douro River cuts through terraced vineyards that have shaped
              this UNESCO World Heritage landscape for over 2,000 years. River
              cruises take you between Porto and the Spanish border, passing
              traditional quintas (wine estates) where port wine has been
              produced since the 18th century. The region...
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img
              src="assets/images/best-river-banner-3.png"
              class="img-fluid"
            />
            <h2>Main</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Winding through Germany's picturesque regions of Bavaria and
              Baden-Württemberg, the Main River offers astounding natural
              scenery for those who explore it on a river cruise. Visit iconic
              castles, savor traditional Bavarian and Swabian dishes, and tour
              renowned vineyards along the riverbanks
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img
              src="assets/images/best-river-banner-4.png"
              class="img-fluid"
            />
            <h2>Danube</h2>
          </div>
          <div class="rgt-nav">
            <p>
              River cruising along the Danube opens up some of Europe's finest
              cultural moments, from walking through Habsburg palaces in Vienna
              to soaking in Budapest's thermal baths and exploring the winding
              medieval streets of Bratislava. Our customers routinely tell us
              how much they love life onboard -...
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img
              src="assets/images/best-river-banner-5.png"
              class="img-fluid"
            />
            <h2>Rhône</h2>
          </div>
          <div class="rgt-nav">
            <p>
              A Rhone River cruise brings France's cultural highlights right to
              you, with tossntrips customers frequently talking about three main
              draws: the natural beauty of the Camargue with its wild horses and
              pink flamingos, the impressive Roman engineering at Pont du Gard
              and also the grand Papal Palace...
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img
              src="assets/images/best-river-banner-6.png"
              class="img-fluid"
            />
            <h2>Moselle</h2>
          </div>
          <div class="rgt-nav">
            <p>
              The Moselle River winds through some of France and Germany's
              finest wine country, with river vessels that feel more like
              floating boutique hotels than typical cruise ships. Our travelers
              tell us they love how the boat staff create such a welcoming
              atmosphere, and the kitchen teams really excel...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="answered add">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center add">
          Your River Cruise trips questions, answered
        </h2>
        <ul>
          <li>
            <h3>When will I receive my travel documents?</h3>
            <p>
              You can expect to receive your travel documents approximately 3-4
              weeks prior to departure once you have paid for your cruise. Your
              documents usually include eTicket receipts, itineraries, and other
              essential information for your adventure.
            </p>
          </li>
          <li>
            <h3>When and where do I board the ship?</h3>
            <p>
              All embarkation details are included within your final travel
              documents. Typically boarding starts at 3:00 pm to allow the crew
              enough time to prepare your stateroom and get the ship ready for
              your cruise. Weather, water levels, and ship scheduling can
              influence the final docking location for your ship, so please wait
              until you receive your final travel documents before you arrange
              flights or accommodations. .
            </p>
          </li>
          <li>
            <h3>What facilities will be in my room?</h3>
            <p>
              Most staterooms feature a good-sized bed, towels, hairdryers, a
              writing desk, charging ports, and ample storage space. Some ships
              also have laundry facilities onboard for an extra charge. Of
              course, these can vary from room to room and ship to ship, so
              please check out the Ship Details on your adventure—or contact
              your tossntrips Cruise Consultant—to see the full list of
              inclusions.
            </p>
          </li>
          <li>
            <h3>Are shore excursions and meals included?</h3>
            <p>
              Most cruises on tossntrips include breakfast, lunch, and dinner
              served on board, with the exception of only a few operators.
              Depending on your river cruise operator, shore excursions may be
              included in the cost of your adventure. Please contact your
              tossntrips Cruise Consultant for a full list of inclusions.
            </p>
          </li>
          <li>
            <h3>Are transfers to and from the port included?</h3>
            <p>
              ISome river cruise operators include complimentary arrival and
              departure transfers within your total tour cost. If transfers are
              not included, please contact your tossntrips Cruise Consultant to
              purchase airport transfers.
            </p>
          </li>
          <li>
            <h3>Can I take a wheelchair onboard?</h3>
            <p>
              Some ships are unable to accommodate travelers in wheelchairs due
              to difficulties with embarking and disembarking the ship, no
              onboard elevators, and narrow doorways on board. For travelers who
              use a collapsible wheelchair, they must be stored in the
              stateroom, which can sometimes be a tight squeeze. Please contact
              your tossntrips Cruise Consultant for more information.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
