<app-search-bar></app-search-bar>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="festival-events">
          <h2>Celebrate Moments</h2>
          <p>
            Let loose, escape the everyday, and simply enjoy yourself—when was
            the last time you really did that? From the lively beer halls of
            Oktoberfest to the world’s biggest street party in Rio, festival
            travel promises unforgettable fun. Immerse yourself in art shows
            that spark creativity, experience cultural celebrations that open
            your eyes to new traditions, and let music festivals bring out your
            inner rockstar—there’s no better way to seize the moment!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="best-tour">
  <div class="container">
    <div class="row">
        <!--
      <div class="col-lg-12">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="toptours-tab"
              data-toggle="pill"
              href="#toptours"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >Best tours</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-1-tab"
              data-toggle="pill"
              href="#toptours-1"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >What to expect</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-2-tab"
              data-toggle="pill"
              href="#toptours-2"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Top festivals</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-3-tab"
              data-toggle="pill"
              href="#toptours-3"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Wishlist</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-4-tab"
              data-toggle="pill"
              href="#toptours-4"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Faq</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-5-tab"
              data-toggle="pill"
              href="#toptours-5"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best companies</a
            >
          </li>
        </ul>
        <div class="tab-assets" id="pills-tabassets">
          <div
            class="tab-pane fade show active"
            id="toptours"
            role="tabpanel"
            aria-labelledby="toptours-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/festival-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-1"
            role="tabpanel"
            aria-labelledby="toptours-1-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/festival-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-2"
            role="tabpanel"
            aria-labelledby="toptours-2-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/festival-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-3"
            role="tabpanel"
            aria-labelledby="toptours-3-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/festival-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-4"
            role="tabpanel"
            aria-labelledby="toptours-4-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/festival-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-5"
            role="tabpanel"
            aria-labelledby="toptours-5-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/festival-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      -->


      
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Best tours">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/festival-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="What to expect">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/festival-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="Best routes">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/festival-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="FAQ">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/festival-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="Best companies">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/festival-banner-1.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-2.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-3.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
                <li>
                  <img
                    src="assets/images/festival-banner-5.png"
                    class="img-fluid"
                  />
                  <p>
                    From Delhi: 2-Day Amritsar Golden Temple & Wagah Border Tour
                  </p>
                  <span>From $259</span>
                </li>
              </ul>
            </div>
        </mat-tab>
      </mat-tab-group>


    </div>
  </div>
</section>
<section class="blue-back">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <strong>
          Epic <br />
          events all year <br />
          round
        </strong>
      </div>
      <div class="col-lg-4">
        <img src="assets/images/epic-events-6.png" class="img-fluid" />
      </div>
      <div class="col-lg-4">
        <img src="assets/images/epic-events-7.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<section class="banner-middle">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li>
            <img src="assets/images/epic-events-8.png" class="img-fluid" />
          </li>
          <li>
            <img src="assets/images/epic-events-9.png" class="img-fluid" />
          </li>
          <li>
            <img src="assets/images/epic-events-10.png" class="img-fluid" />
          </li>
          <li>
            <img src="assets/images/epic-events-11.png" class="img-fluid" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="package">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>What to Expect in a Festivals & Events Package</h2>
      </div>

      <!--

      <div class="col-lg-12">
        <div id="news-slider13" class="owl-carousel owl-theme">
          <div class="item">
            <img src="assets/images/epic-events-12.png" />
            <div class="celebrations">
              <h3>Cultural celebrations</h3>
              <p>
                For centuries, cultures around the world have celebrated
                festivals and events to express gratitude, honor traditions, and
                welcome new beginnings. With vibrant traditional costumes
                filling the streets and joyful locals celebrating everywhere you
                turn, these gatherings offer an incredible way to immerse
                yourself in a different way of life. Imagine rainbow flags
                proudly waving at a Pride parade in New York City, USA...
              </p>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/epic-events-13.png" />
            <div class="celebrations">
              <h3>Share your passion</h3>
              <p>
                Whether you’re head-banging at your favorite concert, making
                your multi-colored mark at a Pride parade, or gaining a deeper
                understanding of your faith, centering your itinerary around an
                event can create deep connections and unify like-minded people.
              </p>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/epic-events-14.png" />
            <div class="celebrations">
              <h3>Just have fun</h3>
              <p>
                Life often gets hectic, making it tough to carve out time for
                yourself. A vacation package centered around a festival or event
                offers the perfect chance to unwind and enjoy yourself. Let
                loose, dance like no one’s watching, or shine on the dance floor
                at a vibrant carnival.
              </p>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/epic-events-12.png" />
            <div class="celebrations">
              <h3>Cultural celebrations</h3>
              <p>
                For centuries, cultures around the world have celebrated
                festivals and events to express gratitude, honor traditions, and
                welcome new beginnings. With vibrant traditional costumes
                filling the streets and joyful locals celebrating everywhere you
                turn, these gatherings offer an incredible way to immerse
                yourself in a different way of life. Imagine rainbow flags
                proudly waving at a Pride parade in New York City, USA...
              </p>
            </div>
          </div>
        </div>
      </div>
      -->

            <div class="col-lg-12">
        <swiper-container
          #swiperRef
          class="my-swiper"
          loop="true"
          space-between="10"
          speed="700"
          autoplay-delay="2000"
          autoplay-disable-on-interaction="false"
          autoplay-pause-on-mouse-enter="false"
          pagination="true"
          pagination-clickable="true"
          breakpoints='{
                "0": { "slidesPerView": 1 },
                "768": { "slidesPerView": 1 },
                "1024": { "slidesPerView": 3 }
            }'
        >
          <swiper-slide>
          <div class="item">
            <img src="assets/images/epic-events-12.png" />
            <div class="celebrations">
              <h3>Cultural celebrations</h3>
              <p>
                For centuries, cultures around the world have celebrated
                festivals and events to express gratitude, honor traditions, and
                welcome new beginnings. With vibrant traditional costumes
                filling the streets and joyful locals celebrating everywhere you
                turn, these gatherings offer an incredible way to immerse
                yourself in a different way of life. Imagine rainbow flags
                proudly waving at a Pride parade in New York City, USA...
              </p>
            </div>
          </div>
          </swiper-slide>

          <swiper-slide>
          <div class="item">
            <img src="assets/images/epic-events-13.png" />
            <div class="celebrations">
              <h3>Share your passion</h3>
              <p>
                Whether you’re head-banging at your favorite concert, making
                your multi-colored mark at a Pride parade, or gaining a deeper
                understanding of your faith, centering your itinerary around an
                event can create deep connections and unify like-minded people.
              </p>
            </div>
          </div>
          </swiper-slide>

          <swiper-slide>
          <div class="item">
            <img src="assets/images/epic-events-14.png" />
            <div class="celebrations">
              <h3>Just have fun</h3>
              <p>
                Life often gets hectic, making it tough to carve out time for
                yourself. A vacation package centered around a festival or event
                offers the perfect chance to unwind and enjoy yourself. Let
                loose, dance like no one’s watching, or shine on the dance floor
                at a vibrant carnival.
              </p>
            </div>
          </div>
          </swiper-slide>




        </swiper-container>
      </div>

    </div>
  </div>
</section>

<section class="seasonal-holiday">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Seasonal Holiday Packages</h2>
        <p>
          Are you someone who decorates your Christmas tree in November, rings
          in the New Year with a big celebration, carves pumpkins for Halloween,
          or hides chocolate for Easter egg hunts? If so, a dedicated holiday
          package is perfect for you. Seasonal adventures blend iconic
          destinations with festive celebrations, giving you a unique and
          memorable way to experience the holidays.
        </p>
      </div>

            <div class="col-lg-12">
        <swiper-container
          #swiperRef
          class="my-swiper"
          loop="true"
          space-between="10"
          speed="700"
          autoplay-delay="2000"
          autoplay-disable-on-interaction="false"
          autoplay-pause-on-mouse-enter="false"
          pagination="true"
          pagination-clickable="true"
          breakpoints='{
                "0": { "slidesPerView": 1 },
                "768": { "slidesPerView": 4 },
                "1024": { "slidesPerView": 4 }
            }'
        >
          <swiper-slide>
          <div class="item">
            <img src="assets/images/epic-events-16.png" />
            <div class="christmas">
              <h3>Christmas</h3>
            </div>
            </div>
          </swiper-slide>

          <swiper-slide>
          <div class="item">
            <img src="assets/images/epic-events-17.png" />
            <div class="christmas">
              <h3>Halloween</h3>
            </div>
            </div>
          </swiper-slide>

          <swiper-slide>
          <div class="item">
            <img src="assets/images/epic-events-18.png" />
            <div class="christmas">
              <h3>New Years</h3>
            </div>
            </div>
          </swiper-slide>

          <swiper-slide>
          <div class="item">
            <img src="assets/images/epic-events-19.png" />
            <div class="christmas">
              <h3>Diwali</h3>
            </div>
            </div>
          </swiper-slide>

          <swiper-slide>
          <div class="item">
            <img src="assets/images/epic-events-16.png" />
            <div class="christmas">
              <h3>Christmas</h3>
            </div>
        </div>
          </swiper-slide>

                    <swiper-slide>
          <div class="item">
            <img src="assets/images/epic-events-18.png" />
            <div class="christmas">
              <h3>New Years</h3>
            </div>
            </div>
            </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>
<section class="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Wishlist events</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li>
            <img src="assets/images/events-banner-1.png" class="img-fluid" />
            <h3>Witness the Edinburgh Military Tattoo</h3>
          </li>
          <li>
            <img src="assets/images/events-banner-2.png" class="img-fluid" />
            <h3>Light up the skies at the Lantern Festival</h3>
          </li>
          <li>
            <img src="assets/images/events-banner-3.png" class="img-fluid" />
            <h3>Go color crazy at a Holi Festival</h3>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li>
            <img src="assets/images/events-banner-4.png" class="img-fluid" />
            <h3>Don a mask at the Carnival of Venice</h3>
          </li>
          <li>
            <img src="assets/images/events-banner-5.png" class="img-fluid" />
            <h3>Party like the Irish on St. Patrick’s Day</h3>
          </li>
          <li>
            <img src="assets/images/events-banner-6.png" class="img-fluid" />
            <h3>Renew your faith at Oberam- mergau</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="answered add">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>What to Expect from a Festivals & Events Package</h2>
        <ul>
          <li>
            <h3>
              How do I know an Festivals & Events Package is right for me?
            </h3>
            <p>
              If you love discovering new and exciting destinations where no two
              days are the same, and enjoy activities that let you truly connect
              with the local culture and environment, then an adventure tour is
              perfect for you. Adventure tours come in various levels of
              difficulty, so whether you’re a beginner or a seasoned explorer,
              there’s an option to suit your pace!
            </p>
          </li>
          <li>
            <h3>How far in advance do I need to book?</h3>
            <p>
              As with any adventure, booking early gives you the best chance of
              securing your spot, and festival tours are no exception. Since
              events often have limited tickets, if there’s a particular one you
              want to attend, it’s wise to reserve your place well in advance.
            </p>
          </li>
          <li>
            <h3>Will my adventure be full of young people?</h3>
            <p>
              People of all ages come together to celebrate! Expect to meet a
              diverse group of travelers from around the globe. Some festivals,
              like the Sziget Festival, tend to attract younger crowds, while
              events such as ANZAC Day ceremonies or the Royal Ascot draw a
              wider age range. Ultimately, the best event is the one that feels
              right for you.
            </p>
          </li>
          <li>
            <h3>Is admission included?</h3>
            <p>
              A dedicated Festival & Events adventure typically revolves around
              the festival or event itself, and sometimes the ticket is included
              in the overall price. However, since many festivals offer various
              ticket types with different perks and levels of access, admission
              is often excluded to give you the freedom to choose how you want
              to participate. If you’re unsure, don’t hesitate to contact our
              Customer Support team for clarification.
            </p>
          </li>
          <li>
            <h3>Can I combine Adventure styles?</h3>
            <p>
              Absolutely! Your adventure is what you make it, so why not enhance
              it with wine tasting in France, island-hopping through the Greek
              Islands, or an exhilarating safari in Kenya?
            </p>
          </li>
          <li>
            <h3>
              How do I know an Festivals & Events Package is right for me?
            </h3>
            <p>
              Discover your next Festival & Events adventure by browsing our
              collection until you find the perfect fit. Just choose your dates
              and complete your details to book your trip. If you have any
              questions, our Customer Support team is available 24/7 to assist
              you.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="holi-festival">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Montana on her Holi Festival adventure</h2>
        <p>
          "I've always wanted to experience the magic that is Holi - thank you
          for an adventure I will never forget! The tour was packed with
          culture, breathtaking sights, and friendly faces. The tour guides
          ensured the days were packed with fun, whilst teaching us the history
          of India. The highlight of this trip was the Holi Festival - hosted by
          a family in Jaipur who welcomed us with open hearts to experience
          playing Holi together. The 24/7 available support by our guide was
          unprecedented as two girls travelling alone. I have never felt so safe
          on an overseas trip. I highly recommend this experience of a lifetime,
          you will not regret it!"
        </p>
      </div>
    </div>
  </div>
</section>
<section class="Worldwide-all">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Other Events Around the World</h2>
      </div>
      <div class="col-lg-12">
        <ul>
          <li>
            <img src="assets/images/world-banner-1.png" />
            <div class="other">Anzac Day</div>
          </li>
          <li>
            <img src="assets/images/world-banner-2.png" />
            <div class="other">Yacht Week</div>
          </li>
          <li>
            <img src="assets/images/world-banner-3.png" />
            <div class="other">Diwali</div>
          </li>
          <li>
            <img src="assets/images/world-banner-4.png" />
            <div class="other">Royal Ascot</div>
          </li>
          <li>
            <img src="assets/images/world-banner-5.png" />
            <div class="other">Batalla del Vino</div>
          </li>
          <li>
            <img src="assets/images/world-banner-6.png" />
            <div class="other">King's Day</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
