<app-search-bar></app-search-bar>

<section class="tour-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="overland">
          <h2>Overland Journeys</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="through">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img src="assets/images/overland-banner-2.png" class="img-fluid" />
      </div>
      <div class="col-lg-7">
        <h2>Overland Journeys</h2>
        <p>
          With overlanding, the journey itself becomes the reward. It’s more
          than just travel—it’s a way of life that lets you fully connect with
          your surroundings, immerse yourself in the local flora and fauna, and
          truly experience an entire region.
          <br /><br />
          Discover what few have before you: camp beneath Botswana’s dazzling
          star-filled skies, spot Rwanda’s elusive primates in their natural
          habitat, and sandboard down Namibia’s towering dunes—all within a
          single adventure. Embark on an off-the-beaten-path road trip in an
          overland truck through the Australian Outback, South America’s
          mountains, or the safari reserves of Sub-Saharan Africa—the
          possibilities are endless.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="trekking">
  <div class="container">
    <div class="row">

        <!--
      <div class="col-lg-12">
        <h2>More than 250 Overland tours with 1,200 reviews</h2>
      </div>
      <div class="col-lg-12">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="toptours-tab"
              data-toggle="pill"
              href="#toptours"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >Best tours</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-1-tab"
              data-toggle="pill"
              href="#toptours-1"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >What to expect</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-2-tab"
              data-toggle="pill"
              href="#toptours-2"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best routes</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-3-tab"
              data-toggle="pill"
              href="#toptours-3"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-4-tab"
              data-toggle="pill"
              href="#toptours-4"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best companies</a
            >
          </li>
        </ul>
        <div class="tab-assets" id="pills-tabassets">
          <div
            class="tab-pane fade show active"
            id="toptours"
            role="tabpanel"
            aria-labelledby="toptours-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/overland-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Kenya & Tanzania Adventure</p>
                  <span>From $9,690</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Botswana and Falls Overland: Wildlife Walks & Safari Drives
                  </p>
                  <span>From $1,349, $1,079</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Upper Mustang Tour by Jeep</p>
                  <span>From $1,775</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Kenya and Tanzania Overland Safari - 14 Days</p>
                  <span>From $2,850</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Journeys: Explore Kruger National Park National Geographic
                    Journeys
                  </p>
                  <span>From $2,299, $2,549</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-1"
            role="tabpanel"
            aria-labelledby="toptours-1-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/overland-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Kenya & Tanzania Adventure</p>
                  <span>From $9,690</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Botswana and Falls Overland: Wildlife Walks & Safari Drives
                  </p>
                  <span>From $1,349, $1,079</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Upper Mustang Tour by Jeep</p>
                  <span>From $1,775</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Kenya and Tanzania Overland Safari - 14 Days</p>
                  <span>From $2,850</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Journeys: Explore Kruger National Park National Geographic
                    Journeys
                  </p>
                  <span>From $2,299, $2,549</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-2"
            role="tabpanel"
            aria-labelledby="toptours-2-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/overland-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Kenya & Tanzania Adventure</p>
                  <span>From $9,690</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Botswana and Falls Overland: Wildlife Walks & Safari Drives
                  </p>
                  <span>From $1,349, $1,079</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Upper Mustang Tour by Jeep</p>
                  <span>From $1,775</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Kenya and Tanzania Overland Safari - 14 Days</p>
                  <span>From $2,850</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Journeys: Explore Kruger National Park National Geographic
                    Journeys
                  </p>
                  <span>From $2,299, $2,549</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-3"
            role="tabpanel"
            aria-labelledby="toptours-3-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/overland-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Kenya & Tanzania Adventure</p>
                  <span>From $9,690</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Botswana and Falls Overland: Wildlife Walks & Safari Drives
                  </p>
                  <span>From $1,349, $1,079</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Upper Mustang Tour by Jeep</p>
                  <span>From $1,775</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Kenya and Tanzania Overland Safari - 14 Days</p>
                  <span>From $2,850</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Journeys: Explore Kruger National Park National Geographic
                    Journeys
                  </p>
                  <span>From $2,299, $2,549</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-4"
            role="tabpanel"
            aria-labelledby="toptours-4-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/overland-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Kenya & Tanzania Adventure</p>
                  <span>From $9,690</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Botswana and Falls Overland: Wildlife Walks & Safari Drives
                  </p>
                  <span>From $1,349, $1,079</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Upper Mustang Tour by Jeep</p>
                  <span>From $1,775</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Kenya and Tanzania Overland Safari - 14 Days</p>
                  <span>From $2,850</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Journeys: Explore Kruger National Park National Geographic
                    Journeys
                  </p>
                  <span>From $2,299, $2,549</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      -->


            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Best tours">

                        <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/overland-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Kenya & Tanzania Adventure</p>
                  <span>From $9,690</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Botswana and Falls Overland: Wildlife Walks & Safari Drives
                  </p>
                  <span>From $1,349, $1,079</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Upper Mustang Tour by Jeep</p>
                  <span>From $1,775</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Kenya and Tanzania Overland Safari - 14 Days</p>
                  <span>From $2,850</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Journeys: Explore Kruger National Park National Geographic
                    Journeys
                  </p>
                  <span>From $2,299, $2,549</span>
                </li>
              </ul>
            </div>

        </mat-tab>

        <mat-tab label="What to expect">

                        <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/overland-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Kenya & Tanzania Adventure</p>
                  <span>From $9,690</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Botswana and Falls Overland: Wildlife Walks & Safari Drives
                  </p>
                  <span>From $1,349, $1,079</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Upper Mustang Tour by Jeep</p>
                  <span>From $1,775</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Kenya and Tanzania Overland Safari - 14 Days</p>
                  <span>From $2,850</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Journeys: Explore Kruger National Park National Geographic
                    Journeys
                  </p>
                  <span>From $2,299, $2,549</span>
                </li>
              </ul>
            </div>

        </mat-tab>

        <mat-tab label="Best routes">


                        <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/overland-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Kenya & Tanzania Adventure</p>
                  <span>From $9,690</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Botswana and Falls Overland: Wildlife Walks & Safari Drives
                  </p>
                  <span>From $1,349, $1,079</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Upper Mustang Tour by Jeep</p>
                  <span>From $1,775</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Kenya and Tanzania Overland Safari - 14 Days</p>
                  <span>From $2,850</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Journeys: Explore Kruger National Park National Geographic
                    Journeys
                  </p>
                  <span>From $2,299, $2,549</span>
                </li>
              </ul>
            </div>

        </mat-tab>

        <mat-tab label="FAQ">


                        <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/overland-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Kenya & Tanzania Adventure</p>
                  <span>From $9,690</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Botswana and Falls Overland: Wildlife Walks & Safari Drives
                  </p>
                  <span>From $1,349, $1,079</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Upper Mustang Tour by Jeep</p>
                  <span>From $1,775</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Kenya and Tanzania Overland Safari - 14 Days</p>
                  <span>From $2,850</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Journeys: Explore Kruger National Park National Geographic
                    Journeys
                  </p>
                  <span>From $2,299, $2,549</span>
                </li>
              </ul>
            </div>

        </mat-tab>

        <mat-tab label="Best companies">


                        <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/overland-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Kenya & Tanzania Adventure</p>
                  <span>From $9,690</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    Botswana and Falls Overland: Wildlife Walks & Safari Drives
                  </p>
                  <span>From $1,349, $1,079</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Upper Mustang Tour by Jeep</p>
                  <span>From $1,775</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Kenya and Tanzania Overland Safari - 14 Days</p>
                  <span>From $2,850</span>
                </li>
                <li>
                  <img
                    src="assets/images/overland-banner-7.png"
                    class="img-fluid"
                  />
                  <p>
                    Journeys: Explore Kruger National Park National Geographic
                    Journeys
                  </p>
                  <span>From $2,299, $2,549</span>
                </li>
              </ul>
            </div>
        </mat-tab>
      </mat-tab-group>


    </div>
  </div>
</section>
<section class="expert-on">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">What to expect on an Overland trip</h2>

        <ul>
          <li>
            <img src="assets/images/overland-banner-8.png" class="img-fluid" />
            <h3>One-of-a-kind experiences</h3>
            <p>
              Get face-to-face with Rwanda’s incredible wildlife, surf down
              Namibia’s striking terracotta dunes, explore the ancient Inca
              ruins of the Andes, or meet koalas and kangaroos in the Australian
              Outback. An overland journey is full of adventure and limitless
              possibilities!
            </p>
          </li>
          <li>
            <img src="assets/images/overland-banner-9.png" class="img-fluid" />
            <h3>A wilderness escape</h3>
            <p>
              Escape the city and immerse yourself in nature! Experience the
              magic of the outdoors: countless stars lighting up the night sky,
              cozy campfire gatherings, wildlife encounters in their natural
              habitats, endless open landscapes stretching to the horizon, and a
              new challenge each day that you’ll conquer together as a team.
            </p>
          </li>
          <li>
            <img src="assets/images/overland-banner-10.png" class="img-fluid" />
            <h3>Uncover hidden gems</h3>
            <p>
              From the shimmering salt flats of Uyuni to the sacred Uluru and
              the stark beauty of Deadvlei’s arid plains, an Overland tour
              offers unforgettable travel experiences. Exploring remote spots
              known only to locals, this true escape from everyday life has been
              thrilling adventurers for decades!
            </p>
          </li>
          <li>
            <img src="assets/images/overland-banner-11.png" class="img-fluid" />
            <h3>Plenty of quality time</h3>
            <p>
              As life gets busier, the urge to slow down becomes stronger.
              Overland adventures, which can last weeks or even months, offer
              the perfect chance to take meaningful time for yourself. Explore
              new destinations, connect with like-minded travelers, or simply
              enjoy some well-deserved downtime on an unforgettable Overland
              journey.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="come-along">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Let’s go overlanding in Namibia!</h2>
        <p>
          Few travel experiences are as thrilling, unique, and unforgettable as
          an overland adventure. From incredible wildlife encounters to
          all-in-one accommodations and everything in between, prepare for some
          serious travel envy as we explore Namibia overland!
          <br /><br />
          While the classic Jeep is a safari icon, the overland truck is made
          for those eager to unleash their inner explorer. Its elevated seats
          offer unbeatable views, individual windows ensure you have the scenery
          all to yourself, and there’s ample storage for all your essentials.
          So, pack your favorite snacks, ready your camera, and get set for an
          epic journey ahead!
        </p>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/overland-banner-12.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="martina">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Martina on her African Overland adventure</h2>
        <p>
          We were a large group, but everything was perfectly organized, making
          the journey an incredible adventure. Crossing weather-beaten bridges,
          navigating muddy roads, and driving through rivers were thrilling
          challenges! After the pandemic pause, it felt great to be back on the
          road, and our guides made the experience truly unforgettable.
          Returning to the truck after a day full of excitement felt like coming
          home—a second home for me. This is how I want to explore the world: an
          adventure with a safety net. I've already booked another trip with
          them and can’t wait for the next exciting journey!
        </p>
      </div>
    </div>
  </div>
</section>
<section class="europe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Most popular destinations for Overland trips</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/martina-banner-2.png" class="img-fluid" />
            <h2>South Africa</h2>
          </div>
          <div class="rgt-nav">
            <p>
              An overland adventure is perfect for the young at heart, eager to
              explore South Africa’s remote wilderness by truck. With tours
              ranging from 4 to 22 days, you’re sure to find the perfect
              overlanding experience tailored just for you.
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/martina-banner-3.png" class="img-fluid" />
            <h2>Tanzania</h2>
          </div>
          <div class="rgt-nav">
            <p>
              An overland adventure is ideal for the young at heart looking to
              explore Tanzania’s remote wilderness by truck. With tours ranging
              from 5 to 24 days, you’re sure to find the perfect overlanding
              experience just for you.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/martina-banner-4.png" class="img-fluid" />
            <h2>Namibia</h2>
          </div>
          <div class="rgt-nav">
            <p>
              An overland adventure is perfect for the young at heart eager to
              explore Namibia’s remote wilderness by truck. With tours lasting
              from 6 to 15 days, you’re sure to find an overlanding experience
              that’s just right for you.
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/martina-banner-5.png" class="img-fluid" />
            <h2>Botswana</h2>
          </div>
          <div class="rgt-nav">
            <p>
              An overland adventure is perfect for the young at heart looking to
              explore Botswana’s remote wilderness by truck. With tours ranging
              from 6 to 16 days, you’re sure to find the ideal overlanding
              experience for you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="dervishes add-new">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Current deals on Overland tours</h2>

        <ul>
          <li>
            <img
              src="assets/images/martina-banner-6.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>East Africa Safari & Coast</h3>
          </li>
          <li>
            <img
              src="assets/images/martina-banner-7.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>Kruger, Falls, Delta & Cape - 25 days</h3>
          </li>
          <li>
            <img
              src="assets/images/martina-banner-8.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>34-day Zanzibar to Cape Town (Accommodated)</h3>
          </li>
          <li>
            <img
              src="assets/images/martina-banner-9.png"
              class="img-fluid"
              style="width: 100%"
            />
            <h3>25-day Kruger & Victoria Falls to Cape Town (Accommodated)</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tours-all add-all">
          <ul>
            <li>
              <img
                src="assets/images/martina-banner-10.png"
                class="img-fluid"
              />
              <h2>Safari</h2>
              <p>3,768 Tours</p>
            </li>
            <li>
              <img
                src="assets/images/martina-banner-11.png"
                class="img-fluid"
              />
              <h2>Cultural</h2>
              <p>14,823 Tours</p>
            </li>
            <li>
              <img
                src="assets/images/martina-banner-12.png"
                class="img-fluid"
              />
              <h2>Explorer</h2>
              <p>24,461 Tours</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="answered add">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center add">Your overlanding questions, answered</h2>
        <ul>
          <li>
            <h3>How do I book an Overland trip on Tossntrip?</h3>
            <p>
              Discover your next Overland adventure by browsing our tours until
              you find the one that catches your eye. Just select your dates,
              enter your details, and book your trip. If you have any questions,
              our Travel Experts are available 24/7 to assist you!
            </p>
          </li>
          <li>
            <h3>Is an Overland tour right for me?</h3>
            <p>
              Love the outdoors and want to explore more than just one spot? If
              you enjoy road trips with a touch of adventure, crave a break from
              the daily grind, and want to fully immerse yourself in new
              surroundings, then an Overland Tour is just right for you.
            </p>
          </li>
          <li>
            <h3>Do I have to camp on an Overland trip?</h3>
            <p>
              Since Overlanding is all about embracing the great outdoors, most
              trips include camping. Often, camping is the only accommodation
              option because you’ll be venturing into remote areas—but don’t
              hesitate! The star-filled skies in these untouched locations are
              truly breathtaking and a sight you won’t want to miss.
            </p>
          </li>
          <li>
            <h3>What differentiates a Safari tour from an Overland tour?</h3>
            <p>
              Safari tours primarily center on wildlife viewing in their natural
              environments, offering various accommodation options and usually
              taking place in jeeps. In contrast, overland tours cover a wider
              range of regions and cultural experiences. These adventures often
              involve camping and long-distance travel in specially equipped
              vehicles, delivering a deeper, more immersive journey.
            </p>
          </li>
          <li>
            <h3>Do I need to be fit for an Overland trip?</h3>
            <p>
              Most Overland trips include setting up tents, helping with meal
              prep, sitting for extended periods, and driving on rough terrain,
              so a moderate level of fitness is recommended to get the most out
              of the experience. If you’re unsure about the physical demands,
              feel free to reach out to our Travel Experts for guidance. Looking
              for more active adventures like ziplining through the jungle or
              refreshing dives? We’ve got those too!
            </p>
          </li>
          <li>
            <h3>Can I combine Adventure Styles?</h3>
            <p>
              Absolutely! You can mix and match our Adventure Styles—why not
              finish your Overland tour with a relaxing beach getaway or a
              culinary adventure? Feel free to explore your options, and if you
              need any help, our Travel Experts are here to assist!
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
