<app-search-bar></app-search-bar>



<section class="great-time">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tour-trips add">
          <h2>Win a Trip for Two!</h2>
          <p>
            Enter our travel contests for free and stand a chance to win a
            trip<br />
            for two to some of the world’s most popular destinations. <br />Be
            sure to check out past winners for travel inspiration and exclusive
            deals!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>About contests on Tossntrip</h2>
      </div>
      <div class="col-lg-6">
        <div class="space">
          <h3>Why should I enter a contest?</h3>
          <p>
            You can’t win if you don’t enter — it’s that simple! But seriously,
            joining our travel contests is quick, easy, and totally free.
            There’s nothing to lose and everything to gain — plus, you get to
            bring a guest along. Double the prize, double the fun!
          </p>
          <h3>Sounds good! How do I enter?</h3>
          <p>
            Entering a contest is easy — just enter your email address and
            you’re all set! Want to boost your chances of winning? Share the
            contest on social media and complete a quick treasure hunt. Good
            luck!
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/trip-banner-1.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<section class="madeira">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="uncovered">
          <div class="winner1">
            <img src="assets/images/trip-banner-2.png" />
          </div>
          <div class="winner2">
            <h3>Madeira Uncovered</h3>
            <p>
              This contest has ended! Keep an eye out for an email<br />
              announcing the winner in a couple of days.
            </p>
            <button>Show more</button>
          </div>
        </div>
        <div class="uncovered">
          <div class="winner1">
            <img src="assets/images/trip-banner-3.png" />
          </div>
          <div class="winner2">
            <h3>Ecuador Treasures Getaway</h3>
            <p>
              We gave away a trip for two through Ecuador, courtesy of<br />
              GUIDE cuador Travel!
            </p>
            <button>Show more</button>
          </div>
        </div>
        <div class="uncovered">
          <div class="winner1">
            <img src="assets/images/trip-banner-4.png" />
          </div>
          <div class="winner2">
            <h3>South African Adventure</h3>
            <p>
              TWe gave away a trip for two through South Africa,<br />
              courtesy of Expat Explore Travel!
            </p>
            <button>Show more</button>
          </div>
        </div>
        <div class="uncovered">
          <div class="winner1">
            <img src="assets/images/trip-banner-5.png" />
          </div>
          <div class="winner2">
            <h3>Marvels of Morocco</h3>
            <p>
              We gave away a trip for two through Morocco, courtesy of<br />
              Guided Morocco Tours
            </p>
            <button>Show more</button>
          </div>
        </div>
        <div class="uncovered">
          <div class="winner1">
            <img src="assets/images/trip-banner-6.png" />
          </div>
          <div class="winner2">
            <h3>Astonishing Vietnam</h3>
            <p>
              We gave away a trip for two through Vietnam, courtesy of<br />
              Vietnam Tour Fun!
            </p>
            <button>Show more</button>
          </div>
        </div>
        <div class="uncovered">
          <div class="winner1">
            <img src="assets/images/trip-banner-7.png" />
          </div>
          <div class="winner2">
            <h3>Wonders of Turkey</h3>
            <p>
              We gave away a trip for two through Turkey, courtesy of<br />
              Guide of Ephesus!
            </p>
            <button>Show more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
