<app-search-bar></app-search-bar>
<section class="tour-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="safari-tour">
          <h2>Wildlife Safaris</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="through">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img src="assets/images/safari-banner-2.png" class="img-fluid" />
      </div>
      <div class="col-lg-7">
        <h2>Wildlife Safaris</h2>
        <p>
          Pssst! There’s something absolutely thrilling about entering a world
          where animals steal the spotlight and we become silent observers.
          <br /><br />
          Whether you’re aiming to photograph the Big Five in Tanzania’s
          Serengeti or hoping for that iconic David Attenborough moment among
          the vibrant birds and gentle sloths of Costa Rica’s jungle, a safari
          tour is your gateway to unforgettable wildlife adventures waiting to
          be discovered!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="trekking">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Over 250 safari tours with over 9,000 reviews</h2>
      </div>
      <!--
      <div class="col-lg-12">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="toptours-tab"
              data-toggle="pill"
              href="#toptours"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >Best tours</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-1-tab"
              data-toggle="pill"
              href="#toptours-1"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >What to expect</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-2-tab"
              data-toggle="pill"
              href="#toptours-2"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best routes</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-3-tab"
              data-toggle="pill"
              href="#toptours-3"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="toptours-4-tab"
              data-toggle="pill"
              href="#toptours-4"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Best companies</a
            >
          </li>
        </ul>
        <div class="tab-assets" id="pills-tabassets">
          <div
            class="tab-pane fade show active"
            id="toptours"
            role="tabpanel"
            aria-labelledby="toptours-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/safari-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Same Day Tiger Safari Tour From Jaipur All Included</p>
                  <span>From $255 $204</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    2 day South African Wildlife Safari Highlights Tour from
                    Cape Town
                  </p>
                  <span>From $292 $263</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Road to Zanzibar (9 destinations)</p>
                  <span>From $3,060 $2,448</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Jim Corbett Tour from Delhi</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Luxury India Tiger & Wildlife Safari Tour</p>
                  <span>From $39,654 $15,862</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-1"
            role="tabpanel"
            aria-labelledby="toptours-1-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/safari-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Same Day Tiger Safari Tour From Jaipur All Included</p>
                  <span>From $255 $204</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    2 day South African Wildlife Safari Highlights Tour from
                    Cape Town
                  </p>
                  <span>From $292 $263</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Road to Zanzibar (9 destinations)</p>
                  <span>From $3,060 $2,448</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Jim Corbett Tour from Delhi</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Luxury India Tiger & Wildlife Safari Tour</p>
                  <span>From $39,654 $15,862</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-2"
            role="tabpanel"
            aria-labelledby="toptours-2-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/safari-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Same Day Tiger Safari Tour From Jaipur All Included</p>
                  <span>From $255 $204</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    2 day South African Wildlife Safari Highlights Tour from
                    Cape Town
                  </p>
                  <span>From $292 $263</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Road to Zanzibar (9 destinations)</p>
                  <span>From $3,060 $2,448</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Jim Corbett Tour from Delhi</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Luxury India Tiger & Wildlife Safari Tour</p>
                  <span>From $39,654 $15,862</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-3"
            role="tabpanel"
            aria-labelledby="toptours-3-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/safari-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Same Day Tiger Safari Tour From Jaipur All Included</p>
                  <span>From $255 $204</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    2 day South African Wildlife Safari Highlights Tour from
                    Cape Town
                  </p>
                  <span>From $292 $263</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Road to Zanzibar (9 destinations)</p>
                  <span>From $3,060 $2,448</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Jim Corbett Tour from Delhi</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Luxury India Tiger & Wildlife Safari Tour</p>
                  <span>From $39,654 $15,862</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="toptours-4"
            role="tabpanel"
            aria-labelledby="toptours-4-tab"
          >
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/safari-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Same Day Tiger Safari Tour From Jaipur All Included</p>
                  <span>From $255 $204</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    2 day South African Wildlife Safari Highlights Tour from
                    Cape Town
                  </p>
                  <span>From $292 $263</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Road to Zanzibar (9 destinations)</p>
                  <span>From $3,060 $2,448</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Jim Corbett Tour from Delhi</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Luxury India Tiger & Wildlife Safari Tour</p>
                  <span>From $39,654 $15,862</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      -->


      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Best tours">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/safari-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Same Day Tiger Safari Tour From Jaipur All Included</p>
                  <span>From $255 $204</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    2 day South African Wildlife Safari Highlights Tour from
                    Cape Town
                  </p>
                  <span>From $292 $263</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Road to Zanzibar (9 destinations)</p>
                  <span>From $3,060 $2,448</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Jim Corbett Tour from Delhi</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Luxury India Tiger & Wildlife Safari Tour</p>
                  <span>From $39,654 $15,862</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="What to expect">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/safari-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Same Day Tiger Safari Tour From Jaipur All Included</p>
                  <span>From $255 $204</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    2 day South African Wildlife Safari Highlights Tour from
                    Cape Town
                  </p>
                  <span>From $292 $263</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Road to Zanzibar (9 destinations)</p>
                  <span>From $3,060 $2,448</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Jim Corbett Tour from Delhi</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Luxury India Tiger & Wildlife Safari Tour</p>
                  <span>From $39,654 $15,862</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="Best routes">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/safari-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Same Day Tiger Safari Tour From Jaipur All Included</p>
                  <span>From $255 $204</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    2 day South African Wildlife Safari Highlights Tour from
                    Cape Town
                  </p>
                  <span>From $292 $263</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Road to Zanzibar (9 destinations)</p>
                  <span>From $3,060 $2,448</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Jim Corbett Tour from Delhi</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Luxury India Tiger & Wildlife Safari Tour</p>
                  <span>From $39,654 $15,862</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="FAQ">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/safari-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Same Day Tiger Safari Tour From Jaipur All Included</p>
                  <span>From $255 $204</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    2 day South African Wildlife Safari Highlights Tour from
                    Cape Town
                  </p>
                  <span>From $292 $263</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Road to Zanzibar (9 destinations)</p>
                  <span>From $3,060 $2,448</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Jim Corbett Tour from Delhi</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Luxury India Tiger & Wildlife Safari Tour</p>
                  <span>From $39,654 $15,862</span>
                </li>
              </ul>
            </div>
        </mat-tab>

        <mat-tab label="Best companies">
            <div class="fastival">
              <ul>
                <li>
                  <img
                    src="assets/images/safari-banner-3.png"
                    class="img-fluid"
                  />
                  <p>Same Day Tiger Safari Tour From Jaipur All Included</p>
                  <span>From $255 $204</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-4.png"
                    class="img-fluid"
                  />
                  <p>
                    2 day South African Wildlife Safari Highlights Tour from
                    Cape Town
                  </p>
                  <span>From $292 $263</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-5.png"
                    class="img-fluid"
                  />
                  <p>Road to Zanzibar (9 destinations)</p>
                  <span>From $3,060 $2,448</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-6.png"
                    class="img-fluid"
                  />
                  <p>Jim Corbett Tour from Delhi</p>
                  <span>From $736 $442</span>
                </li>
                <li>
                  <img
                    src="assets/images/safari-banner-7.png"
                    class="img-fluid"
                  />
                  <p>Luxury India Tiger & Wildlife Safari Tour</p>
                  <span>From $39,654 $15,862</span>
                </li>
              </ul>
            </div>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</section>
<section class="indigenous">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>What to expect on a safari tour</h2>
        <ul>
          <li>
            <img
              src="assets/images/expect-big-banner-1.png"
              class="img-fluid"
            />
            <div class="delve">
              <h3>Delve into local culture</h3>
              <p>
                Beyond the wildlife, a safari tour brings you face-to-face with
                the guardians of these creatures—the local communities.
                Connecting with indigenous people is an essential part of the
                journey! What tales will the Maasai of Kenya share with you?
                Will spotting a tiger in its natural habitat move you to join a
                traditional dance as the sun sets over Northern India?
              </p>
            </div>
          </li>
          <li>
            <img
              src="assets/images/expect-big-banner-2.png"
              class="img-fluid"
            />
            <div class="delve">
              <h3>Witness geological wonders</h3>
              <p>
                Escape the hustle of everyday life and step into a world of
                awe-inspiring beauty. Picture soaring above the stunning
                volcanic terrain of the Galapagos Islands, home to untouched
                wildlife and rare natural wonders found nowhere else on Earth.
              </p>
            </div>
          </li>
          <li>
            <img
              src="assets/images/expect-big-banner-3.png"
              class="img-fluid"
            />
            <div class="delve">
              <h3>Stay under starry skies</h3>
              <p>
                After a day spent exploring the wilderness, there’s no better
                way to connect with fellow wildlife lovers than sharing a meal
                together as night falls. Unwind in a cozy tent or a luxury lodge
                beneath a clear, star-studded sky, far from city lights, where
                the night sparkles like never before.
              </p>
            </div>
          </li>
          <li>
            <img
              src="assets/images/expect-big-banner-4.png"
              class="img-fluid"
            />
            <div class="delve">
              <h3>Face-to-face encounters</h3>
              <p>
                For a thrilling close-up with magnificent wildlife like lions,
                this is the ultimate adventure. You’ve seen documentaries
                showcasing incredible animals in their natural environment—now
                it’s your turn to experience it firsthand! A game drive gives
                you the chance to venture into the wild and create unforgettable
                memories just steps away from nature’s most spectacular
                creatures.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="maasai">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Join an epic Maasai Mara safari tour</h2>
        <p>
          If spotting the Big Five is on your bucket list, this Kenyan reserve
          is sure to deliver! Renowned for its incredible population of big
          cats—lions, leopards, and cheetahs—it’s also a sanctuary for black
          rhinos, elephants, wildebeest, and buffalo.
          <br /><br />
          Fancy a hot air balloon ride soaring over the endless savanna? How
          about a champagne breakfast with panoramic views of the African
          plains? Multiple game drives through one of the world’s top safari
          destinations? You’ll find all this and more in the Maasai Mara.
          <br /><br />
          And let’s not forget—“the Mara” is the stage for the Great Migration,
          one of the most breathtaking wildlife spectacles on the planet. Get
          ready for a front-row seat to nature’s greatest show!
        </p>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/safari-banner-8.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="gorilla">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Peter on his Gorilla safari tour</h2>
        <p class="text-center">
          “Seeing gorillas in the wild was an absolute dream come true! I’m
          beyond grateful to have witnessed these incredible creatures up close.
          Our group of eight tracked through the forest and finally came across
          over twenty gorillas—including adorable babies who even came right up
          to me and passed between my legs! It was truly surreal. Every part of
          the tour was amazing, and my guide was fantastic—knowledgeable,
          helpful, and passionate. Thank you so much for this unforgettable
          experience!”
        </p>
      </div>
    </div>
  </div>
</section>
<section class="europe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Top destinations for safari tours</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/safari-banner-9.png" class="img-fluid" />
            <h2>South Africa</h2>
          </div>
          <div class="rgt-nav">
            <p>
              If it’s your first time planning a safari, South Africa is an
              excellent choice. It offers abundant wildlife viewing alongside
              vibrant urban culture. With options ranging from self-drive
              adventures to private guided tours, it’s a perfect destination for
              families and couples alike.
            </p>
          </div>
        </div>

        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/safari-banner-10.png" class="img-fluid" />
            <h2>Tanzania</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Tanzania’s Northern Circuit, featuring the iconic Serengeti
              National Park and the breathtaking Ngorongoro Crater, is ideal for
              a safari adventure to spot the Big Five—perfectly capped off with
              a serene beach retreat in Zanzibar.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/safari-banner-11.png" class="img-fluid" />
            <h2>Kenya</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Kenya, a prime destination for the Great Migration, boasts
              wildlife-packed national parks and stunning natural beauty. It’s
              an excellent choice if you want to pair your safari with a
              relaxing beach getaway or an adventurous climb up Kilimanjaro just
              across the border in Tanzania.
            </p>
          </div>
        </div>
        <div class="really">
          <div class="lft-nav">
            <img src="assets/images/safari-banner-12.png" class="img-fluid" />
            <h2>Botswana</h2>
          </div>
          <div class="rgt-nav">
            <p>
              Seasoned safari travelers often seek out more remote parks or
              choose exclusive experiences like a cruise through the Okavango
              Delta or a fly-in safari, offering unparalleled 360° aerial views
              of Africa’s wildlife.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="dervishes">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Safari tours around the world</h2>

        <ul>
          <li>
            <img
              src="assets/images/safari-banner-13.png"
              class="img-fluid add"
            />
            <h3>Africa</h3>
            <p>
              When you picture a safari, Africa is usually the first place that
              comes to mind. The continent offers two distinct safari
              experiences: the vast savannahs where you can see lions,
              elephants, and the iconic Big Five, and the lush jungles of Uganda
              and Rwanda, home to our close relatives—the gorillas and
              chimpanzees.
            </p>
          </li>
          <li>
            <img
              src="assets/images/safari-banner-14.png"
              class="img-fluid add"
            />
            <h3>Asia</h3>
            <p>
              Asia is home to some of the planet’s most unique and rare
              wildlife. Encounter the elusive Bengal tiger in India’s
              Ranthambore or Nepal’s Chitwan National Parks, visit elephant
              sanctuaries deep in Thailand’s jungles, or witness the world’s
              largest lizard, the Komodo dragon, in Indonesia.
            </p>
          </li>
          <li>
            <img
              src="assets/images/safari-banner-15.png"
              class="img-fluid add"
            />
            <h3>Australia</h3>
            <p>
              Australia is a nature lover’s paradise. Stay at remote wilderness
              lodges, camp under the vast skies of the rugged Outback, hike
              around the iconic Uluru (Ayers Rock), spot kangaroos bounding
              across Kangaroo Island, or visit an animal sanctuary for a chance
              to cuddle adorable, teddy bear-like koalas.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="moderate">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Best national parks & game reserves in Africa</h2>
        <ul>
          <li>
            <h3>
              <span><img src="assets/images/relaxing-icon-1.png" /></span>
              Relaxing
            </h3>
            <p>
              Created for those who prefer a leisurely pace, our tours provide a
              genuine break from everyday life. Whether it’s luxury cruises,
              tranquil beach resorts, or ample free time to explore at your own
              rhythm, these relaxing cultural tours are perfect for seniors or
              anyone needing extra support.
            </p>
          </li>
          <li>
            <h3>
              <span><img src="assets/images/relaxing-icon-2.png" /></span> Easy
            </h3>
            <p>
              Enjoy abundant cultural sightseeing and gentle walking tours that
              reveal the hidden treasures of vibrant cities, easy camping trips
              with minimal exertion, and activities designed for all fitness
              levels. Our relaxed cultural tours are perfect for travelers of
              every age.
            </p>
          </li>
          <li>
            <h3>
              <span><img src="assets/images/relaxing-icon-3.png" /></span>
              Moderate
            </h3>
            <p>
              Dive into a rich cultural experience with a moderate adventure!
              Trek up an Andean peak, ride a camel across the Sahara, or embark
              on a thrilling Masai Mara safari. Live like a local and engage
              with tribal communities—these tours provide an immersive journey
              deep into the heart of the culture!
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="answered add">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center add">Your safari tour questions, answered</h2>
        <ul>
          <li>
            <h3>How do I know if a safari is right for me?</h3>
            <p>
              A safari tour is a multi-day adventure where you get to observe
              wildlife in their natural habitats, typically across Africa. These
              tours often include visits to several national parks and regions,
              combined with immersive cultural experiences and exciting
              activities like horseback riding, canoeing, and even hot air
              balloon rides!
            </p>
          </li>
          <li>
            <h3>How much does a safari tour cost?</h3>
            <p>
              The cost of your trip mainly depends on its duration and the type
              of accommodation and amenities you select. For instance, a
              seven-day African safari can range from around $600 to over $8,000
              USD. With Tossntrips, you can easily filter tours by destination,
              length, and price to find the perfect adventure that fits your
              budget.
            </p>
          </li>
          <li>
            <h3>Is going on a safari tour safe?</h3>
            <p>
              Safari tours are typically very safe, carefully designed to bring
              you close to wildlife while minimizing any risks—even when
              unexpected moments add to the excitement! Just be sure to listen
              closely and follow all safety instructions to enjoy an
              unforgettable experience. On Tossntrip, you can use search filters
              and read customer reviews to find the perfect safari that matches
              your comfort level and adventure style.
            </p>
          </li>
          <li>
            <h3>Do I need travel insurance for a safari tour?</h3>
            <p>
              Travel insurance is required for most adventures booked through
              Tossntrip and must be secured before your trip begins. It provides
              coverage for trip cancellations, medical emergencies, lost or
              stolen luggage, and more. This coverage is especially crucial for
              safari adventures. In many cases, you can conveniently add travel
              insurance through Cover Genius when making your Tossntrip booking.
            </p>
          </li>
          <li>
            <h3>When is the best time to go on a safari tour?</h3>
            <p>
              The ideal time for an African safari is during the dry season and
              around the Great Migration. For safaris in Asia, plan your trip
              between February and May to steer clear of the monsoon rains that
              start in June. On Tossntrip, you can easily reach out to the tour
              operator for expert advice tailored to your chosen destination.
            </p>
          </li>
          <li>
            <h3>What should I pack for a safari adventure?</h3>
            <p>
              When preparing for a safari, keep in mind luggage restrictions on
              small aircraft and the limited space in safari vehicles, as you'll
              often be moving between parks and may need to carry your own
              bags—unless you opt for a luxury experience. Be sure to check out
              our comprehensive safari packing list for all the essentials,
              clothing, gear, and medications you'll need.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
